[2019-02-15 09:05] #4060 closed

[2019-02-15 09:10] #3463 closed

[2019-02-15 09:28] sahildeliwala commented on #4060
@pantharshit00 Okay, thanks!

[2019-02-15 10:48] yahhamdii commented on #2675
docker-machine ip default
the ip address you got, put it instead of localhost in the prisma.yml file

[2019-02-15 11:24] pantharshit00 commented on #4058
As @HokumGuru has already explain that prisma is not meant to be consumed directly via the frontend. You will require to build a graphQL API with prisma and then use apollo to make queries from the frontend.

[2019-02-15 11:24] #4058 closed

[2019-02-15 15:29] DominikMueller64 commented on #2765
I fully agree with @kgoggin that this feels much more like a bug. If you want so, a bug in the relay specs, because

is not so usefull. I think it should return `true` if it can so efficiently, but rather `null` if it can't, otherwise you actually get wrong information.

From any programmer's practical point of view, this is a bug.

[2019-02-15 16:20] gregbelyea71 commented on #2377
I decided to take a stab at this to present as a possible option in the near future for putting GraphQL into play...  i worked my way through some expected issues with duplicate variable declarations and missing id fields following the introspection.... however once it all looked good and appeared to deploy, i got this message in the docker console..

 [Debug] Error during deployment for project d

[2019-02-15 22:50] jackgray commented on #1928
@Wgil I'm not sure I consider downgrading to pre-prisma-client a solution.. We need to be able to use npm and the latest stable release of prisma imo. Yarn shouldn't be necessary as it is not always up to date with prisma, at least it wasn't the last time I used it, when I was trying to move from 1.17 to 1.18, at which point I had to delete yarn to let npm be prioritized globally. If yarn is requi

[2019-02-16 12:59] chrisui commented on #3406
Hey! I've found myself on this proposal via the [@edge type proposal](https://github.com/prisma/prisma/issues/746) which was closed and where it was stated that this new proposal would resolve the issue there.

The driving use case for the previous proposal is being able to store data on the relation edges between two nodes. A great example is storing the date an edge/relation was created.

I may

[2019-02-16 13:05] hadongz commented on #4059
I have the same issue, it's asking me the schema name but when I match the database name and schema name it didn't generate _RealyId in the schema

`org.postgresql.util.PSQLException: ERROR: relation "mydb._RelayId" does not exist
  Position: 13
        at org.postgresql.core.v3.QueryExecutorImpl.receiveErrorResponse(QueryExecutorImpl.java:2433)
        at org.postgresql.core.v3.QueryExecutorImpl.

[2019-02-16 16:24] pantharshit00 commented on #3867
@FrankSandqvist

I tested it out and the behaviour is same across all versions.

[2019-02-17 06:31] matthewhuang-camelot commented on #2699
+1!

[2019-02-17 07:53] k-jun opened #4062 "Subscription filter seems doesn't work for specific field"
Hey Guys!

I think, there is a big issue in the subscription filtering.

I checked this page(https://www.prisma.io/docs/prisma-client/features/realtime-JAVASCRIPT-rsc8/i), and tried to create the endpoint to subscribe to a room. only when a new message is posted on the room, the subscription endpoint returns the message, but I got nothing from it.

when I changed { mutation_in: ['CREATED'], roomID

[2019-02-17 18:30] joshhopkins commented on #3839
Similar case as @jdspugh, need to perform diffs on object hashes – seems redundant to store another `uid` next to the `id` field.

[2019-02-17 18:30] Wgil commented on #1928
@jackgray you're right. By the way, It also worked on npm...

[2019-02-17 20:31] lensbart commented on #2372
I’m having the same issue — have you been able to fix it?

[2019-02-17 21:35] devuxer commented on #2160
I'm missing not having this after 3 hours of trying out Prisma.

[2019-02-18 02:01] ajainvivek commented on #3596
@divyenduz @nikolasburk How about seeding generated prisma client is that available as part of release `1.25.0`
reference: https://github.com/prisma/prisma-examples/blob/master/typescript/script/prisma/seed.ts

[2019-02-18 07:03] Disturbing commented on #1665
Anyone want to take this up on a bounty?  We'll pay for it :)

[2019-02-18 07:03] oney opened #4063 "Computed relation fields"
## [Feature request] Computed relation fields

Related question: https://www.prisma.io/forum/t/how-to-implement-like-by-me/6053

Let's assume we have this schema
[code]

And I want to add 4 fields `followedByMe`, `followMe`, `featuredTweets` and `likeByMe`
[code]

And of course we have to provide $currentUserId. We can put this resolver in the `ctx`
[code]
If currentUserId returns null, the relate

[2019-02-18 10:42] mavilein commented on #3960
This is indeed a bug but there's no easy way to fix it right now. However i tested this with our upcoming Datamodel v1.1 and there the bug does not occur. Therefore i suggest upgrading to the new Datamodel once we released it.

[2019-02-18 12:13] joshhopkins opened #4064 "Upsert return objects by method type"
**Is your feature request related to a problem? Please describe.**
When creating or updating objects via the `upsert` method, it would be great to have returned objects grouped by method type.

**Describe the solution you'd like**
Using the example in the [docs](https://www.prisma.io/docs/1.26/prisma-client/basic-data-access/writing-data-JAVASCRIPT-rsc6/#creating-or-updating-objects-upserts):

[co

[2019-02-18 13:59] timsuchanek commented on #3791
This is related to field preselection.

[2019-02-18 17:37] israelglar opened #4065 "Operation pre/post hooks"
It doesn't seem to be possible to set functions to fire before or after a mutation/query.
Some examples of that are
 - graphcool: https://www.graph.cool/docs/reference/functions/hooks-pa6guruhaf/
 - mongoose: https://mongoosejs.com/docs/middleware.html

What I would want is something close to these 2 libraries. Some use cases would be:
 - Before creating a user, set a property based on sent by the

[2019-02-18 18:31] nolandg commented on #3405
Does the proposed `@indexes` directive plan on solving performance issues for queries on non-unique fields like `where: {title_contains: "text"}` ?

As far as I understand, this query will be very slow unless there's a trigram index built for `title`. Would specifying `@indexes` for it cause Prisma to do something like this for Postgres:
[code]
And then `where` queries would automatically pass som

[2019-02-18 18:38] matthewhuang-camelot commented on #3846
Is there an ability to write raw SQL via the Prisma API or some other way around this for the meantime? I love what I'm seeing with Prisma, but it seems that this makes it unusable for building more resilient applications at the moment?

[2019-02-18 18:40] pantharshit00 commented on #3846
@matthewhuang-camelot

Yes, raw sql queries are possible see: https://www.prisma.io/docs/prisma-graphql-api/reference/raw-database-access-qwe4/

[2019-02-18 18:41] matthewhuang-camelot commented on #3846
@pantharshit00 Thanks! Just saw that too :D

[2019-02-19 00:26] joshhopkins commented on #4062
It's not documented, but try:

[code]

[2019-02-19 04:20] RaeesBhatti opened #4066 "There can be only one variable named 'where'"
**Describe the bug**
Duplicate variable name for `$where` when querying an array field that references a type.
[code]

**To Reproduce**
example `datamodel.prisma`:
[code]
example `prisma.yml`:
[code]
Steps to reproduce the behavior:
1. Create a new GoLang project
2. Run `prisma deploy`
3. Run `prisma generate`
4. Try to run the following with prisma generated packages imported:
[code]

**Expected

[2019-02-19 08:15] ibraheem-ghazi opened #4067 "multiple interfaces syntax error with comma and ampersand"
**Describe the bug**
- Command line `prisma deploy` throw an error when using multiple interfaces separated by ampersand but accept syntax with multiple interfaces separated by comma
-  `prisma generate` is vice versa , accepting ampersand but throw syntax error on comma
- I used hooks to call generate after deploy

**To Reproduce**
Steps to reproduce the behavior:
1. create any type implements tw

[2019-02-19 09:34] marticrespi commented on #4044
Any news about it?

[2019-02-19 11:55] frandiox opened #4069 "Prisma CLI now requires PRISMA_MANAGEMENT_API_SECRET"
**Describe the bug**
After updating CLI and server from 1.23.4 to 1.26.6, I tried to deploy some schema changes but got the following error:

 ▸    Server at https://... requires a cluster secret. Please
 ▸    provide it with the env var PRISMA_MANAGEMENT_API_SECRET

Somehow, now I need to include `PRISMA_MANAGEMENT_API_SECRET` environment variable when running `prisma deploy` to make it work. I w

[2019-02-19 12:18] mavilein commented on #3405
@nolandg:
1. Currently we have just planned for normal b-tree indexes. Do you want to open a feature request for this? I guess we should allow for customizing the type of index.
2. Yes that will work. We are not touching existing indexes.

[2019-02-19 12:42] morpherious commented on #3787
Any update on this issue?

[2019-02-19 12:44] marticrespi commented on #4019
Any new about it? I must use it without `-i` option to automate any database change.

[2019-02-19 14:00] jide commented on #3233
So in theory it's possible to use Ints for id fields ? If I do this and deploy I get this error (at least with demo servers) :
[code]

[2019-02-19 15:18] pantharshit00 commented on #4056
@Inkdpixels

I tried to reproduce it but the data you have sent doesn't contain image for those ids so this is expected can you please double check? Sorry for the delay though

![image](https://user-images.githubusercontent.com/22195362/53025805-a7165a00-3487-11e9-8519-bebf8189bd2a.png)

[2019-02-19 16:08] pantharshit00 commented on #4059
@james-ff

Looks like you are not providing schema property in the docker-compose file, please use this kind of docker-compose file. @divyenduz We should also for this in the cli.

[code]

@hadongz
I can also confirm that prisma is current creating the `_Relayid` table in `service$schema` instead of provided schema. cc @do4gr

Please create the following table manually in the meanwhile.

![image](

[2019-02-19 16:58] graph1zzlle opened #4070 "Prisma-CLI should have its own Docker image"
**Is your feature request related to a problem? Please describe.**
While trying to orchestrate Prisma for development & production deployment, I find it is not convenient that prisma-cli does not have its own Docker container. I tend to run everything using Docker containers, I do not want to install Prisma (e.g `npm install -g prisma`) on my system.

**Describe the solution you'd like**
Publish t

[2019-02-19 16:59] israelglar commented on #3855
This error is still happening on version 1.26.6.

The steps to reproduce:

The catch here is to add the @unique constraint after a initial deploy and after adding the constraint run `prisma deploy` again.

The @unique works for all fields that already had it on the first deploy, but after "redeploy" the new @unique contraints doesn't work.

But if we stop the prisma docker container and run it aga

[2019-02-19 17:31] davidboom95 commented on #148
Any advice on this feature?

[2019-02-19 17:48] pantharshit00 commented on #4062
Yes, the solution @joshhopkins suggested here is the way to go.

@nikolasburk Can we please add this to our docs.

[2019-02-19 18:08] pantharshit00 commented on #4070
@graph1zzlle

I think think there is not a very genuine use case for a CLI to be wrapped inside a docker container. If you want you can easily make one using the node image.

Also, prisma generate only requires prisma.yml and datamodel.graphql file to generate the clients.

If you are trying to avoid npm, we publish the cli on homebrew and we also a linux binary(download it from here: https://s3-e

[2019-02-19 18:08] #4070 closed

[2019-02-19 18:16] pantharshit00 commented on #4069
Hi @frandiox

Can you please try to run `prisma logout` then `prisma login` then try this again.

Also, if problem persists try to remove `.prisma` folder (it is stored in `~/.prisma`) and try logging in again. Then deploy this again.

If problem still persists let me know.

[2019-02-19 18:17] pantharshit00 commented on #4070
Also, please ping if strongly disagree @graph1zzlle

[2019-02-19 18:45] pantharshit00 commented on #4067
I can reproduce this. Here is the reproduction: https://github.com/pantharshit00/prisma-issue-4067

1st bug condition
![image](https://user-images.githubusercontent.com/22195362/53038697-60365d80-34a3-11e9-9cba-347c3035545b.png)

2nd bug condition
![image](https://user-images.githubusercontent.com/22195362/53038762-85c36700-34a3-11e9-9be5-d64d68076bad.png)

[2019-02-19 19:19] james-ff commented on #4059
@pantharshit00 Hi, I perhaps should have said originally that I am already providing a schema property in my docker-compose file. I am using a schema different to "public", my schema is "mtg", is this possibly causing the issue?

[2019-02-19 19:35] graph1zzlle commented on #4070
@pantharshit00 I do not strongly disagree because I understand and don't mind doing my own tooling. Still, I find it a bit weird a couple of things, here is my opinions:

- The Prisma Docker image naming, `prismagraphql/prisma`, does not reflect really reflect what it really is: `prisma-server`
- Homebrew and Linux Binary is not a satisfying solution for me. I want to programmatically encode my de

[2019-02-20 01:50] dzcpy commented on #1665
@Disturbing I would give a try, how do I contact you?

[2019-02-20 02:00] Disturbing commented on #1665
To refrain from putting my email address up - please join our slack on https://www.kintohub.com and reach out to me directly (Same alias as here)

[2019-02-20 02:52] frandiox commented on #4069
@pantharshit00 Tried to logout/login and also removing `.prisma` but the issue persists. Adding `PRISMA_MANAGEMENT_API_SECRET` to my `.env` is the only way to make it work now.

Do you need any other information?

[2019-02-20 04:50] pantharshit00 commented on #4069
Are you trying to deploy to a server added to prisma cloud?

[2019-02-20 04:50] frandiox commented on #4069
Yes, the server is in Now v1 and is added to Prisma Cloud.

[2019-02-20 07:34] pantharshit00 commented on #3233
@jide The new datamodel will be available in today's beta release under prototype flag in prisma.yml

I think then you will be able to use it.

[2019-02-20 07:35] pantharshit00 commented on #3787
@morpherious Currently heroku doesnt seem to allow websockets on . container deploy. You will require to host your prisma server somewhere else.

[2019-02-20 07:46] marticrespi opened #4071 "[New feature] Introspect options available"
**Is your feature request related to a problem? Please describe.**
Its a feature request.

**Describe the solution you'd like**
I would like to be available options in the introspect command, like in deploy and generate, where I can point a env file at least.

**Describe alternatives you've considered**
None.

**Additional context**
None.

[2019-02-20 08:13] pantharshit00 opened #4072 "prisma init creates a directory even if it is cancelled"
**Describe the bug**
 if we cancel prisma init workflow using ctrl+c, a directory is still created, which should not be the case

**To Reproduce**
Steps to reproduce the behavior:
1. Run prisma init abc
2. Cancel it in between

**Expected behavior**
Directory should only be created after all information is extracted from the init workflow.

**Versions (please complete the following information):**

[2019-02-20 09:21] jide commented on #3233
That's fantastic !

[2019-02-20 09:23] jide commented on #3233
So adding :

[2019-02-20 10:19] israelglar opened #4073 "Redirect prisma internal server error to client"
This issue relates to, but not exclusively, [Indexes and Constraints](https://github.com/prisma/prisma/issues/3405)

Right now it's not possible to create compound indexes with the mongo connector. My workaround to this is to create a direct connection to my dabatase and create the index on boot.

[code]

In my case I want to have unique pairs of `['fatherElement', 'name']` in my `Element` collect

[2019-02-20 10:19] pantharshit00 commented on #3233
It is current in alpha. Please wait till we release today's beta (1.28-beta)

Then install the alpha version of the cli and use the following config:

[code]

[2019-02-20 10:28] pantharshit00 commented on #4073
cc @do4gr

[2019-02-20 11:19] serranoarevalo commented on #3746
Any workaround for this? It's happening to me after introspecting a Postgres database.

[2019-02-20 11:22] serranoarevalo commented on #3751
I got this fixed by wrapping the name of the database on docker-compose.yml on double quotes " "

[2019-02-20 11:51] cihadturhan commented on #3732
Hi,
Thanks for fixing the memory leak issue. Here is the chart after update:
![image](https://user-images.githubusercontent.com/3739536/53086146-93193980-3515-11e9-8954-f13e3ca16fe5.png)
I updated on Wed 20 02:00.
There is still some increase in memory. Not sure if it's normal or there is another leakage

[2019-02-20 12:51] divyenduz commented on #3732
Thanks! This is available in the latest stable already (1.26.x), please install it via `npm install -g prisma` or `brew install prisma`.

I am closing this issue, please ping if the issue persists.

[2019-02-20 12:51] #3732 closed

[2019-02-20 16:04] joshhopkins opened #4075 "Silent mutations"
**Is your feature request related to a problem? Please describe.**
There are times when a mutation should be made, without alerting subscribers with `CREATED`, `UPDATED` or `DELETED` events.

**Describe the solution you'd like**
Allow mutations to be made "silently", ensuring subscription events are not fired. Something like:

[code]
**Describe alternatives you've considered**
The alternative is i

[2019-02-20 16:24] sntran commented on #3403
Regarding the `default` directive, what is the type of `value` argument. The example shows `Int`, but can it be used with `String` or others?

[2019-02-20 16:38] timsuchanek commented on #3585
I agree solution 1 makes the most sense as we need to take both cases into account and can print additional information there without shipping a new CLI.

[2019-02-20 19:04] georgemickael-b opened #4076 "Cannot deploy on heroku from local server"
Prisma version :prisma/1.26.6 (linux-x64) node-v8.15.0
OS : linux mint 19 (ubuntu 18.04)

NOTE : database is printed to be as "Schema"  in logs. database name is d6idulpflfr3k9

Issue while deploying to heroku from local prisma server

Deployment worker initialization complete.
Warning: Management API authentication is disabled. To protect your management server you should provide one (not both) o

[2019-02-20 19:59] danielmahon commented on #2765
Haven't gotten `hasPreviousPage` to work properly, but I was having problems getting `hasNextPage` to work until I figured out the right combination of `prisma-client` calls in my resolver, here is what worked for me in case it helps anyone:

_Hint: I'm ONLY passing the `where` arg to the aggregate call, but all args to `pageInfo`, that way `aggregate.count` will return the total of filtered items

[2019-02-20 21:14] LarsJK opened #4077 "Improve debug output by showing what requests are bundled together"
**Is your feature request related to a problem? Please describe.**
The debug output from the Prisma JS client confused me because it doesn't clearly show what queries are bundled together into one request. Which led me to believe that Prisma didn't solve the n+1 problem in the client.

_I noticed that there is actually an extra newline between requests but it would be helpful if it was clearer.._

[2019-02-21 00:48] steebchen opened #4078 "Go client: use int instead of int32"
**Describe the bug**

Prisma generates `int32` types, which is cumbersome to work with:

[code]

Origin:

https://github.com/prisma/prisma/blob/ff6ae93a7b101827ef0ea598e105758c4899ac55/cli/packages/prisma-client-lib/src/codegen/generators/go-client.ts#L52

Why is `int32` used and not `int`? Am I missing something? I think `int` should be used as [it's recommended to use this over more specific typ

[2019-02-21 08:21] divyenduz commented on #3584
This is available in the latest `beta` - `1.27.0-beta.12`, please install it via `npm install -g prisma@beta`.

[2019-02-21 08:22] divyenduz commented on #3977
This is available in the latest `beta` - `1.27.0-beta.12`, please install it via `npm install -g prisma@beta`.

[2019-02-21 08:22] divyenduz commented on #3976
This is available in the latest `beta` - `1.27.0-beta.12`, please install it via `npm install -g prisma@beta`.

[2019-02-21 08:22] divyenduz commented on #3964
This is available in the latest `beta` - `1.27.0-beta.12`, please install it via `npm install -g prisma@beta`.

[2019-02-21 08:23] divyenduz commented on #3987
This is available in the latest `stable` - `1.26.6`, please install it via `npm install -g prisma`.

[2019-02-21 08:49] mavilein commented on #3403
@sntran : Yes. The value has to have the type of the field.

[2019-02-21 09:50] divyenduz commented on #3359
This is available in the latest `alpha` - `1.28.0-alpha.13`, please install it via `npm install -g prisma@alpha`. Please be advised that this is a breaking change.

[2019-02-21 09:50] divyenduz commented on #3140
This is available in the latest `alpha` - `1.28.0-alpha.13`, please install it via `npm install -g prisma@alpha`.

[2019-02-21 10:56] serranoarevalo opened #4081 "Prisma Introspect generates invalid relation names"
**Describe the bug**
 I have introspected a Django PostgreSQL database with Prisma and the datamodel.prisma file that has been generated cannot be deployed because all the @relation names have been generated with underscores _ which makes them invalid.

Shouldn't the introspect command generate valid @relation names?

Any workaround for this?

![code](https://user-images.githubusercontent.com/3612

[2019-02-21 11:07] schickling commented on #4078
@dominikh would you mind to comment on this one? 🙏

[2019-02-21 11:57] steebchen commented on #4078
As @pantharshit00 mentioned on Slack, this idea probably comes from the GraphQL spec which describes the Int type as a 32-bit integer. I use gqlgen for the GraphQL resolvers and gqlgen uses the int type – maybe gqlgen should generate int32s instead.

However, I'd often still have to use `var a int32 = 5` instead of `a := 5`

[2019-02-21 12:27] dominikh commented on #4078
I do not have a good answer to this. Yes, it is preferred to use `int` in Go when possible, since it's the default type for integer literals, and most functions return ints. However, its size is platform specific (32 or 64 bits) and the Go types become less specific than the GraphQL schema if we use int.

Furthermore, we would have to discuss how we handle overflow. Would each method check that th

[2019-02-21 13:23] Keijun-KUMAGAI commented on #4062
@joshhopkins Thanks a lot!!
It actually works!

[2019-02-21 14:10] marticrespi commented on #4019
@pantharshit00

Now with or without `-i` option launches the interactive mode. Is a temporary solution, isn' it?

[2019-02-21 14:34] steebchen opened #4082 "Go client: Why are basic types used as a pointer?"
**Describe the bug**
Why are basic types used as a pointer?

[code]

Shouldn't basic types always used without a pointer? I don't think using pointers in simple queries doesn't add much value, it rather creates more work for the user. Also it's weird that the struct in single methods is not a pointer, although structs would be probably useful to pass as a pointer.

[2019-02-21 14:58] pantharshit00 commented on #4019
@marticrespi Since #4031 has been merged, can you please try introspecting again with 1.27

[2019-02-21 14:59] schickling commented on #4078
@vektah would you mind providing your perspective here?

[2019-02-21 15:11] steebchen opened #4083 "Go client: map DateTime to time.Time"
**Describe the bug**
DateTime is currently mapped to a string.
It would be nice if `DateTime` could map to `time.Time`, or maybe rather add a new type which maps to date for backwards compatibility and people who want to use a string.

[code]

[2019-02-21 15:45] pantharshit00 commented on #4083
cc @dominikh

[2019-02-21 15:46] pantharshit00 commented on #4082
cc @dominikh

[2019-02-21 16:13] pantharshit00 commented on #4008
This has been already fixed in the latest version (`1.27.0`).

[2019-02-21 16:13] #4008 closed

[2019-02-21 16:46] pantharshit00 commented on #4081
@serranoarevalo

Which version of cli are you using?

We recently fixed many of the introspection issues in #4031 so please upgrade to version `1.27` and try again.

If this still an issue please provide a dump of the database which you are using.

[2019-02-21 16:57] pantharshit00 commented on #4076
@georgemickael-b

Did you use our heroku integration?

If yes please paste the `PRISMA_CONFIG` variable from the config vars here?

Also, share your workspace slug as well(it is under prisma cloud settings)

[2019-02-21 17:04] georgemickael-b commented on #4076
I did not use prisma cloud. I was developing locally and tried to use heroku.

docker-compose.yml

`version: '3'
services:
  prisma:
    image: prismagraphql/prisma:1.26
    restart: always
    ports:
    - "4466:4466"
    environment:
      PRISMA_CONFIG: |
        port: 4466
        # uncomment the next line and provide the env var PRISMA_MANAGEMENT_API_SECRET=my-secret to activate cluster secur

[2019-02-21 17:13] serranoarevalo commented on #4081
Hi! I updated and now there are even more and different errors.

You want to see some sample data from the DB or the datamodel.prisma generated by the command?

[2019-02-21 17:14] pantharshit00 commented on #4081
@serranoarevalo Please, share

Also cc @ejoebstl

[2019-02-21 17:15] serranoarevalo commented on #4081
@pantharshit00 which one?

[2019-02-21 17:16] pantharshit00 commented on #4076
@georgemickael-b

Here are some instructions for deploying prisma to heroku. Please try to deploy using them: https://github.com/dpetrick/prisma-heroku

[2019-02-21 17:17] pantharshit00 commented on #4081
Both sql dump and the new generated datamodel.

[2019-02-21 17:27] georgemickael-b commented on #4076
I did not use heroku for  prisma server. I used local dev server.
I used only postgres db from heroku (external database)

[2019-02-21 17:31] pantharshit00 commented on #4081
@serranoarevalo

Just noticed that introspection improvements were merged into beta for now.

Can you please try `npm i -g prism@beta` and try again?

[2019-02-21 17:53] serranoarevalo commented on #4081
I updated to @beta and I still have errors, you can find the requested files below:

Datamodel: https://gist.github.com/serranoarevalo/cbb63a2ea0726e7f46c47431ff429da4
Errors on deploy: https://gist.github.com/serranoarevalo/9c8a1b2cc65999b9367f8c927691faa1
Dump: https://gist.github.com/serranoarevalo/40c24f32920ef9ce01470aaffe85d98d

[2019-02-21 18:10] BiscuiTech opened #4085 "Prisma deploy Error: Token is issued in the future (iat)"
**Describe the bug**
On execution of `prisma deploy`, the CLI responds with `Error: Token is issued in the future (iat).`

**To Reproduce**
Steps to reproduce the behavior:
1. Execute `prisma deploy`

**Expected behavior**
The expected behavior would be to correctly deploy the schema to the hosted DB, and execute the post-deploy script to get the generated schema.

**Screenshots**
Here is the full

[2019-02-21 18:22] pantharshit00 commented on #4085
@BiscuiTech
Can you please check your server's system time?

Also, please check your own machine's system time. It looks like somehow `iat` is exceeding the current time in the server.

[2019-02-21 18:35] BiscuiTech commented on #4085
Thanks for the quick reply.

On my own machine - local dev (where `prisma deploy` is executed):
Thursday, February 21, 2019 1:33:55 PM

On the hosted prisma server:
Thu Feb 21 13:33:52 EST 2019

On the DB:
"2019-02-21 13:33:57.889423-05"

Please disregard the seconds as I had to manually switch windows to excute those commands.

[2019-02-21 18:40] pantharshit00 commented on #4085
Time looks good. cc @mavilein any idea here?

[2019-02-21 19:47] jide commented on #3233
I've tried adding prototype to prisma.yml, both with the alpha and since then with the fresh 1.28 beta. But I keep getting the error :
[code]

I use demo servers. Something I overlooked ?

[2019-02-21 20:00] pantharshit00 commented on #3233
@jide

You need to add this to  docker-compose file , not to the prisma.yml

[2019-02-21 20:02] do4gr commented on #3855
Thanks for the detailed description @israelglar, I'll look into it next week.

[2019-02-21 20:05] do4gr commented on #4073
A whoops indicates an exception that we do not have an internal error for yet. I can look into this next week and check whether this is a common error scenario that we can catch and output as a custom error.

[2019-02-21 20:13] jide commented on #3233
Ah ok thanks, so I guess demo servers are not concerned atm ? they have this flag off I guess.

[2019-02-21 20:16] pantharshit00 commented on #3233
Yes, demo servers has this off as this is even very new for demo servers

[2019-02-21 20:23] BiscuiTech commented on #4085
I have fixed this issue by changing my internet provider to gov on my dev machine.

I realized there was a slight 8 seconds delay between my local dev and the hosted server. Although very slim, it caused an iat error.

Thanks for the insight @pantharshit00 .

[2019-02-21 21:25] jide commented on #3233
So I set up a docker instance with 1.28 beta, and the new directives seem to work: I can deploy the datamodel.

But it does not seem to have any effect on the generated graphql API, there is no id field in the create* mutations, ids are still auto-generated. If I try using Int for ids, The server errors.

Mutation works, but the id is auto-generated :
[code]

Mutation fails ("Whoops. Looks like...

[2019-02-21 23:05] vektah commented on #4078
I think int is more idiomatic, int32 isn't adding any more validation, it's just overflowing silently as Dom points out. Pushing the user to check means this validation will not get done. It should be in the library as close to the raw input as possible.

Is there an escape hatch if you want larger numbers? Eg 64, or even bigint? I guess it's just string?

[2019-02-21 23:16] vektah commented on #4078
You can do this yourself if you like, just copy out the [default implementation](https://github.com/99designs/gqlgen/blob/master/graphql/int.go), change it to int32 and override it in your config.

[2019-02-22 07:18] LawJolla commented on #1936
We really need help on features like these (and basic text search).  I know you can't send out press releases like Nexus or the next DB adaptor, but it's these issues that keep everyone writing SQL queries and not bothering.

[2019-02-22 07:35] marticrespi commented on #4019
@pantharshit00 I have seen your deleted answers in my email. I can't try if works or not, I can't use normal mode as before, always pop up interactive mode.

[2019-02-22 08:55] Archivolt1 opened #4086 "Cannot deploy to external Postgres"
**Describe the bug**
I am encountering an issue I am having a little trouble pinpointing. After updating to 1.27.0 I started having the issue described below. I tried to upgrade to the 1.28.0-beta and still encountered the same issue. I tried to roll back to 1.26.4 and I now have the issue below on that version.

**Docker File**
[code]

**prisma.yml**
[code]

**Console Log of Docker Container**
[c

[2019-02-22 08:59] pantharshit00 commented on #4086
@Archivolt1

Can you please try to remove the schema property from docker-compose file and try again?

[2019-02-22 09:09] Archivolt1 commented on #4086
**With the schema property removed:**

**Altered Docker File**
[code]

**docker logs**
[code]

**prisma deploy Output**
[code]

**Additional Info**
`ERROR: schema "example" does not exist`
**example** is the same name of the database and user specified in the docker file.

[2019-02-22 09:16] pantharshit00 commented on #4086
@Archivolt1

Can you also remove the database field as well. Prisma will automatically create it for you.

[2019-02-22 09:19] Archivolt1 commented on #4086
**Altered Docker File**
[code]

**Docker Compose Log**
[code]

[2019-02-22 09:47] schickling commented on #4078
Seems like we should then go ahead and change from `int32` to `int`. Any objections @dominikh?

@steebchen would be great to raise a PR for this 🙏

[2019-02-22 10:34] #3928 closed

[2019-02-22 10:46] dominikh commented on #4078
No objections from me if you're happy with it.

[2019-02-22 12:50] divyenduz commented on #2504
@redbluenat : Thanks, there are a lot of issues mentioned in this thread, can you please create a new issue for which one(s) of them have regressed here: https://github.com/prisma/prisma/issues/new?template=bug_report.md

[2019-02-22 14:49] israelglar opened #4088 "Multiple embedded types bug"
**NOTE:** This problem may be with `nexus-prisma` and not `prisma-client-lib`. I'm sorry if that's the case.

**Describe the bug**
There's a bug with prisma-client-lib where if you have chained embedded types, it's not possible to query the embedded fields on 2nd or 3rd level.

**To Reproduce**
I have these embedded types
[code]

In the database the result should look something like this:
[code]

[2019-02-22 15:05] israelglar commented on #4073
Great, thanks! I can contribute with a PR with some help. I already tried to understand the codebase, but it's a little complex, and I will need some time to understand what's is happening..

About the error, it would be great if for all the "Whoops" errors there was an option or a hidden property on the error that is sent to the prisma-client that was the raw error from the DB or something like t

[2019-02-22 15:53] jackgray commented on #3105
I am receiving this error when using `# import * from './generated/prisma-client'` to automatically expose my entire generated api for development. This used to work, then suddenly threw this error. I restarted the project because it was too big to troubleshoot, got it working fine, did some work on the client and came back to this error. I can't think of any edit I made since then. Minimum repo h

[2019-02-22 17:00] jonyamado10 commented on #4088
I have a similar Issue.
With this types:
![image](https://user-images.githubusercontent.com/28900530/53257422-fcd64680-36c1-11e9-9001-298e0615fe3e.png)

If I ask for the inputData{type} to be returned I get :
![image](https://user-images.githubusercontent.com/28900530/53257880-1f1c9400-36c3-11e9-9476-76b3199bc604.png)

if I don't I get no error.

I'm also using * `prisma-client`, `nexus-prisma`.

[2019-02-22 17:30] pantharshit00 commented on #4081
@serranoarevalo

Looks like the generate name is exceeding the character limit.

This will require a fix.

[2019-02-22 18:10] steebchen commented on #4078
Okay. What about `float64`? It seems that gqlgen maps Int to int and Float to float64 (@vektah why though?).

[2019-02-22 18:23] dominikh commented on #4078
See https://github.com/prisma/prisma/issues/3745 for floats.

[2019-02-22 19:37] ejoebstl commented on #4081
Hello,

thanks for the files @serranoarevalo, very helpful. I was able to reproduce the issue.

It seems like the CLI is printing an unnormalized datamodel. The duplicate fields and relations names which cause issues here should not even be part of the result.

[2019-02-22 20:35] ejoebstl commented on #4081
Does this [introspection result](https://gist.github.com/ejoebstl/dc19368ae5695bedf2e6111fc2e2d108) look better?

I've pushed a fix [here](https://github.com/prisma/prisma/pull/4090).

That eliminates most problems with the current stable server (1.27). The remaining issue right now is that integer IDs are not support.

[2019-02-22 21:11] Archivolt1 commented on #4086
I believe I have found the solution to the issue. It is related to PostgreSQL and uppercase folding down to lowercase. I renamed all my types to lowercase only (so that the tables generated would only have fully lowercase names in the database) and now **prisma deploy** works as intended. I am unsure if this is a Prisma issue with unintended functionality or if this is a Postgres issue.

[2019-02-22 21:52] Eiskis commented on #4016
Even though this is closed, wanted to leave a note here for the generations that come after me:

**Don't use whitespace in your secret:** there seems to be inconsistencies when Prisma generates/matches a token to the secret if you do. I spend a few hours trying to figure out why only Prisma-generated token would work, but turns out everything was good to go once I changed to a new secret without w

[2019-02-23 08:52] pantharshit00 commented on #2880
Added the feature label so that bot doesn't mark this as stale.

[2019-02-23 10:23] pantharshit00 commented on #3741
I think this is no longer an issue.

[2019-02-23 10:23] #3741 closed

[2019-02-23 10:35] pantharshit00 commented on #3110
Added feature label to avoid stalebot

[2019-02-23 10:37] pantharshit00 commented on #2694
@divyenduz

I think this can be closed as the current getting started workflow includes this.

[2019-02-23 10:37] #2694 closed

[2019-02-23 10:38] pantharshit00 commented on #3686
I think this can be closed now since #4031 is merged

[2019-02-23 10:38] #3686 closed

[2019-02-23 10:40] pantharshit00 commented on #3453
Added feature label to avoid stalebot

[2019-02-23 10:43] pantharshit00 commented on #3513
This will get fixed in the new prisma client v2: https://github.com/prisma/rfcs/blob/new-ts-client-rfc/text/0000-new-ts-client.md#withpageinfo

See `withPageInfo()`

[2019-02-23 10:43] #3714 closed

[2019-02-23 10:47] pantharshit00 commented on #3634
This is already available in versions after [1.23.0](https://github.com/prisma/prisma/releases/tag/1.23.0)

[2019-02-23 10:47] #3634 closed

[2019-02-23 10:52] pantharshit00 commented on #3105
@jackgray I think I already helped you around this over slack.

[2019-02-23 11:01] RevNelson commented on #3601
I had this issue as well and found that using
[code]

[2019-02-23 11:49] pantharshit00 commented on #3601
Hi @RevNelson

This is a limitation of ES modules.

If you can import it like this:
[code]

See: https://github.com/motdotla/dotenv#how-do-i-use-dotenv-with-import

[2019-02-23 12:06] dominikh commented on #4082
Fields that are marked optional in the GraphQL schema are implemented as pointers in Go, while fields that are required aren't.

Go doesn't have a `Maybe` type, so the most common way of implementing optional values is via pointers. This allows us to tell apart "no value" from "zero value". For example, an age of `0` is different from `no age`. This becomes even more important in operations that u

[2019-02-23 12:12] dominikh commented on #4083
How do the other clients handle the fact that DateTime can represent different levels of precision? That is, it can be just a year, year + month, and so on up to a full date + time + timezone. Are they all mapped to an ordinary DateTime type with default values for the missing components, or do we track which values were provided?

As for

I think the Go generator is new enough that consistency is

[2019-02-23 12:17] dominikh commented on #4023
I agree with this. In particular, it is in line with the API I had in mind for raw database queries.

This is a backwards incompatible change, but I suspect we're fine with that. @timsuchanek?

[2019-02-23 12:23] dominikh commented on #3277
@divyenduz See @mbenaiss's comment. Should this issue be reopened?

[2019-02-23 13:25] divyenduz commented on #3277
@dominikh, @mbenaiss : Even this one is fixed in the latest version (`1.27.x`) of Prisma CLI via https://github.com/prisma/prisma/pull/3915

Please install it via `npm install -g prisma` and let me know if the problem persists.

[2019-02-23 15:52] eweilow commented on #4086
I'm getting the same thing with `prismagraphql/prisma:1.27`, but not on `prismagraphql/prisma:1.26.4`

[2019-02-23 15:59] pantharshit00 commented on #4086
Cc @do4gr, Looks like this is caused to the recent database property fix you did.

[2019-02-23 16:05] steebchen commented on #4082
I am aware of non-existent null types in Go apart from pointers, but I was rather suggesting types like NullString, NullInt, etc. (like the sql package provides). However, after reading your comment, I just realized this would make everything even more complicated than just using pointers so forget that. Thanks for the explanation and the hint for the helpers.

About the struct parameters, though:

[2019-02-23 16:09] dominikh commented on #4082
Structs are another case of required vs optional. Creating a user requires data on the user, but a user isn't required to have a `Connect`. Similarly, getting a single user requires a query, getting a list of users accepts a query optionally.

It can be summarized as: pointers for optional values, no pointers for required values.

[2019-02-23 16:11] steebchen commented on #4082
Argh. Makes sense. I'm thinking in other languages too much. Thanks!

[2019-02-23 16:11] #4082 closed

[2019-02-23 16:30] nolandg commented on #2194
@mavilein I'm confused when you say you've implemented this a few weeks ago. The OP is talking about nested upserts within create mutations. When I read through the docs and look at the generated schema, there seems to only be nested upserts within update or upsert mutations.

ie. When creating a node, I want to upsert a connected node. Is this possible yet? The workarounds don't seem to be transa

[2019-02-23 16:45] linocatucci commented on #2753
Hello,
same problem here:
2019-02-23T16:17:58.029511100Z
Feb 23, 2019 4:17:58 PM org.postgresql.Driver connect
SEVERE: Connection error:
org.postgresql.util.PSQLException: FATAL: permission denied for database "postgres"
  Detail: User does not have CONNECT privilege.
at org.postgresql.core.v3.QueryExecutorImpl.receiveErrorResponse(QueryExecutorImpl.java:2433)
at org.postgresql.core.v3.QueryExecut

[2019-02-23 18:00] steebchen commented on #4083
I just think that dates should map to the native type in each language, which would be `time.Time` for Go and `Date` for JS.

When I understood correctly, you're asking on how to handle unprovided values for a date, e.g. when only providing a year. It would make sense to just map the missing values to zeros, e.g. `Date('2019-02-23')` becomes `2019-02-23T00:00:00.000Z` internally.

[2019-02-23 18:03] seunggs commented on #1907
Has there been any progress with this? Having the same issues - this is a pretty common use case especially with images as commented above.

[2019-02-24 13:57] serranoarevalo commented on #4081
Thanks a lot for looking into this!

Any ETA for this?

[2019-02-24 16:58] mbenaiss commented on #3277
@dominikh, @divyenduz: 👋yes I confirm that this problem has been fixed Thanks 👍

[2019-02-24 17:07] IngoValente opened #4093 "Pagination argument 'after' and 'before' broken since 1.27"
**Describe the bug**
When I try to query a connection type query with version 1.27 and use the 'before' or 'after' argument, prisma throws an internal server error. When downgrading prisma server to 1.26.4 it works correctly.

**To Reproduce**
Steps to reproduce the behavior:
1. Clone prisma example with docker & postgres: https://github.com/prisma/prisma-examples/tree/master/node/docker-postgres

[2019-02-24 19:03] LawJolla opened #4094 "All Queries Break on 1.27 and 1.27.1"
**Describe the bug**
[code]

Returns  (Where "Vehicle" is the node)
[code]
**To Reproduce**
Used Prisma's Heroku deployment.  Upgraded the container from 1.26.4 to 1.27.0 and 1.27.1.  Ran any query and get the above error.

Rolling back to 1.26.4 fixes all errors.

**Expected behavior**
Queries to return without errors.

**Screenshots**
<img width="1050" alt="image 2019-02-24 at 12 00 38 pm" src="

[2019-02-24 19:43] StefTriv71 commented on #4076
@georgemickael-b Are you still having this issue? I just ran into today, while yesterday was working just fine and I did not touch nor update anything.

[2019-02-25 06:40] marticrespi commented on #4044
@pantharshit00 is this on the way to be fixed? It's primordial that working fine to be used. I have updated `prisma-client-lib` and `prisma` to 1.27.1 and it still doesn't work.

[2019-02-25 09:13] marticrespi opened #4095 "[1.27.1] datamodel arrays bug"
**Describe the bug**
We are losing nested arrays in an object.

**To Reproduce**
re-launch `prisma introspect` over a postgresql object which includes a 1-N relation.

**Expected behavior**
Generate arrays, not an object.

**Screenshots**
![image](https://user-images.githubusercontent.com/6670879/53326433-e27cb280-38e5-11e9-9294-efa9da103dae.png)

**Versions (please complete the following informat

[2019-02-25 09:43] mattdamon108 commented on #4081
#3746
I had raised the same issue before, I hope this fixed soon.

[2019-02-25 09:51] michaelspeed commented on #4086
this is happening to prisma >1.25, postgres migration is not working

[2019-02-25 10:14] Nishchit14 commented on #3142
@timsuchanek
Can you say about any future for the browser support?  Can we wait for it or start with server-side now?

[2019-02-25 12:09] mavilein commented on #2194
@nolandg : Ah i misunderstood this issue then. That original feature request does not make sense though with our semantics. An `upsert` in our API either update the connected node or create a new node and connect it.
So i guess what we really want is an `connectOrCreate`.

[2019-02-25 13:00] pantharshit00 commented on #4094
Hi @LawJolla

Can you please share your datamodel with us? I am unable to reproduce this issue right now. I also tried to upgrade one of my current projects but all of them are working fine right now.

[2019-02-25 13:24] do4gr commented on #4086
I'll have a look. Thanks for the detailed reports!

[2019-02-25 13:39] pantharshit00 commented on #4093
@IngoValente

I am able to confirm this reproduction

Here is the request log

[code]

cc @do4gr @divyenduz

[2019-02-25 16:27] do4gr commented on #4086
We identified and fixed one issue. But from your description it's not 100% clear whether that was the problem you ran into.

The combination of providing a schema name and migrations was a new feature for us. The connector was not actually creating a schema with the provided name but was assuming that there is already a schema with that name that it could just write into. We changed that so that a

[2019-02-25 17:48] jjwedemyer opened #4098 "PSQL Multi-Schema introspection support"
Hi,
i have a database structured in multiple schemas seperating Users and Quests from each other, but interconnecting FKs.
Since Prisma does not seem to consider mulitple schemas it can't resolve a FK from Quests to Users.
On that point it breaks and ends the introspection.

I have no clue if that's a considerable issue, nor if this is simply solvable.

[2019-02-25 19:08] david-on-github commented on #3603
I am also experiencing null previousValues with prisma client 1.27.1.

I have made a reproduction using the primsa-examples/typescript/graphql-subscriptions repository.
https://github.com/david-on-github/primsa-client-deleted-subscriptions

[2019-02-25 19:31] tanekim77 commented on #1642
I need it too

[2019-02-25 23:03] Archivolt1 commented on #4086
@do4gr The issue I had was related to the first resolved issue you mentioned. It should be resolved now.

[2019-02-25 23:03] #4086 closed

[2019-02-26 02:32] lnmunhoz commented on #2160
Hey guys? This looks pretty simple to implement since Prisma already have updateMany. What are the blockers?

[2019-02-26 07:30] deepak-kapoor opened #4099 "Can't resolve 'fs' in /node_modules/prettier"
**Describe the bug**
I generated prisma client by running ```prisma generate```

I then copied the generated folder to my next app

After installing prisma-client-lib I get this error when I run my app

Can't resolve 'fs' in /node_modules/prettier

[2019-02-26 09:07] sandorTuranszky commented on #3405
Will [TTL Indexes](https://docs.mongodb.com/manual/core/index-ttl/#ttl-indexes) feature be available? @mavilein

I need to set TTL for values so they get removed after some time automatically by MongoDB.
E.g. in Mongoose I can do this:

[code]

so the validation token is removed after 4 hours

[2019-02-26 09:27] nikolasburk commented on #3585
I'm currently adding a `Troubleshooting` section to [this](https://www.prisma.io/docs/prisma-server/authentication-and-security-kke4/) docs page with the required info.

Let's adjust the CLI error message to:

"Server at __URL__ requires the Management API secret. Please set the the PRISMA_MANAGEMENT_API_SECRET environment variable.

Learn more about this error in the docs: https://www.prisma.io/d

[2019-02-26 09:36] #4099 closed

[2019-02-26 10:16] marticrespi opened #4100 "Prisma introspect without interactive mode"
I want to know if when some bugs about introspection are fixed, we will have available prisma introspect function without interaction as before (now with or without `-i` always pop up interaction mode), because if you want to automate some processes on server side, it's impossible to do any interaction with.

[2019-02-26 10:17] marticrespi commented on #4019
Closed. #4100

[2019-02-26 10:17] #4019 closed

[2019-02-26 10:55] nikolasburk opened #4101 "Remove _RelayId table"
Prisma still maintains a `_RelayId` table under the hood that is created with every Prisma service. This table should not be created any more.

![image 7](https://user-images.githubusercontent.com/4058327/53414166-61e5b100-39ce-11e9-8448-b9f781e49d55.png)

[2019-02-26 11:54] pantharshit00 commented on #4095
I can confirm this cc @ejoebstl

The sql dump I used: https://github.com/pantharshit00/prisma-issue-4019/blob/master/tables_dump_8_February_2019.sql

[2019-02-26 12:20] mavilein commented on #3405
@sandorTuranszky : We haven't planned for that yet. Can you create a separete issue for that feature? Then we can implement this quickly after the initial implementation.

[2019-02-26 12:30] #4076 closed

[2019-02-26 12:45] pantharshit00 commented on #4093
I can still reproduce this in 1.27.2

[2019-02-26 13:26] sandorTuranszky opened #4102 "MongoDb TTL Indexes"
Would be great to have [TTL Indexes](https://docs.mongodb.com/manual/core/index-ttl/#ttl-indexes) feature to set TTL for values so they get removed after some time automatically by MongoDB.

E.g. to ensure that the validation token is removed after 4 hours, It could look like that:

[code]

E.g. in Mongoose it can be done this way:

[code]

[2019-02-26 13:27] sandorTuranszky commented on #3405
@mavilein Created an issue [4102](https://github.com/prisma/prisma/issues/4102)

[2019-02-26 14:32] nikolasburk commented on #3585
When the `MANAGEMENT_API_SECRET` is set incorrectly, the CLI error message should say:

"Can not authenticate against Prisma server. It seems that your PRISMA_MANAGEMENT_API_SECRET environment variable is set incorrectly. Please make sure that it matches the value that was used when the Prisma server was deployed.

For more info visit: https://www.prisma.io/docs/prisma-server/authentication-and-se

[2019-02-26 14:36] do4gr commented on #4093
Thanks for reporting this @IngoValente . We'll release a fix today.

[2019-02-26 14:51] IngoValente commented on #4093
Thank you guys for the quick fix!

[2019-02-26 15:49] do4gr commented on #4094
We released a fix for a Postgres issue that looks similar to this one earlier today. Could re-check whether the latest release 1.27.2 fixes your problem?

[2019-02-26 16:00] do4gr commented on #4059
Hey @james-ff, we just released a fix for similar issues with 1.27.2. Could you please check whether that solves your problem? If not, just let me know and I'll try to identify your issue.

[2019-02-26 16:05] nikolasburk commented on #4041
- [ ] Adjust wording from Demo server to also include Demo database

[2019-02-26 16:12] #4093 closed

[2019-02-26 17:08] LawJolla commented on #4094
Hi @do4gr ,

I tried 1.27.3 and can confirm the fix.  Thanks so much!!

[2019-02-26 17:08] #4094 closed

[2019-02-26 21:00] Lotuashvili commented on #2992
+1 Without a Docker 👍

[2019-02-26 22:38] james-ff commented on #4059
I'm afraid the same error is appearning in the logs from version 1.27.3.

`Exception in thread "main" org.postgresql.util.PSQLException: ERROR: no schema has been selected to create in
  Position: 35`

Any idea if this is this referring to the schema property of the postgres connector set up in the docker-compose file?

[2019-02-26 22:41] P4sca1 commented on #3531
Would also like to see prettier integration for the typescript client, similar to how graphqlgen handles this.

[2019-02-27 10:03] ejoebstl commented on #4095
Hello,

That behavior should be fixed already. With the current alpha branch, the introspection result looks [like this](https://gist.github.com/ejoebstl/53f34e9e3e0a819ffa22dc996e7f891c).

[2019-02-27 10:43] marticrespi commented on #4095
Thanks! It will be included in the next release? @ejoebstl

[2019-02-27 10:47] pantharshit00 commented on #4095
@marticrespi

You can try it right now

[code]

[2019-02-27 11:05] marticrespi commented on #4095
@pantharshit00 Hi, I have tried just now and I only can see a change, boolean values between quotes with alpha current version.

`prisma/1.29.0-alpha.6 (windows-x64) node-v8.9.4`

![image](https://user-images.githubusercontent.com/6670879/53485970-d92b4b80-3a87-11e9-8e8d-0bebc9255b93.png)

[2019-02-27 12:06] pantharshit00 commented on #295
related to #4012

[2019-02-27 13:19] #3415 closed

[2019-02-27 13:22] do4gr commented on #2795
I'm closing this since we did some fixes in that area to close more recent issues and this issue has not seen any more recent reports. If you still experience issues on 1.27.3 or higher please let us know.

[2019-02-27 13:22] #2795 closed

[2019-02-27 13:31] do4gr commented on #3095
We are working on an improved datamodel that does not have this restriction anymore, see here:  https://github.com/prisma/prisma/issues/3408

This will go into a closed beta in the next weeks.

[2019-02-27 13:56] #3748 closed

[2019-02-27 14:32] jide commented on #3233
I'm super confused, why is there no change to the prisma graphql API with the new datamodel ?

[2019-02-27 14:37] do4gr commented on #2903
That will be fixed with our upcoming datamodel v1.1

[2019-02-27 14:56] do4gr commented on #2941
This should be fixed in the latest version 1.27.3. Please reopen if you still run into issues.

[2019-02-27 14:56] #2941 closed

[2019-02-27 15:34] ejoebstl commented on #4095
@pantharshit00 For reference: This issue (booleans being rendered as strings) was fixed a while ago, so this is very odd.

@marticrespi Could you please share your workflow? I assume you are running `prisma introspect`, but without a `prisma.yml` or existing datamodel.

[2019-02-27 15:54] pantharshit00 commented on #3233
I think for `Int` you need to define a sequence

[code]

cc @mavilein , please clarify this

[2019-02-27 15:59] mavilein commented on #3233
`@id(strategy: NONE)` is not implemented yet. Someone will implement it in the next weeks. cc: @do4gr
The example provided by @pantharshit00 should work.

[2019-02-27 16:26] jide commented on #3233
Ahhh okay makes sense ! Thank you for the explanation.

[2019-02-27 16:45] do4gr commented on #2194
We are thinking about implementing this soon, so here is a draft of what it could look like:

[code]

The where would accept any field marked as unique in the datamodel, and the create would require the normal CreateInputType. It is not required to have the same value of the where for the respective field in the create.

In the mutation above we would check for a Post with the specified unique tit

[2019-02-27 17:06] do4gr commented on #2323
We are thinking about implementing this very soon, so here is a draft of what it could look like:

In order to simplify the process we will forego the CLI flags and always set migration / default values with default values taking precedence if they are provided. If different migration values are desired by the user the `@default` directive can be used to provide them. This is quicker than the curr

[2019-02-27 18:24] JosephCarrington commented on #4069
I am having the same issue. No matter how many times I log out and back in, or delete the ~/.prisma folder, I get the same error.

[2019-02-27 18:36] tafelito opened #4106 "disconnect not working with mongo connector"
**Describe the bug**
The disconnect property seems no to be working when using the mongo connector.
I have 2 collections, Rules and Groups, this is my schema

const typeDefs = `
  type Rule {
    id: ID!
    name: String!
    description: String
    disabled: Boolean!
    group: RulesGroup!
  }

  type RulesGroup {
    id: ID!
    name: String!
    status: RulesGroupStatus
    rules: [Rule!]!
  }

[2019-02-27 18:55] JosephCarrington commented on #4069
If I roll back two minor versions to 1.25, the issue no longer happens

[2019-02-27 20:49] chrisui commented on #3629
@divyenduz Using `1.27.3` I see a root `postsConnection` on `Query` type however I do not see `postsConnection` on my `User` type despite having `type User { posts: [post] }`. Is this expected?

[2019-02-27 23:22] lejager commented on #28
+1

[2019-02-28 04:27] divyenduz commented on #3629
@chrisui Can you please create a new issue with a minimal reproduction? Here: https://github.com/prisma/prisma/issues/new?template=bug_report.md

Thanks

[2019-02-28 04:38] frandiox commented on #4069
Now that I think about it, this issue looks similar to another one I reported some time ago: https://github.com/prisma/prisma/issues/3306

In that case I thought my problem was in the deployed Prisma server but now I think that maybe adding `PRISMA_MANAGEMENT_API_SECRET` to the `.env` file would have fixed it 🤔

[2019-02-28 06:10] marticrespi commented on #4095
Hi @ejoebstl , I'm running `prisma introspect` with `prisma.yml`, here you have

[code]

And my current datamodel is this:

[code]

Thanks!

[2019-02-28 08:56] mavilein commented on #2323
@do4gr : Looks good to me. The only thing i am wondering is whether this should apply to updating fields as well if the type gets changed.

[2019-02-28 10:35] tanekim77 opened #4109 "Regex support needed"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2019-02-28 19:44] jakerainis commented on #3469
Thank you so much for this. I was pulling my hair out.

[2019-02-28 23:21] brentinator0 commented on #2699
+1!!!!!!!

[2019-03-01 03:10] omidahourai commented on #1228
I'm curious about this too, adopting custom directives to the workflow would make things like auth & roles so much easier. Any updates?

[2019-03-01 08:21] aalpgiray commented on #2783
When I enable multitenancy only thing I get was a new DB schema for each project. However, I need to specify a new DB connection.
This information is old because it belongs to an old version. But, it is also vague.
https://www.prisma.io/docs/reference/prisma-servers-and-dbs/database-connectors/overview-eiw6ahgiet/

[2019-03-01 09:00] williamluke4 commented on #3611
Hey @schickling,  Has there been any progress on this or at least a recommended workaround?

[2019-03-01 11:06] do4gr commented on #4044
You might have heard that we are transitioning to a new datamodel, see https://github.com/prisma/prisma/issues/3408.

For this we will soon start a closed beta. I tested the functionality using that datamodel and there it works. I'll invite you once the beta starts and then it should work for you. Since we are so close to switching over we'll not fix this bug for the old datamodel though.

[2019-03-01 12:02] do4gr commented on #3183
Hey,
this sounds like a case where there could be data already in the db.
What was your process for exporting/importing?
Did you export and import from the same project?
Did you wipe the data from the db in between? How? With Prisma reset? Or did you just restart the db container?

If you have a current reproduction available @k0ff33 or @tomitrescak, I'll look into it.

[2019-03-01 12:19] pantharshit00 commented on #4109
Hi @tanekim77

Can you please edit your original comment to include some background about and use case and in which queries you want this feature.

[2019-03-01 12:35] k0ff33 opened #4115 "[1.27.1] Increased timeout breaks existing deploys on Heroku"
**Describe the bug**
I believe increasing the request timeout in v1.27.1 (22c83ce) breaks Heroku deployments.

After upgrading my Prisma instance from v1.25 to v1.27 on Heroku, I ended up with a non-descriptive `ERROR: GraphQL Error (Code: 503)` when running `prisma deploy` on an existing service. Upon checking the dyno logs, I've discovered an H12 error - "Request timeout". After downgrading to v

[2019-03-01 13:00] do4gr commented on #3012
This was fixed by https://github.com/prisma/prisma/pull/3971

[2019-03-01 13:07] do4gr commented on #3698
This should be fixed by
You might have heard that we are transitioning to a new datamodel, see #3408.

For this we will soon start a closed beta. I tested the functionality using that datamodel and there it works. I'll invite you once the beta starts and then it should work for you. Since we are so close to switching over we'll not fix this bug for the old datamodel though.

[2019-03-01 13:10] do4gr commented on #2323
Good point. I think this should also populate if the type of a field changes AND it is required. Otherwise I think it's fine to have null there.

[2019-03-01 13:24] D2KX commented on #4088
Same problem here with Prisma+Nexus-Prisma+MySQL

[2019-03-01 13:38] RafaelMLMacedo commented on #3215
That solved my issue as well. thanks 😀

[2019-03-01 13:57] #3258 closed

[2019-03-01 13:57] do4gr commented on #3258
We'll release a fix today for this. Sorry that it took so long and thanks for the detailed reproduction!

[2019-03-01 15:41] vjsingh commented on #3312
Any update on this? Seems like a pretty good idea =)

[2019-03-01 16:39] #2053 closed

[2019-03-01 21:33] ameistad commented on #4085
I also encountered the issue and had to use another time server on my development machine. Shouldn't this be fixed?

[2019-03-01 22:05] CaptainChemist commented on #2992
I would love this! Any idea if it would work in a lambda express server or would the focus be on an express server that is continuously running?

[2019-03-02 01:12] ianjanicki commented on #3961
Can confirm. This goes both ways, including Float -> Int.

[2019-03-02 04:08] Shion093 commented on #3896
Having the same error with the same scenario, second level nested embedded type.

[2019-03-02 17:35] ianjanicki commented on #3961
Easiest workaround for those facing this issue:
* Remove field(s) in question; deploy
* Add fields back in (with proper `Int` or `Float` type); deploy

[2019-03-02 20:11] timdebacker commented on #3964
Great news. Thanks a lot!

[2019-03-03 10:18] Cherubeam commented on #2347
Issue seems to be still unsolved.

[2019-03-03 17:51] adilasif commented on #1642
Is this being worked on? Don't see a branch that seems relevant. If it is, I'd love to get my hands dirty and help get it finished.

[2019-03-03 22:17] cr101 opened #4120 "Database - Connection is not available"
**Describe the bug**
I am following this [Get Started guide](https://www.prisma.io/docs/get-started/01-setting-up-prisma-new-database-JAVASCRIPT-a002/) verbatim.

Prisma doesn't run on http://localhost:4466/ after running `docker-compose up -d`

Running `docker ps` gives me this (**No port is allocated to the mysql container**):
[code]
`docker-compose ps`
[code]
Running `docker logs` on the prisma

[2019-03-03 22:39] tomitrescak commented on #3183
@do4gr there is repro attached to this issue. The data was wiped clean from the DB.

[2019-03-04 06:22] marticrespi commented on #4044
Ok, I will wait for this beta, Please let me know once beta version released. I can't release my project to production if these relations don't work. Is there a date to start with this beta? It's only for planning my work about it.

Many thanks!

[2019-03-04 06:23] marticrespi commented on #4095
Any news @ejoebstl ?

[2019-03-04 10:06] Bartjuh4 commented on #1183
For our project we are also in a desperate need for full text search. Please implement this!

[2019-03-04 11:10] ejoebstl commented on #4095
Sorry for the late reply, @marticrespi, I'm currently on vacation.

When you introspect with an existing datamodel, the cardinality for relations from the *existing datamodel* takes precedence over the introspection result.

I'll discuss this behavior internally and keep you posted.

[2019-03-04 14:24] soqt commented on #3855
Although I fixed my issue last time, but it occurs again in version 1.27.3.

[2019-03-04 15:27] mifrej commented on #3637
https://www.prisma.io/docs/prisma-cli-and-configuration/using-the-prisma-cli-alx4/#installation
This setup instruction should be updated with the proper commands as above.

[2019-03-04 19:48] remorses commented on #1809
It would also be cool to separate the jet payload data for prisma in a specific key, so that a single token can be shared between prisma and other kind of apps.
Something like this:
[code]

[2019-03-04 20:03] kolengri commented on #3855
confirm, same problem.

[2019-03-04 20:13] seklyza commented on #3855
yes, here too, prisma 1.27.4

[2019-03-04 20:23] #3737 closed

[2019-03-04 20:23] #3735 closed

[2019-03-04 21:23] romseguy opened #4124 "Error following AWS Fargate tutorial"
CREATE_FAILED error following [the tutorial](https://github.com/prisma/prisma/blob/master/docs/1.9/03-Tutorials2/06-Deploy-Prisma-Servers/05-AWS-Fargate.md#23-wait-%EF%B8%8F) after completing the steps leading to step 2.3.

![err](https://user-images.githubusercontent.com/109238/53763779-e30bdf00-3ecb-11e9-975d-959ffa9d403e.png)

I really doubt I missed a step, but maybe I did?

[2019-03-04 22:52] jwld commented on #62
Would love to see this added 🙏

[2019-03-05 03:03] soqt commented on #3802
@do4gr  So is there any workaround to import data to MongoDB which has ability to override ```@id``` ```@createdAt``` and ```@updatedAt``` ? Is that safe to remove these tag and add it later after importing data?

[2019-03-05 05:24] #3305 closed

[2019-03-05 06:24] #3041 closed

[2019-03-05 08:24] #2836 closed

[2019-03-05 08:24] #2743 closed

[2019-03-05 08:24] #2729 closed

[2019-03-05 08:24] #2695 closed

[2019-03-05 10:16] schickling commented on #3745
@dominikh what do you suggest in this case? Sticking with `float32` or going for `float64` as suggested by @rodcorsi?

[2019-03-05 10:18] WickyNilliams commented on #2323
Are there any plans to reintroduce the `@migrationValue` directive? I could only find documentation for it on the graphcool website, but there's no mention of it on the prisma site. This would make it easier to introduce new mandatory fields and backfill the existing rows

[2019-03-05 10:21] bartjuh4 opened #4127 "[1.27] Prisma deploy fails on citext field type"
**Describe the bug**
When executing prisma deploy it fails with error: `Encountered unknown SQL type 1111 with column postal_code. MColumn(MQName(public.addresses),postal_code,1111,"public"."citext",Some(2147483647),Some(0),10,Some(false),None,None,2147483647,4,Some(false),None,None,Some(false))`

**To Reproduce**
Steps to reproduce the behavior:
1. Add citext column to your table and add this to

[2019-03-05 10:24] #3768 closed

[2019-03-05 11:22] marticrespi commented on #4095
Solved! I have tried just now with alpha-7 and it's already fixed.

[2019-03-05 11:45] marticrespi opened #4128 "Error creating an object with a connect input"
**Describe the bug**
Trying to create a new object with a connection type fails.

**To Reproduce**
My datamodel is here:
[datamodel.prisma.txt](https://github.com/prisma/prisma/files/2930726/datamodel.prisma.txt)

My summarized database model here:
[DDBB_script.txt](https://github.com/prisma/prisma/files/2930734/DDBB_script.txt)

I have customertype entities from 1 to 4, (4 inserts included in the

[2019-03-05 12:39] mavilein commented on #2323
@WickyNilliams : No there are no plans to do this right now. We are working on the next version for our migration system though that will make that easy.

[2019-03-05 13:57] emil-layerise commented on #4124
I've just done the tutorial with no error. Try removing all your stacks related to the tutorial and start over.

[2019-03-05 14:00] therise3107 commented on #4069
@frandiox This fixes it

[2019-03-05 14:37] divyenduz commented on #4067
The current datamodel represents the underlying schema declaratively using GraphQL SDL-like syntax and does not implement the whole spec.

[2019-03-05 14:38] nikolasburk opened #4129 "`text_ends_with` filter doesn't recognize `!`"
**Describe the bug**

I have this datamodel:

[code]

For one `Post` record, I have a related `Comment` where there `text` is `"Great work!"`.

When querying that record with a relational filter for comments that uses the `text_ends_wit: "!"` filter I get an empty array:

[code]

If I remove the filter, it returns the comment:

[code]

[2019-03-05 14:49] divyenduz commented on #4100
For non-interactive introspection in SQL connectors, Prisma relies on the `executeRaw` mutation which is available when the underlying server is started [with `rawAccess: true` option](https://www.prisma.io/docs/prisma-graphql-api/reference/raw-database-access-qwe4/#examples).

Can you confirm that? cc @marticrespi

Note that 1-click Heroku deployments from Prisma cloud start with `rawAccess: fals

[2019-03-05 15:02] do4gr commented on #4036
This error `You have several updates affecting the same area of the document underlying User. MongoMessage: Updating the path 'times' would create a conflict at 'times'` is something we have to do because Mongo has a limitation of doing several operations on the same document path.

The other issue is  where the id is not found is something I will look into.

[2019-03-05 15:12] yukulelix opened #4130 "UpdateMany${type} asks for ${type}UpdateManyMutationInput instead of ${type}UpdateInput"
**The bug**
Hi there,
I'm having some issues using an updateMany mutation with prisma binding :
[code]
When the function runs, it's giving me this error :
[code]
But in the generated model, I have no trace of a ReviewUpdateManyMutationInput :
[code]

**Versions (please complete the following information):**
 - Connector: MySQL
 - Prisma Server: 1.27.4
 - other dependencies: prisma-binding

Thanks

[2019-03-05 18:38] epitaphmike commented on #4128
Same issues here https://github.com/prisma/prisma/issues/3319

[2019-03-05 18:39] epitaphmike commented on #4128
I came ended up using the same "fix" as mentioned here https://github.com/prisma/prisma/issues/3319#issuecomment-443395291

While not ideal, it may help you in the interim.

[2019-03-05 19:11] divyenduz commented on #2792
This is covered with the [migrations RFC](https://github.com/prisma/rfcs/blob/migrations/text/0000-migrations.md). Please share your feedback.

[2019-03-05 19:31] #3385 closed

[2019-03-05 19:31] #3745 closed

[2019-03-05 19:57] chrisui opened #4134 "Generated schema/models do not have [relay] relationship connections"
**Describe the bug**

Generated schema/models do not have [relay] connections for relationships between types. Only root level (on `Query`) connections are made available.

**To Reproduce**

See here: https://github.com/chrisui/prisma-connections

[code]

**Expected behavior**

I would expect to have a `postsConnection` on `User`.

**Versions (please complete the following information):**
 - Conne

[2019-03-05 19:58] chrisui commented on #3629
Thanks @divyenduz, have reported in https://github.com/prisma/prisma/issues/4134

[2019-03-05 20:45] agolomoodysaada commented on #3221
Which graphql libraries would you recommend to use while we wait for official prisma java client support?

[2019-03-05 21:02] dodas commented on #3810
I already described my exact use case :)
I need to perform a mutation that's result is not needed for resolver's return value.
I just want to return value from resolver and finish this additional mutation in background.

[2019-03-05 23:09] tiagocpontesp commented on #3796
This should definitely be in the docs

[2019-03-05 23:17] cr101 commented on #4120
prisma:1.28.0 has now fixed the issue

I removed all the containers, images and the mysql volume and reinstalled everything.

`docker ps`
// Remove the containers
`docker rm [container_id1] [container_id2] -f`
`docker images`
// Remove the images
`docker rmi [image_id1] [image_id2]`
`docker volume ls`
// Remove volume
`docker volume rm [volume_name]`

[2019-03-05 23:17] #4120 closed

[2019-03-06 06:45] marticrespi commented on #4100
Hi @divyenduz

Here is my `docker-compose.yml` file

[code]

And in a `.env` file I have the rawAccess property setted to `true`.

[code]

And I deploy it without any problem through a npm script

`    "docker-compose-prod": "cp ./env/prod.env ./.env && docker-compose up -d && sleep 1 && rm ./.env",`

If I execute `prisma introspect` (wihout -i option). DEBUG="*" included:

[code]

Only works with

[2019-03-06 06:52] marticrespi commented on #4128
But if I have to remove the non null contrainst I will get inconsistent data, for sure! Is it a bug from october 2018 and is not fixed yet? 🤔

Thanks!

[2019-03-06 07:16] namnvhue commented on #2833
Up vote for this!

[2019-03-06 07:23] do4gr commented on #3802
You could create the datamodel you would like to have and then populate it with sample data so that Prisma sets up the db structure it expects. Then you could import the data you want directly into Mongo in that structure without using Prisma. Afterwards Prisma should be able to just query and mutate that data.

Currently there is no way to except for Import to influence the id, createdAt, updated

[2019-03-06 07:26] do4gr commented on #2323
@WickyNilliams , what would prevent you from using the change proposed above? If you introduce a new required field you can temporarily add an  `@default(value: "value to populate with")` and Prisma will prefill all fields with this value. That gives you the same behaviour as with the old migrationValue.

This improvement will be released in the next days.

[2019-03-06 07:53] sessionboy opened #4135 "How can i run the prisma docs website ?"
Hi guy!
I can't find the code of prisma docs website.
I want to translate it and want to promote it in China.

[2019-03-06 09:06] #3785 closed

[2019-03-06 09:06] pantharshit00 commented on #3785
Closing as duplicate #3738

[2019-03-06 10:00] kieusonlam commented on #4085
Same for me. This is kind of annoying, I can't doing anything on my development machine.

[2019-03-06 10:58] nikolasburk opened #4138 "Go client doesn't return enums"
The Prisma client is supposed to return all scalar fields of a model which includes enum values.

The Go client currently does not return enum values.

Sample datamodel:

[code]

Query for single `User`:

[code]

When printing `user` with `fmt.Printf("%#v\n", user)`, the `role` field is not included in the output:

[code]

[2019-03-06 11:12] pantharshit00 commented on #4059
I can't reproduce this with 1.28 @james-ff, can you please try again?

cc @divyenduz

[2019-03-06 13:56] do4gr commented on #3183
Hey @tomitrescak,
I finally got around to look into the issue. Sorry it took so long. I got the same Relay table error for the following id: `spbk0005097`. The Relay table used to power the node query that lets you request any node just by it's id, without providing the type.

I then checked how often this id is present in the nodes. That id is being used twice, once for a manuscript_book and once

[2019-03-06 13:58] do4gr commented on #3183
@k0ff33 , your problem sounds like a separate issue since it does not only affect the Relay table. If you have a import file to help me reproduce it I'll look into it as well.

[2019-03-06 15:43] pantharshit00 commented on #1480
Added feature label to avoid stalebot

[2019-03-06 15:44] seunzone commented on #3105
@pantharshit00 kindly help as I'm facing the same issue.
I did `# import * from './generated/prisma.grapql'` but it seems the generated api is not imported to my working directory.

[2019-03-06 16:05] pantharshit00 commented on #4124
@romseguy

I am also not experiencing any issue. Can you please try again?

If you are still getting this, please tell us the steps to reproduce this.

[2019-03-06 16:07] pantharshit00 commented on #4127
Hi @Bartjuh4

Currently, citext is not supported in prisma.

Also, are you using introspection or directly changing the column in a normal prisma instance deploy with postgres.

[2019-03-06 16:13] pantharshit00 commented on #4128
Hi @marticrespi

I believe this is something that the new datamodel 1.1 will fix so I think that is why it is not being updated. The new datamodel is under a prototype flag in the current release. Can you try that with that? https://github.com/prisma/prisma/issues/3233#issuecomment-465513624

For now I am going to close this issue as a duplicate of #3319

[2019-03-06 16:13] #4128 closed

[2019-03-06 16:20] pantharshit00 commented on #4130
Hi @yukulelix

Can you please also share your datamodel so that try to reproduce this?

Also, we may transfer this to prisma bindings repository itself as it seems to be solely related to it.

[2019-03-06 16:24] pantharshit00 commented on #4134
Hi @chrisui

I think this is expected behaviour. You have a posts field on your user type which you can paginate using before, after and skip.

If you want to aggregate something you filter the postsConnection by the user.

If you have any solid use case for this, we can treat this issue as a feature request.

[2019-03-06 16:34] do4gr commented on #4106
Hey,

to me the generated operations seem to be correct. Rule always needs to have a group because the field is required. We therefore do not generate the disconnect operation since it would leave you in an illegal state. Set is not generated since it is not a list field.

You can just use a connect to connect another RulesGroup to your Rule and it will automatically disconnect the formerly connec

[2019-03-06 16:40] taikn commented on #4124
I've stumbled upon the same error, what helped is this command from step 1.2 (in Note) of the tutorial, which creates a service linked role in IAM:
[code]
though I was using mysql template.

[2019-03-06 16:41] do4gr commented on #4073
Hey @israelglar,

thanks for the offer to help, but at the moment I do not think we have the capacity to walk someone through the code base and accept such big contributions. I think it would be fairly involved to pipe the error all the way through.

[2019-03-06 16:42] tafelito commented on #4106
That's the issue I have. When I connect the rule to a different RuleGroup, then the rule gets connected to the new group but it doesn't automatically disconnect from the old one as you mentioned.

I thought setting the disconnect to true was meant for that.

________________________________
From: Matthias Oertel <notifications@github.com>
Sent: Wednesday, March 6, 2019 11:34
To: prisma/prisma
Cc:

[2019-03-06 16:42] do4gr commented on #3896
Hey, @Shion093

can you provide a reproduction repo perhaps? As you can see above I could not replicate the issue and without more information there's not much I can do.

[2019-03-06 16:53] pantharshit00 commented on #3136
@divyenduz

I tested introspection today, and everything seems to be working fine as we recently did some introspection fixes.

[2019-03-06 17:03] pantharshit00 commented on #4135
Hi @sessionboy

The content of our docs is open source but the code the powers the frontend of docs is not open source. You can find the data of our docs here: https://github.com/prisma/prisma/tree/master/docs

FYI: There is already a Chinese translation of our docs: https://prisma.1wire.com/

[2019-03-06 17:03] #4135 closed

[2019-03-06 17:12] pantharshit00 commented on #3105
@seunzone

You will require to use graphql-import for this. It comes built-in with graphql-yoga but if you are using apollo server you will need to install it

https://github.com/prisma/graphql-import

[2019-03-06 17:17] romseguy commented on #4124
@taikn thank you, I had skipped this instruction because it was beginning with `If you’d like the aurora.yml template instead,`

[2019-03-06 17:24] pantharshit00 commented on #4124
I think this has solved it. Let me know if you are still experiencing some issues.

[2019-03-06 18:04] romseguy commented on #4124
@pantharshit00 yes, I'm getting following cryptic error on ` prisma deploy `

[code]

[2019-03-06 18:12] pantharshit00 commented on #4124
Can you please open cloud watch and see if there any logs for this?

[2019-03-06 18:47] chrisui commented on #4134
With the current setup you would require two requests to achieve the following if i'm correct. One to get users, two to filter posts by users.

[code]

[2019-03-06 19:11] james-ff commented on #4059
I have removed the docker container and image, reinstalled prisma globally, changed the prisma version in docker-compose, and unfortunatly still see the issue after running `docker-compose up`.

Is there some way I can get more verbose error logs? I'd be up for looking into this issue more myself if I can be pointed in the right direction.

[2019-03-06 19:12] romseguy commented on #4124
Only thing I see in cloudwatch (first time I'm using the tool) is an alarm from a few days ago about the database, so pretty unrelated.

[2019-03-06 19:54] #1610 closed

[2019-03-06 19:54] #726 closed

[2019-03-06 19:54] #629 closed

[2019-03-06 19:54] #185 closed

[2019-03-06 20:57] epitaphmike commented on #4127
@Bartjuh4 I am running into the same issue on 1.28 though for float8.
`message":"Encountered unknown SQL type float8 with column lat. IntrospectedColumn(lat,float8,null,true)"}}`

[2019-03-07 01:08] steebchen opened #4141 "Single queries should be more powerful"
**Is your feature request related to a problem? Please describe.**
Currently, single queries like .user can only query by unique fields:

![selection_999 1089](https://user-images.githubusercontent.com/5013932/53924635-1d68ae00-407d-11e9-8308-754e02374afa.jpg)

**Describe the solution you'd like**
I want to query by everything, not just unique IDs, just like I can do when querying multiple users:

[2019-03-07 01:55] AnselmMarie commented on #3757
I'm using Prisma version 1.28.0 and my code is similar to @b33son and I'm still having this issue. The database I'm using is PostgresSQL.

[2019-03-07 05:28] rhythnic commented on #2377
@gregbelyea71 I also got that error.  I've finally gotten it to work consistently.  I've had to use the datamodel that was introspected by prisma version 1.27 and then deploy it with version 1.28.

When deploying the 1.27 datamodel with version 1.27, I got the error you mentioned.  When deploying the 1.28 datamodel with version 1.28, I get datamodel-related errors that I'm in the process of fixing

[2019-03-07 06:38] hobz- opened #4142 "Prisma CLI generates the wrong endpoint and doesn't allow users to deploy!"
**Describe the bug**
When using the Prisma CLI to init a project and generate the yml file, the endpoint is missing information. When the user then runs prisma deploy, an error is thrown:

TypeError: Cannot read property 'split' of undefined
    at getWorkspaceFromPrivateOrigin (/Users/ferdinandismael/.nvm/versions/node/v10.15.0/lib/node_modules/prisma/node_modules/prisma-yml/src/utils/parseEndpoi

[2019-03-07 06:54] marticrespi commented on #4128
@pantharshit00 I have already rawAccess = true. Only works if you remove the FK from database.

[2019-03-07 06:55] marticrespi commented on #4100
Tried with prisma/1.29.0-beta and same error without `-i` option.

[2019-03-07 10:29] ezeikel opened #4143 "Field for relation is returning null using Mongo Connector"
**Describe the bug**
I am using MongoDB with Prisma. I have two types `Post` and `User` and I just want to model the relationship between the two types so that one `User` can have many `Post` and a `Post` can only have one `User`. I create these types and when trying to query aUser's Posts I get back `null`.

**To Reproduce**
My datamodel looks like this:

[code]

I have a `createPost` resolver to

[2019-03-07 11:20] k0ff33 commented on #3183
Hi @do4gr, here's an import file along with with a schema: [prisma-export-bug.zip](https://github.com/prisma/prisma/files/2940917/prisma-export-bug.zip).

Sorry for the amount of data, it's literally a dump of my dev db.

[code]

[2019-03-07 12:10] nikolasburk opened #4144 "How to use relational filter in Go client?"
I'm trying to use the equivalent of this JS/TS call in Go:

[code]

This is my datamodel:

[code]

This is my Go code:

[code]

It compiles but throws the following error:

[code]

[2019-03-07 12:21] do4gr commented on #3183
Hey, no worries, that'll hopefully help me pinpoint the issue. Thanks!

[2019-03-07 12:59] #3855 closed

[2019-03-07 12:59] #3603 closed

[2019-03-07 13:08] do4gr commented on #3855
@israelglar description really helped! We were not setting/unsetting the unique constraint in the case of an update to the field, only during initial creates. I fixed that now, but you will have to remove and then add the @unique from fields in order for Prisma to recognise the change and add the constraint.

Please test and comment if you're still running into problems.

[2019-03-07 13:08] aisflat439 commented on #4142
Had the same issues today. Josh's solve worked for me as well. Just update the URL and all is well.

prisma -v outputs
[code]

[2019-03-07 15:43] chancesmith commented on #1646
Ping again

[2019-03-07 16:48] nikolasburk opened #4145 "Pagination with `after` causes internal server error"
This is my Docker Compose file I used to locally launch a Prisma server + DB:

[code]

My `prisma.yml`:

[code]

My `seed.graphql`:

[code]

My datamodel:

[code]

Now the following query in the Playground causes an internal server error:

[code]

Response:

[code]

Server logs:

[code]

Side-note, the post with that provided ID for `after` exists:

![image](https://user-images.githubusercontent.c

[2019-03-07 16:48] pantharshit00 commented on #4141
Hi @steebchen

I think it really doesn't make any sense to add non-unique value to a single query(any field annotated with `@unique` is available even if it is a relation).

Like if the field is non-unique there is absolutely a chance that we will get more than one match. That is why other non-unique fields are available via another method that will return an array. You can grab the first result i

[2019-03-07 17:10] steebchen commented on #4141
Makes sense. To rephrase, I was rather asking for a `findOne` method to only return a single result (not guaranteed by SQL, but guaranteed by my schema).

[2019-03-07 17:15] alban-auzeill opened #4147 "Inverted behavior of GraphQLSchemaAssertions.mustNotContainField"
**Describe the bug**
Looking a the code of GraphQLSchemaAssertions class, the following two methods have the same implementation:
* [mustContainField(typeDef: String, field: String)](https://github.com/prisma/prisma/blob/b27a68d7945aecb891067b88978f2aa0b62831e9/server/servers/api/src/test/scala/com/prisma/util/GraphQLSchemaAssertions.scala#L19)

* [mustNotContainField(typeDef: String, field: Strin

[2019-03-07 17:33] divyenduz commented on #3359
This is available in the latest beta `1.29.0-beta`, please install it via `npm install -g prisma@beta`. Please be advised that this is a breaking change.

[2019-03-07 17:33] divyenduz commented on #3140
This is available in the latest beta `1.29.0-beta`, please install it via `npm install -g prisma@beta`.

[2019-03-07 17:33] divyenduz commented on #3584
This is available in the latest `stable` - `1.28.0`, please install it via `npm install -g prisma`.

[2019-03-07 17:34] #3584 closed

[2019-03-07 17:35] divyenduz commented on #3964
This is available in the latest `stable` - `1.28.0`, please install it via `npm install -g prisma`. I am closing this issue, please open a new issue, if necessary.

[2019-03-07 17:35] #3964 closed

[2019-03-07 17:35] divyenduz commented on #3977
This is available in the latest `stable` - `1.28.0`, please install it via `npm install -g prisma`. I am closing this issue, please open a new issue, if necessary.

[2019-03-07 17:35] divyenduz commented on #3976
This is available in the latest `stable` - `1.28.0`, please install it via `npm install -g prisma`. I am closing this issue, please open a new issue, if necessary.

[2019-03-07 17:35] #3976 closed

[2019-03-07 17:42] belazer opened #4148 "Renaming Enum Field and changing it to non-list breaks field"
**Describe the bug**
One of our users seems to have identified an edge case when renaming an Enum field and afterwards changing it from accepting multiple values (List) to a non-list. Causing a `ava.util.NoSuchElementException: key not found:` error.

**To Reproduce**
1. Create Model, e.g. "Course"
2. Create Enumeration "Categories" and assign 1 value
3. Create "Categories" enum field and allow it

[2019-03-07 19:26] divyenduz commented on #4069
@frandiox : I am able to reproduce this even for version `1.23.4`, can you confirm?

Maybe the issue is not in the CLI but the underlying API.

[2019-03-07 19:35] jayarnielsen commented on #4143
I'm experiencing the same issue with a similar setup. Interestingly enough, if I refactor to use relations instead of embed, everything works as expected. Would really like to be able to use the embed feature of mongo, though.

[2019-03-07 19:37] Shion093 commented on #3896
Hello, @do4gr

I got it working by deploying a new fargate cluster, I think the previous one was messed up.

Thanks for your response.

[2019-03-07 22:42] vjsingh commented on #3075
+1!

[2019-03-08 01:56] frandiox commented on #4069
@divyenduz yes, I actually went back to 1.23.4 and the issue persisted. This started happening after I updated that time but perhaps is unrelated to the version. What else could be, DB?

[2019-03-08 02:45] cr101 commented on #3075
Has anyone figured out how to change the UTC time to local time? I tried adding TZ environment variable to the docker-compose file but it didn't make any difference.

[2019-03-08 05:36] divyenduz commented on #4069
@frandiox : If you are logged in, the CLI using Prisma cloud API to fetch the management secret for your server, if the server is also added in Prisma cloud, you don't need to add that to the environment. It looks like the token resolution from cloud API has broken.

[2019-03-08 06:23] thanhngvpt commented on #4138
how about it?. i got exactly this error.

[2019-03-08 08:04] cihadturhan commented on #1312
At least implement `sum` :)

[2019-03-08 08:28] dietler opened #4151 "MongoDB Atlas broken in prismagraphql/prisma:1.28"
**Describe the bug**
Cannot connect to a mongodb source in version 1.28 but downgrading to 1.26.5 works

**To Reproduce**
Steps to reproduce the behavior:
1. use a mongodb atlas uri
2. deploy docker
3. docker container will continuously reset
More details from multiple users here: https://www.prisma.io/forum/t/mongodb-atlas-connection-problem/6245/5

**Expected behavior**
Docker container should n

[2019-03-08 10:12] williamluke4 commented on #3611
This is what I'm currently using
[code]
[code]

[2019-03-08 16:02] soqt opened #4152 "Any documentation for using docker stack?"
I'm running into trouble deploying prisma to docker swarm. Does prisma supports docker swarm? if so, when do you run "prisma deploy" after the service being deployed?

[2019-03-08 17:51] Elijen commented on #1655
I've noticed DynamoDB is listed as supported DB on the web. Is it coming soon?

[2019-03-08 21:16] dietler commented on #3778
I'm still getting this on 1.26.5 (I can't go to 1.28 because it has an error with MongoDB Atlas). Where can I track when this feature will be added to the production branch? It's included in the docs for 1.26 so I assume it should work.

[2019-03-09 00:15] do4gr commented on #4143
I'll look into the issue @ezeikel.

@jayarnielsen , could you please open a separate issue and describe your issue in detail? The issue here does not seem to be related to embedded types and I think your's might be a separate one that I would need more information on.

[2019-03-09 04:54] findingforeverapp commented on #4069
Even if I try to add the env var I get the following:

Cluster secret in env var PRISMA_MANAGEMENT_API_SECRET does not match for cluster default

[2019-03-09 05:17] findingforeverapp commented on #4069
Now getting:Can not authenticate against Prisma server. It seems that your PRISMA_MANAGEMENT_API_SECRET environment variable is set incorrectly.

[2019-03-09 10:00] soqt commented on #3626
Agree on this. Docker compose reads file from `/run/secrets/SECRET_NAME`, It's good to have DB connectors to have the ability to read files rather than just environment variables.

[2019-03-09 11:01] soqt commented on #3247
Do you deploy your server app into the same swarm? I’m running into troubles when combine app and prisms server together.

[2019-03-09 18:47] alexis-thual commented on #146
@sorenbs Has there been any update on this topic?

Of course, it'd be awesome to be able to track all nested objects from a subscription.
However, pushing information on CONNECT and DISCONNECT sounds like a quick-win that would partially solve the problem. Are there any plans on implementing this soon? :slightly_smiling_face:

[2019-03-09 20:46] kokokenada opened #4155 "knex integration as alternative to executeRaw, fix for transactions, etc"
During a project where we went all in on Prisma, we encountered limitations of the Prisma query grammar and transactional model.  Furthermore, we found that the prisma server crashes when it gets busy.  Stitching complex queries together with executeRaw as painful and potentially insecure.  We also found not being able to provide our own record ids limiting.

To address these problems we started t

[2019-03-09 22:06] monojack commented on #3738
Doesn't work for me with MongoDB 4.0.6.

Im trying this ([from the docs](https://www.prisma.io/docs/prisma-client/basic-data-access/writing-data-JAVASCRIPT-rsc6/))

[code]

the model is:
[code]

and I get the following error:
[code]

[2019-03-10 03:41] findingforeverapp commented on #4069
Had previously set the managementApiSecret in Heroku.  The following doc helped:

https://www.prisma.io/docs/faq/how-to-reveal-management-api-secret-with-heroku-integration-fq03/

[2019-03-10 03:53] soqt commented on #3626
Here is a good setup for Mongo docker compose using[file as secret](https://github.com/docker-library/mongo/blob/b1c209cdd9b890cd62e85a2c7055fb8f00c7d248/4.0/docker-entrypoint.sh#L34-L54)

[2019-03-10 13:05] rouxfeur commented on #3458
The issue is still not fixed.

[2019-03-10 15:25] krishnakprakash commented on #4078
is the issue still open? i am facing the issue even in latest prisma (1.28.1)

[2019-03-10 15:44] steebchen commented on #4078
@krishnakprakash Yes, the change is suggested in #4121 but is not merged yet

[2019-03-10 20:38] cassiopagnoncelli commented on #48
Same problem here.

Postgraphile is a nice reference on how to solve this issue.

[2019-03-10 21:54] soylemezali42 commented on #1609
I was getting this error. I had a same data model and mutation. I tried all solution mentioned above. I didn't work well for me. Then, I **removed followers connect and disconnect mutation**. This solved my problem.

If you have same problem, it can be useful.

[2019-03-10 22:01] garmjs commented on #3977
I'm on prisma/1.28.2 and the red color on the success message is still here, it's better if we change with green

![Screen Shot 2019-03-10 at 10 51 14 PM](https://user-images.githubusercontent.com/5017156/54092109-7e97c680-4388-11e9-9867-f930e66d5958.png)

[2019-03-11 00:41] soqt commented on #4152
Successfully deployed to docker swarm by only deploy prisma server and database in it.

[2019-03-11 00:41] #4152 closed

[2019-03-11 04:05] meodemsao commented on #2451
@netspencer can you sharing you solution deploy prisma in kubernetes ?

[2019-03-11 06:39] RobertShaw1 opened #4156 "CLI: prisma generate fails as post-deploy hook"
**Describe the bug**
When installing prisma via homebrew the post-deploy hook `prisma generate` fails because of a missing module.

**To Reproduce**
Follow the [Get Started](https://www.prisma.io/docs/get-started/01-setting-up-prisma-new-database-JAVASCRIPT-a002/) tutorial
1. Set up  Prisma
2. Change Datamodel
    * [Step 4 - Regenerate your Prisma Client](https://www.prisma.io/docs/get-started/02

[2019-03-11 09:10] #3997 closed

[2019-03-11 09:10] arnabkd commented on #3997
Sorry for the late response, I thought I had closed and commented. My bad.
Yes, this does look like a duplicate.

[2019-03-11 09:25] divyenduz opened #4157 "Prisma partial export"
**Is your feature request related to a problem? Please describe.**
It is not possible to take Partial exports from Prisma without writing a script. The `prisma export` command exports all the data and using the HTTP API exposed by Prisma is less feasible for large amounts of data without having to write a custom script that relies on pagination.

**Describe the solution you'd like**
Prisma should

[2019-03-11 09:28] divyenduz commented on #4156
@RobertShaw1 : Did you install Prisma using brew or npm?

[2019-03-11 09:36] EslamIsmail93 commented on #2109
its working for at local but not working with live not working

[2019-03-11 12:05] timsuchanek commented on #4142
Thanks for reporting! We released a patch and just fixed it. Let me know if you're still facing the issue.

[2019-03-11 12:05] #4142 closed

[2019-03-11 12:23] divyenduz commented on #4127
@epitaphmike : What command/operation do you run when you encounter this issue?

[2019-03-11 13:35] #4106 closed

[2019-03-11 13:45] #4145 closed

[2019-03-11 13:53] divyenduz commented on #4059
@james-ff : I am also unable to reproduce this with 1.28.x. Can you provide a small reproduction repository with steps that I can follow to reproduce this?

Also, can you share the output of `docker ps` and `prisma version` command? Along with the `docker logs <prisma container>` command?

Thanks!

[2019-03-11 13:55] Weakky commented on #4155
Hey there @kokokenada 👋,

That's a great job you did here! Although we haven't tested your tool yet, we recently had a very similar idea internally, and we think there's maybe room to build something like this officially.

As a terrible SQL developer 🙈, I always found query builders to be painful/"useless" as they
- Required me to understand SQL anyway
- Added even more complexity to understand th

[2019-03-11 14:12] #4151 closed

[2019-03-11 15:03] divyenduz opened #4165 "Mongo connector leaks connections"
**Describe the bug**
MongoDB connector opens connection when under load but does not release them

**To Reproduce**
https://github.com/divyenduz/prisma-4165

**Expected behavior**
MongoDB should release unused connections

**Screenshots**
MongoDB Atlast connection dashboard

<img width="511" alt="CleanShot 2019-03-11 at 15 59 57@2x" src="https://user-images.githubusercontent.com/746482/54133786-f7

[2019-03-11 16:39] epileftro85 commented on #1643
Nothing about GeoJson? this future is mandatory for many MongoDB projects.

[2019-03-11 16:45] kokokenada commented on #4155
Thanks for the interest, @Weakky and agreed.  I love the Prisma grammar and hierarchical queries with $fragment are so much simpler than the equivalent in SQL.  The generators in knex-prisma can be extended to do understand it - it's just a matter of grokking the query and issuing SQL. (Same thing the prisma server does, just in TypeScript running in process instead of a separate JVM).  The tempti

[2019-03-11 17:02] schickling commented on #4155
Really interesting idea @kokokenada. Let's keep pushing this forward!
As part of Prisma 2, we're planning to introduce `raw` "escape hatches" into client queries. It could be interesting to construct this `raw` parts using a type-safe query builder as well. [See here for the proposed Prisma 2 client API](https://github.com/prisma/rfcs/blob/new-ts-client-rfc/text/0000-new-ts-client.md) and look for

[2019-03-11 17:12] do4gr commented on #4165
The MongoDB connector is configured by providing the connection string uri. This allows you to also set its connection pooling behaviour.

Atlas provides you with a string that does not explicitly configure the connection pooling:
`mongodb+srv://user:pass@db.mongodb.net/test?retryWrites=true`

The MongoClient instantiated by Prisma then falls back to the defaults, a pool size of 100 and no timeout

[2019-03-11 17:29] do4gr commented on #4147
Looks like you found some dead code that is not called anymore. We'll clean it up. Thanks for letting us now ;-)

[2019-03-11 18:21] guigaoliveira commented on #2723
Any progress? =)

[2019-03-11 19:12] jvlobo commented on #1183
Any news on this??? 😞

[2019-03-11 19:17] kokokenada commented on #4155
Hi @schickling - thanks for the reply.  I had a quick look at https://github.com/prisma/rfcs/blob/new-ts-client-rfc/text/0000-new-ts-client.md .  A lot of good stuff there.  It's not clear if it addresses all of the problems I encountered that caused me to reach for knex.  The transaction example there is just adding rows.  I need to be able to read as part of transaction. (e.g. even in my unit (i

[2019-03-11 20:35] epitaphmike commented on #4127
I was running `prisma deploy`

[2019-03-11 20:52] branislaav commented on #28
+1

[2019-03-11 23:05] kokokenada commented on #4155
As requested - a few more details about the need for reads in transactions.  One use case was testing a paging feature. The unit test (which is probably better described as an integration test) called a mutation resolver to populate a feed.  Then query resolvers were called requesting the first 5, next 5 etc.  Each step, of course, had an await. However, the reads sometimes got unexpected results.

[2019-03-12 01:03] calummoore opened #4169 "Attempts to connect to postgres with alternative database name"
**Describe the bug**
Deploy fails, it attempts to connecto to `postgres` database, even though I have specified an alternative database name `orqidund`.

**To Reproduce**
Attempt to deploy `prisma deploy` and I get the following error message:

[code]

Docker config is:
[code]

**Expected behavior**
Deploys to Prisma server

**Versions (please complete the following information):**
 - Connector: `

[2019-03-12 01:21] RobertShaw1 commented on #4156
I installed Prisma using brew.  This is mentioned at the very beginning of the issue.

[2019-03-12 01:44] sidou01 commented on #165
Hi, I was wondering if there is any updates on this ?

[2019-03-12 02:52] gabrieltong commented on #1349
any ETA ?

[2019-03-12 07:16] soqt commented on #4165
I have a problem with every new connection takes too much time(a couple seconds from server), then the client can perform queries or mutations very fast. And after certain time users need to wait the same time to reconnect to mongoDB. Is this the same problem?

[2019-03-12 09:42] do4gr commented on #4165
Hey @soqt, I think this is a different issue.

So this `com.mongodb.MongoSocketException: mongo: System error` indicates a networking related issue. See:  https://mongodb.github.io/mongo-java-driver/3.6/javadoc/com/mongodb/MongoSocketException.html

Since Prisma is able to pick up the connection I suspect that that is not a Prisma issue but that the network connection between Prisma and Mongo is s

[2019-03-12 12:37] Elijen commented on #2323
I think `prisma deploy` should still fail if the new required field has no default value set and `--add-migration-values`. Even though the default migration values seem to make sense setting those by mistake can have serious consequences in a live app.

[2019-03-12 12:49] terion-name commented on #1312
any eta?(

[2019-03-12 13:00] WickyNilliams commented on #2323
@do4gr I'm curious, is it the same? My assumption would be `@default` sets the default on the column? And `@migrationValue` would run an `UPDATE` once, at deploy time.

If so, there are cases where you might not want a default on the column, but you want the column to be non-null?

[2019-03-12 14:17] do4gr commented on #4169
Hey @calummoore,

I tried to connect ElephantSQL as well. I get the same error about accessing the `postgres` database.

That error does not seem to be fatal for the Prisma service though. Deploying a service works and creates the correct schemata in the provided database:

<img width="1331" alt="Bildschirmfoto 2019-03-12 um 15 09 41" src="https://user-images.githubusercontent.com/16278407/5420678

[2019-03-12 14:43] ItsWendell commented on #2654
I totally agree, a thing that I have to do manually within my mutations is to check if DateTime fields are updated (since the input string might differ from the actual iso string from the database, for example they might include timezones that prisma automagically takes care of), in order to not trigger any field updates on those fields.

Also when no fields changed at all, the UPDATED subscriptio

[2019-03-12 15:23] #4147 closed

[2019-03-12 16:47] Gazuntype opened #4175 "Error using onDelete: CASCADE for nested fields"
**Describe the bug**
When attempting to delete a node that is related to another node using onDelete: CASCADE, if the other node is related to yet another node, an error is thrown.
For example; there's are three nodes; A, B and C. A has a field of B and is related to be with onDelete:CASCADE. B has a field of C and is related with onDelete: CASCADE also.

When trying to delete A, since it is relat

[2019-03-12 17:03] alexbudure opened #4176 "docs missing server-side subscriptions & Prisma GraphQL API"
The Prisma GraphQL API page has a link on the homepage, but it doesn't take you anywhere. Even though the Prisma client is well documented, I still found that page to be very helpful.

The server-side subscriptions page has been missing for a while, is this something you guys are trying to remove from Prisma?

 I get "Page Not Found" whenever I try to visit an older version of the docs for this in

[2019-03-12 18:33] calummoore commented on #4169
Thanks for the update. It won't let me deploy though? When I access the endpoint I get a GraphQL playground so it appears to be running.

`prisma.yml`
[code]

`datamodel.prisma`
[code]

I get the following error on `prisma deploy`
[code]

[2019-03-12 20:12] vdiaz1130 commented on #3250
What is the flag to specify the file path for the prisma.yml file when running prisma deploy? I tried --file which failed.

[2019-03-12 21:31] vdiaz1130 commented on #3140
I'm running Prisma with Nexus and have a post-deploy script running on my prisma.yml.

`npx nexus-prisma-generate --client ./src/generated/prisma-client --output ./src/generated/nexus-prisma`

When that runs, I get the error: `Could not find prisma.yml file`. Anyway to specify the path for prisma.yml when executing nexus-prisma-generate?

[2019-03-13 06:59] Aries0d0f opened #4178 "Package dependence in prisma-cli-core now have CVE security problem"
**Describe the bug**
`npm-run@4.1.2` is a dependence package in prisma-cli-core, and `npm-run@4.1.2` has dependence `sync-exec@0.6.2` which `CVE-2017-16024` be found.

**Expected behavior**
Upgrade dependence to `npm-run@5.0.1` which is already remove package `sync-exec` from it's dependences.

**Versions (please complete the following information):**
 - Connector: `Postgres`
 - Prisma Server: `1.

[2019-03-13 09:41] divyenduz commented on #4127
@epitaphmike : can you share a part of your Postgres schema as SQL that fails with `1.28` but not with `1.23` and create a separate issue [here](https://github.com/prisma/prisma/issues/new?template=bug_report.md) as this issue is different from `citext` issue and would need its own reproduction.

[2019-03-13 10:15] divyenduz opened #4179 "Prisma client promise API"
**Describe the bug**
Prisma client promise can only be consumed once which is uncommon (maybe even breaks the spec) for promises as even asynchronous promises can be consumed multiple times and once the result it available, it is immediately resolved.

**To Reproduce**
https://github.com/divyenduz/prisma-4179

**Expected behavior**
Prisma should immediately return the resolved data when a promise

[2019-03-13 11:01] divyenduz opened #4180 "Prisma client generates invalid query"
**Describe the bug**
When a Prisma client is used to fetch a type with two relation fields on different types but the promise is not immediately consumed. The generated query incorrectly nests the relation types within each other.

**To Reproduce**
https://github.com/divyenduz/prisma-4180

Here is the output of client with `debug: true`

[code]

**Expected behavior**
Prisma client should not build

[2019-03-13 11:19] nikolasburk opened #4181 "`prisma init` flow broken in Beta CLI"
I'm using the latest CLI beta:

[code]

When running `prisma init` and selecting a new MySQL DB in the flow, it doesn't generate the `docker-compose.yml`.

[2019-03-13 11:22] #4181 closed

[2019-03-13 15:50] domusofsail opened #4184 "Prisma introspect postgresql multiple references to the same table"
**Describe the bug**
When a table has two or more foreign keys referencing the same table, generated datamodel results with duplicate fields and missing `@relation directive`

**To Reproduce**
Given this simple database schema:
[code]
Introspection produces this datamodel:

[code]
with `post` field duplicated in type `user`

Prisma deploy results in these errors:
[code]
NB: missing `@relation dire

[2019-03-13 17:25] pantharshit00 commented on #4095
I think this can be closed now.

[2019-03-13 17:25] #4095 closed

[2019-03-13 19:31] divyenduz commented on #4069
This should be fixed in the latest beta `1.29.0-beta.7`, please install it via `npm install -g prisma@beta`

[2019-03-14 01:53] levarberry commented on #2468
interested

[2019-03-14 02:25] JacksonS918 commented on #3883
Using prisma v1.28.3. Bug still exists.

Output:

`MongoError: no primary found in replicaset or invalid replica set name
    at /usr/lib/node_modules/prisma/node_modules/mongodb-core/lib/topologies/replset.js:636:11
    at Server.<anonymous> (/usr/lib/node_modules/prisma/node_modules/mongodb-core/lib/topologies/replset.js:357:9)
    at Object.onceWrapper (events.js:277:13)
    at Server.emit (eve

[2019-03-14 04:53] figueiredoluiz commented on #3834
This still an issue, it should not be closed.

I've been switching from Prisma documentation, git examples and tickets until finding this.
I tried all the methods, including using 100% the cloud interface to even create my Heroku database and no success.

**Error path 1:** Create the Heroku-Postgres database by Prisma panel, on Prisma init select the existing Prisma cluster previous created, can't

[2019-03-14 05:17] xcv58 commented on #2850
I try to reproduce the horizontal scale on localhost. But it seems no message send to RabbitMQ. Here is the docker-compose.yml file: https://github.com/xcv58/Prisma-Horizontal-Example/blob/master/docker-compose.yml

Could you please point out what's wrong with the configuration? Thanks!

[2019-03-14 05:49] pantharshit00 commented on #3883
Hi @JacksonS918

Can you please provide a small reproduction of the issue? That way we can triage this and fix the issue.

Also, please make sure you are using the connection string that is pointing to the admin db

[2019-03-14 05:54] pantharshit00 commented on #4178
Hi @Aries0d0f

Thanks for reporting this. We were unaware of the fact that npm-run have removed this dependency. We will try to include this dependency upgrade in the next release.

Right now, I will be closing this as a duplicate of #3723

cc @divyenduz

[2019-03-14 05:54] #4178 closed

[2019-03-14 06:14] pantharshit00 commented on #4178
Ok, just remembered why we were holding this. npm-run 5.0.1 breaks windows support. I think we can publish a package in our own namespace now including https://github.com/timoxley/npm-run/pull/21 as the package maintainers don't seem to be maintaining it.

[2019-03-14 06:42] pantharshit00 commented on #4178
I have published `@harshitpant/npm-run` that includes timoxley/npm-run#21 and made a PR that will fix this #4187

[2019-03-14 07:37] FrankSandqvist commented on #3372
This seems like a pretty major oversight to me. Either it should throw if no such object exists or it should have a nullable return type

[2019-03-14 07:38] jleed commented on #2992
docker is nice BUT WE'LL LOVE TO GET RID IT!

[2019-03-14 07:52] gabrieltong commented on #2152
+1

[2019-03-14 08:49] MichaelKoch commented on #1642
Hey ..
pls. implement this connector to push prisma to enterprise environment

[2019-03-14 09:00] chris-rock commented on #4144
I can confirm that behavior and I had to write code to circumvent that error.

[2019-03-14 10:08] joe-re opened #4189 "Connection refused to Postgres database on k8s from 1.27"
**Describe the bug**

I tried to update prisma version from 1.26 to 1.27 or 1.28.
But if I updated it, database connection was refused.
I tried to make a repro environment but oddly I couldn't repro on docker-compose structure. That's only my local k8s structure.
If I downgrade prisma version to 1.26 or below, database connection become normal.
So I guess some kinda prisma updating has relation to

[2019-03-14 10:44] do4gr commented on #2323
Hey  @Elijen , the way we implemented it there is no `--add-migration-values` flag. There is no flag to toggle this behaviour at all. We will however issue a warning if a new required field is added and nodes already exist. The warning will then tell you which concrete value (either the defaultValue or a hardcoded migrationValue) will be used to pre-fill the field. Since this is a warning it will

[2019-03-14 11:18] WickyNilliams commented on #2323
Oh, bad assumption on my part then - I was thrown by default having different meaning when it comes to the DB :) That makes sense now you've explained it, thanks!

[2019-03-14 11:43] domekol commented on #1936
#3796

[2019-03-14 12:21] do4gr commented on #3839
We just merged this feature into the 1.30 alpha.

The id field will now follow the behaviour laid out here: https://github.com/prisma/prisma/issues/3403. It can now in some cases be provided by the user. Either as a required or an optional field. On the current datamodel v1.0 it will be optional. If the user provides an id, it needs to meet the requirements for valid ids.

1. It has to be unique,

[2019-03-14 13:21] do4gr commented on #4175
I tried reproducing the issue with the following datamodel:

[code]

I created data with this mutation:

[code]

Deleting it with this mutation.

[code]

This worked for me. Can you please provide an example repo that triggers the error (datamodel, seed data and mutations)? Otherwise I can't reproduce and fix the issue.

[2019-03-14 13:26] Gazuntype commented on #4175
Hi,
I was going to comment on this issue. I tried it again and it worked without errors. Didn't change any part of my datamodel or any code and it worked. I'm not sure what exactly was the problem or why it didn't work before but I guess the issue has been solved. Thanks!

[2019-03-14 13:43] divyenduz commented on #4175
Thanks for letting us know. I am closing this issue for now. Please feel free to open a new issue if the problem reoccurs.

[2019-03-14 13:43] #4175 closed

[2019-03-14 14:03] humariza commented on #3174
I had the same problem with user permissions but when my users sign up , i just defined the permission in the data mutation like this:
permissions:{  set:['OWNER']}
and it works correctly. You can just define a const outside from the request and put it there

[2019-03-14 14:09] marticrespi opened #4190 "[>=1.28.3 Server version] Unknown SQL type timestamptz"
**Describe the bug**
If you use last stable version or any beta 1.29 version, it doesn't work with a timestampz field. I had 1.26 prisma server version until this morning, and with this version works perfectly.

**To Reproduce**
Steps to reproduce the behavior:
1. Compose a prisma server version with >= 1.28.3 version.
2. Create a sample table with a timestampz field on postgresql.
3. Try to deplo

[2019-03-14 14:36] do4gr commented on #3306
Prisma is using a locking mechanism on the database level to determine which Prisma instance is on deploy duty. This will prevent duplicate deploys.

Since the lock is on db level you would run into this if running two different Prisma instances. Only one of them would be able to hold the lock and do deploy changes. But the Api actions should work for both.

[2019-03-14 14:42] pantharshit00 commented on #4184
I can confirm this. It is not even fixed by the latest introspection improvements cc @ejoebstl

the output of 1.30.0-alpha.1 simply fixes the names not the relations issue:

[code]

[2019-03-14 15:38] jayarnielsen commented on #3407
When using Mongo, would it be possible to combine this with @embedded so the relation is stored directly in the document rather than a related collection?

[2019-03-14 15:46] frandiox commented on #4069
I can confirm `1.29.0-beta.7` fixes it, thanks!

[2019-03-14 15:46] #4069 closed

[2019-03-14 15:51] frandiox commented on #3306
@do4gr 	Thanks for the explanation. I guess the best way would be implementing horizontal scaling to prevent DB locks. The only problem is that horizontal scaling is fairly challenging until [`prisma` and `prisma-prod` are unified](https://github.com/prisma/prisma/issues/2869) and it supports some other [alternatives to RabbitMQ](https://github.com/prisma/prisma/issues/2850). Or until the Rust/sta

[2019-03-14 15:51] #3306 closed

[2019-03-14 19:39] jwld opened #4195 "Unable to deploy prisma for existing psql database with foreign key relations"
**Describe the bug**
I am unable to deploy prisma for an existing psql database with foreign key relations.

**To Reproduce**
1) Create a database with the following schema:
[code]

2) Running `prisma init` generates the following schema:
[code]

3) Change `id: Int` to `id: ID` for both types.

4) Create docker container with `docker-compose up -d`

5) Running `prisma deploy` generates the followi

[2019-03-14 21:40] JacksonS918 commented on #3883
1. Brand new install of node-v10.15.3, prisma-v1.28.3 installed via npm. Running on Ubuntu WSL LTS 18.04.
2. Ran `prisma init hello-world`
3. Selected "Use existing database"
4. Selected "MongoDB"
5. Entered connection string in the format `"mongodb://username:password@dbname.documents.azure.com:10255/?ssl=true&replicaSet=globaldb"`
6. Selected "No: set up without existing data"
7. Received error:

[2019-03-14 22:13] jide commented on #3839
I tried to upgrade my docker instance to 1.30-alpha, as well as the cli, and I still can't update or create content with an id, using the playground or the new (awesome!) admin, where the id field is disabled. I wiped out everything and my schema is as simple as it can be to test this :
[code]

I have put `prototype: true` in the `PRISMA_CONFIG` part of docker-compose.yml.

You mention that the id

[2019-03-14 22:17] jide commented on #3839
Ah it works with ID instead of Int.

[2019-03-15 00:40] jide commented on #3839
prisma-binding does not reflect the new api atm though.

[2019-03-15 00:55] qirex commented on #4179
Also getting this in v1.27.4.

[2019-03-15 01:05] qirex commented on #4179
Also present in 1.27.1.
Not occuring in 1.24.0.

[2019-03-15 02:41] gabrieltong commented on #1300
+1

[2019-03-15 03:25] cromieent commented on #2342
As I'm just in development, I really don't care about the constraints right now.  I realize that a field needs to be introduced, and it has to be required.....so I have to lose all my test data to put the new field in?  I suppose I can introduce it as not required, then populate the data, then require it...

[2019-03-15 05:13] tanekim77 commented on #165
On scale of 1 to 10, how much progress were made? 1= not even started, 10=completed

[2019-03-15 06:02] intellix commented on #165
Same use-case as https://github.com/prisma/prisma/issues/165#issuecomment-306051926
Am using Prisma to create Pages which contain an array of components for composing a page:

[code]

Current workaround looks like:
[code]

with orderings being a list of global IDs for placing them in order on the page.

[2019-03-15 07:41] divyenduz commented on #4179
Thanks, this will occur in [`1.26.x`](https://github.com/prisma/prisma/issues/3732#issuecomment-465561194) as that is when the memory leak issue was patched and this is a regression.

[2019-03-15 09:34] do4gr commented on #3839
Yes, sorry for not mentioning this. This feature is not yet propagated to Bindings or the Client. It is implemented only on the server side. You can test it using the playground or by sending queries directly to the API.

We'll adjust the Client and Bindings as soon as we have some testing feedback.

[2019-03-15 09:47] do4gr commented on #4101
I adjusted the behavior starting with the datamodel v1.1

[2019-03-15 09:47] #4101 closed

[2019-03-15 11:54] chris-rock commented on #4027
I would consider this a bug since types are not properly generated, too:

[code]

instead of
[code]

[2019-03-15 12:11] chris-rock commented on #4023
I use this method to expose the feature as this point:
[code]
we could easily integrate it into the core lib without a breaking change, as shown in https://github.com/prisma/prisma-client-lib-go/pull/5

[2019-03-15 12:16] james-ff commented on #4059
Docker Logs:

[code]

Docker ps:
![Screen Shot 2019-03-15 at 12 10 26](https://user-images.githubusercontent.com/1874352/54430554-de40f980-471b-11e9-9e2a-759cc1cb9cfb.png)

Prisma version:
![Screen Shot 2019-03-15 at 12 11 25](https://user-images.githubusercontent.com/1874352/54430537-d2edce00-471b-11e9-8408-0aa45bad2c53.png)

I'm wondering if it is something to do with my database specifically?

[2019-03-15 12:19] do4gr commented on #3183
Hey @k0ff33 ,

I looked into your import. Your datamodel defines Productcategory like this:

[code]

But you try to import this data:

[code]

You then get a unique violation when trying to import the data which looks ok to me since you defined name as being unique.

[2019-03-15 12:40] divyenduz commented on #4059
@james-ff : Would it be possible for you to share a dump of your Postgres schema (maybe with some data)? Would help us validate if there is an issue with your specific DB.

[2019-03-15 13:03] btotharye commented on #3897
Curious how you accomplish this now with something like this before using Postgres?

[code]

Is there some other way we are supposed to do this now in the Mongo connector world?

[2019-03-15 13:42] james-ff commented on #4059
Schema:

[code]

[2019-03-15 13:46] pantharshit00 opened #4197 "deleting a record with a list field of scalar values always returns empty array"
**Describe the bug**
Deleting a record with a list field of scalar values always returns an empty array even though this should not be the case.

**To Reproduce**
Use the following datamodel and deploy a prisma instance using it:
[code]

Run the following and observe the output:
[code]

**Expected behaviour**
Prisma should return the deleted object

**Screenshots**
Output of the script
![image](ht

[2019-03-15 13:50] james-ff commented on #4059
I have changed the user and password config to default postgres credentials, which seems to not give the docker containter error logs.

I now get an error when running `prisma deploy`:

[code]

[2019-03-15 14:20] do4gr commented on #3897
The only option I could think of for the moment is to create two separate subscriptions for this.

[2019-03-15 14:44] pantharshit00 commented on #4189
The only thing this could have caused this is https://github.com/prisma/prisma/pull/4097

Can you please try adding a schema property to the config in accordance with your service and stage name(default is `default@default. Look into your database in the where the data is stored if you are not sure)

[code]

[2019-03-15 15:17] rhythnic commented on #2377
It might be a constraint that a table cannot contain a foreign key reference to itself.  It's causing 2 records to be inserted, the first is the intended record, and the second has an ID and all fields are null.
Removing the foreign key constraint from the postgres dump corrects the behavior, and only one record is inserted.
### SQL
[code]

### Datamodel
[code]

![null-record](https://user-images.

[2019-03-15 16:52] do4gr commented on #4197
This has to do with the way we are fetching previous values during deletes. We will not fetch related nodes or list values. We might change this at some point, but for now that is intended behaviour in order to speed up the mutation.

[2019-03-16 01:53] codiemullins commented on #1642
Is there a way to contribute to new connectors?  A comment mentions a doc on this topic but it’s a 404 and I don’t see any updated link.

[2019-03-16 03:36] rhythnic opened #4204 "Foreign key constraint to same table in existing Postgres causing errors on query and create"
When Prisma is deployed to an existing Postgres instance in which a table has a field that has a foreign key constraint to the same table's ID field, some records are returned as null in the query result, and creating a record results in 2 records being inserted.  These bugs go away when the foreign key constraint is removed from the SQL file used to create the Postgres instance.

## To reproduce

[2019-03-16 11:12] DarkEye123 commented on #3215
Thanks! That solved it for me too

[2019-03-16 17:40] carrering commented on #171
this is sorely needed feature. i have to build all of these useless primary keys for linking tables representing many-to-many relationships.

[2019-03-16 18:55] silverqx commented on #1816
Soft Delete will be challenge, have to be supported everywhere, user have to tag entity which will support soft delete eg by new directive, in this case deletedAt property will be required, so interface in this scenario is good idea:
[code]
prisma-binding and prisma-client will have to take into account soft deleted rows.
Plus some function parameter or some other mechanism how to obtain result se

[2019-03-17 05:05] raulghm commented on #2036
I confirm that new feature is working, in my case was necessary in a multi input tag component.
The mutation is like follow example:

[code]

👏 👏
Great work Prisma guys! :D

[2019-03-17 09:33] tanekim77 opened #4205 "documentation about prisma.node ?"
Please provide your feedback here instead: https://github.com/prisma/prisma-content-feedback/issues/new?template=documentation-feedback.md.

When I see inside the method for prisma object, I see it has node method, that takes id as an argument. What does prisma.node({id:'??'}) does? Why it's there and how do I find which id to use? Thanks!

[2019-03-17 13:25] do4gr commented on #2036
Good to hear that you're making use of it @raulghm !

I'm closing the issue since the feature is now available.

[2019-03-17 13:25] #2036 closed

[2019-03-17 20:45] Shion093 commented on #2750
Having the same issue with Prisma 1.28, using Postgres 10.6

this is my model

`type DeviceModel {
  id: UUID! @unique
  name: String
  image: String
  identifier: String
  createdBy: User @relation(name: "DeviceModelUserCreated")
  updatedBy: User @relation(name: "DeviceModelUserUpdated")
  organization: Organization
  network: [String]
  launched: String
  dimensions: Dimensions
  display: Displ

[2019-03-18 01:46] devniel commented on #2753
Hello, same problem here when using Heroku postgres and Docker.

[2019-03-18 03:12] joe-re commented on #4189
@pantharshit00 Thank you for your reply!
Unfortunately if I specify schema, another error is caused.

- logs
[code]

If I specify `uri` parameter in PRISMA_CONFIG, this error disappear.

- PRISMA_CONFIG
[code]

but prev connection error is comming back..

- log
[code]

And I confirmed that schema name is correct from psql console directly.

[code]

Sorry bother to you, but do you have any other su

[2019-03-18 03:32] devniel opened #4206 "Prisma Admin, on different port, not loading data on local."
**Describe the bug**
There is a 500 error in the request made by Prisma Admin when the port is different than 4466 on local environment.

**To Reproduce**
Steps to reproduce the behavior:
1. Follow the quickstart https://github.com/prisma/prisma#quickstart
2. Change the ports on `docker-compose.yml` to `4467`
3. Change ports to `4467` in prisma.yml
4. Deploy with `prisma deploy`
5. Visit http://lo

[2019-03-18 08:36] pantharshit00 commented on #4189
You will need to add the database name as well
[code]

[2019-03-18 12:40] dpetrick commented on #2945
The mentioned PR is merged. Reopen or open a new issue if the problem persists.

[2019-03-18 12:40] #2945 closed

[2019-03-18 12:43] janat08 commented on #1665
why not prioritize arangodb which has arangosearch as competitor to elasticsearch.

[2019-03-18 14:24] jhalborg opened #4207 "Failed migration hammered database"
**Describe the bug**
A schema migration on our production server failed for unknown reasons, perhaps due to too much load on our instance and hence a timeout. I tried `prisma deploy` again, got the same schema change ouput, and another timeout.

I then went to inspect the logs for my server, which repeatedly printed out fatal failures with connection timeouts to the database (5sec+), citing `Too m

[2019-03-18 14:28] Glitched opened #4208 "Error following getting started tutorial (Field configuration to merge has duplicate field names)"
**Describe the bug**
I'm getting an error when I try to follow the [getting started](https://www.prisma.io/docs/1.28/get-started/01-setting-up-prisma-existing-database-TYPESCRIPT-t003/) tutorial with my existing Postgres database.

**To Reproduce**
Steps to reproduce the behavior:
1. `prisma init hello-world`
2. Here's what I input:

[code]

**Expected behavior**
Prisma init to generate schema.
He

[2019-03-18 14:53] jordyvandomselaar opened #4209 "GraphQL endpoint generated invalid schema: Type Query must define one or more fields."
I keep getting this error out of nowhere without altering the datamodel at all when running `./node_modules/.bin/graphql get-schema -p prisma --dotenv "../.env"` I don't know any reproduction steps because it just randomly appeared. I've tried checking out earlier commits in my project and that doesn't solve it.

Prisma image version: prismagraphql/prisma:1.26.6

[2019-03-18 16:48] pantharshit00 commented on #4207
For these cases, mostly I fix them by deleting the last migration from the database and trying again. I will be hard to fix as the reproduction of the problem is not very easy.

I think we can treat this issue as an FR for stop migration mutation in the management API although the migration system will be quite different in the near future as there will be no prisma server(see https://github.com/p

[2019-03-18 17:03] divyenduz commented on #4206
@devniel I tried this but I wasn't able to reproduce it, can you please share the output of `docker logs <prisma container name>`?

You can use `docker ps` to find the "prisma container name".

[2019-03-18 18:57] CarlFMateus opened #4211 "How make stored procedure in prisma?"
I have not found documentation on this please someone knows how to implement store procedure in prism

[2019-03-18 19:00] jentzheng commented on #4143
I think I'm not alone

`Mongo Connector`
`prisma/1.28.5 (darwin-x64) node-v8.11.4`
`prisma-client-lib: 1.28.5`

[code]

[code]

[2019-03-18 20:20] chris-rock commented on #3060
I also think, 3 tables should be enough and would be much more efficient. Are there any estimates, when this improvement is coming to Prisma?

[2019-03-18 20:59] biels commented on #48
Has this been solved? If not, which library or mechanism is being used by prisma to pluralize?

[2019-03-18 22:54] ezeikel commented on #1609
Would love to know if there is a better way of doing this with one Mutation instead of having to do two separate updates  to both Users?

[2019-03-19 01:11] RobertShaw1 commented on #4156
@timsuchanek : What additional info is needed for this issue?

[2019-03-19 03:45] joe-re commented on #4189
Set database name, but connection error is persistent..

[code]

[code]

[2019-03-19 07:14] jhalborg commented on #4207
@pantharshit00 - Thanks 👍 A couple of questions:

How would I go about that on a managed solution like Aurora? To my knowledge, and after a quick google search, there's no way to do that directly on the database server. Furthermore, I'm pretty confident that it was the Prisma server that tried to apply the migration in a loop, not the DB server itself, but have no way to verify this theory.

But s

[2019-03-19 08:48] nikolasburk commented on #4041
- [ ] The generated `docker-compose.yml` from running `prisma init` should have an additional commented line with an explanatory comment on the database container configuration that maps the port, e.g. for Postgres:

[code]

Note that `Uncomment` should be uppercased in both comments.

[2019-03-19 08:49] nikolasburk commented on #4041
- [ ] After running `prisma deploy`, the CLI prints: `Your Prisma GraphQL database endpoint is live:`. It should just print: `Your Prisma endpoint is live:`

[2019-03-19 08:58] divyenduz commented on #4156
@RobertShaw1 : Thanks, this information is enough, I am able to reproduce. However, this would need more debugging from my end for a fix.

[2019-03-19 10:07] Bartjuh4 commented on #4127
We are changing the columns directly. It's strange that citext is working fine on prisma 1.26 and 1.27 it went broken. Can you tell us when citext is supported?

[2019-03-19 10:21] jide commented on #3839
If someone wants to try with prisma-binding in the meanwhile, you can manually edit the generated schema and add your id fields, you'll then be able to forward to prisma.

[2019-03-19 10:45] impowski commented on #83
Any update on this?

[2019-03-19 11:23] KristianBjornstad commented on #165
Any progress here?

[2019-03-19 11:30] pantharshit00 commented on #4195
Hi @jwld

You are using the introspection work wrong. In this workflow every time you make a change you need to re-introspect the database using `prisma introspect`. The datamodel will not migrate the underlying database.

So your database structure is the source of truth here rather than the datamodel.

[2019-03-19 12:29] steebchen commented on #4027
Also, I believe
[code]

should be `Nodes()` and should return `[]XXExec`.

[2019-03-19 12:32] pantharshit00 opened #4215 "prisma cli's endpoint parser is wrongly parsing the URLs other than localhost"
**Describe the bug**
Prisma CLI is parsing regular local private URLs as cloud workspace URLs and deploy to any server other than localhost is broken right now with the following error if you are logged in. When you are logged out it is just asking you to login:
[code]

This is regression is introduced by the following commit: https://github.com/prisma/prisma/commit/67bb5094010e76e23849458fc211a47

[2019-03-19 12:46] steebchen commented on #1341
I honestly think the orderBy types are super ugly: `orderBy: NAME_ASC`.

Why are they not generated with enums so we could write `orderBy: { field: NAME, direction: ASC }`? This would also make re-using the possible fields a lot easier.

[2019-03-19 12:53] vistriter commented on #4215
@pantharshit00  Checking your PRISMA_MANAGEMENT_API_SECRET and endpoint path. If you use DigitalOcean, Please check your endpoint have a PORT.

I try to add env PRISMA_MANAGEMENT_API_SECRET and edit port on endpoint prisma.yml.

[2019-03-19 13:02] slg1 opened #4216 "Export/Import does not work properly"
**Describe the bug**
Import of a previous export does not work properly with the following message:
Failure inserting into relationtable _CodeToObj with ids StringIdGCValue(cjtflw2ilq6qp08799l21x89r) and StringIdGCValue(cjtfly6jxroq50879hp2avno8). Cause: duplicate key value violates unique constraint \"_CodeToObj_AB_unique\"\n  Detail: Key (\"A\", \"B\")=(cjtflw2biq6ni08798alm3tyl, cjtflwoqeqlnj08

[2019-03-19 13:11] pantharshit00 commented on #4204
cc @ejoebstl

[2019-03-19 13:28] pantharshit00 commented on #4205
Hi @tanekim77

This node method is not super helpful. Basically using inline fragment and a node id(node can be any type) you can query the type.

Example:

[code]

[2019-03-19 13:28] pantharshit00 commented on #4205
Hi @tanekim77

This node method is not super helpful. Basically using inline fragment and a node id(node can be any type) you can query the type.

Example:

[code]

[2019-03-19 13:49] pantharshit00 commented on #4209
Hi @jordyvandomselaar

Without a reproduction, it would be very hard for us to identify the problem and fix it.

btw you don't need graphql-cli to generate the schema. Prisma cli can do that as well using `graphql-schema` generator. See https://www.prisma.io/docs/prisma-cli-and-configuration/cli-command-reference/prisma-generate-xcv2/#prisma-generate

[2019-03-19 13:52] pantharshit00 commented on #4211
@CarlFMateus

Prisma currently doesn't support procedures or views so we can treat this issue as a feature request.

[2019-03-19 13:54] pantharshit00 commented on #4215
@vistriter I am not sure what are referring from that comment. This is a confirmed bug regarding the parser. If you version lower than 1.28.4 it will work fine

[2019-03-19 14:50] pantharshit00 commented on #4216
I am unable to reproduce this with prisma version 1.28

![image](https://user-images.githubusercontent.com/22195362/54615571-5b55d100-4a84-11e9-859d-9b1d44e105d9.png)

I tried twice

[2019-03-19 15:16] nikolasburk opened #4219 "Allow for custom IDs to be submitted when creating new records in client API"
With [this](#3839) being implemented, the Prisma API is now able to take custom IDs when new records are created.

This change still needs to be reflected in the API of the Prisma client.

[2019-03-19 15:17] nikolasburk commented on #3839
I've created a separate issue to track this functionality in the client API: https://github.com/prisma/prisma/issues/4219

[2019-03-19 15:56] brafdlog commented on #2466
+1 jsonb and array

[2019-03-19 16:08] brafdlog commented on #3684
Any updates on this?

[2019-03-19 16:08] RobertShaw1 commented on #4156
@divyenduz : Thanks.  I just wanted to make sure the issue didn't get closed or marked as stale because there was additional info I needed to submit.  Your efforts are much appreciated.

[2019-03-19 16:38] andrejunges commented on #2160
any updates on this?

[2019-03-19 17:50] ardeaf commented on #4215
Thanks @pantharshit00, I was losing my mind trying to debug this one. Great time to start dabbling in setting up a prisma server!

[2019-03-19 18:07] tkolleh opened #4221 "Postgres SQL type float8 is not recognized"
**Describe the bug**
A clear and concise description of what the bug is.

Unable to deploy datamodel for postgres schema due to the error `Encountered unknown SQL type float8 with column`.

[code]

**To Reproduce**
Steps to reproduce the behavior:
- Run `prisma deploy`
- See error:

[code]

**Expected behavior**
A clear and concise description of what you expected to happen.

Successful deployment

[2019-03-19 19:05] benseitz commented on #2992
Would this also mean getting rid of RabbitMQ?
So adding prisma client as a library to a serverless function would be an ideal use case.
Similar to [Postgraphiles schema-only usage](https://www.graphile.org/postgraphile/usage-schema/).

[2019-03-19 19:31] #4072 closed

[2019-03-19 19:35] couchuser12345 opened #4222 "Prisma Docker Container should not attempt to connect to check-update.graph.cool"
Testing out / running Prisma via docker container I noticed within docker daemon logs that the container is attempting to connect to various domains in an attempt to what appears to check for updates.

Here is a sample of redacted logs:

[code]

Both of these fail since I'm testing this out locally on an isolated box that is running on an isolated network without proxy access to the internet. I wa

[2019-03-19 20:41] jwld commented on #4195
Not sure I follow @pantharshit00 - I thought `prisma introspect` was just for generating the datamodel based on an existing structure? I don't want to migrate the database at all really, since I'm trying to introduce graphql and prisma to an existing codebase, that relies on the database structure as it is.

Is this not possible? [This page](https://www.prisma.io/docs/datamodel-and-migrations/intr

[2019-03-19 22:07] jwld commented on #4195
Ahh I've solved it 🎉

Just had to add `schema: public` to my `docker-compose.yml`. I then also had to change my `id` fields back to `Int` (as was originally generated) before it actually worked.

Would be nice if `prisma init` asked for the schema to save this confusion.

[2019-03-19 22:38] jentzheng commented on #4143
I manually changed the embedded option from `false` to `true` in the generated file, then it works...

[2019-03-20 05:02] OkuraSt commented on #1622
Is there any workaround for this? We have several mongo databases and it would be helpful for using graphql as a gateway

[2019-03-20 06:17] Thebigbignooby commented on #2992
I was looking forward to playing around with prisma until I realised it requires Docker.
Ok, I accept the tradeoff and start installing Docker only to realise it doesn't work in WSL ... So, I need to install it under windows. Does that mean I need to install node & databases under windows too ?

Documentation on the respective websites of docker/mysql/mongodb for installation on windows aren't ver

[2019-03-20 06:55] brafdlog commented on #2992
If prisma runs in the same process its seems like supporting hooks into the query building process would be possible. This could be a very powerful feature. (postgraphile supports it as well)

[2019-03-20 07:17] slg1 commented on #4216
Most of the time, its fails in my environment.
When you retry, do you reload the database from scratch via the following command ?
node_modules/.bin/prisma reset -f ;node_modules/.bin/prisma delete -f;node_modules/.bin/prisma deploy;node index.js
Please, could you try to reproduce this problem again ?
Thank you very much.

[2019-03-20 08:30] nikolasburk commented on #4176
Hey @alexbudure, thanks a lot for opening this issue. We have indeed consciously removed the GraphQL API docs, you can find the reasoning for why we did that in [this](https://www.prisma.io/blog/prisma-and-graphql-mfl5y2r7t49c/) blog post.

If you need access to the docs, you can still find them in the docs for the older versions of Prisma (< [1.27](https://www.prisma.io/docs/1.27/prisma-graphql-a

[2019-03-20 08:30] #4176 closed

[2019-03-20 09:08] pantharshit00 commented on #4216
@slg1

I am still unable to reproduce on a Mac. I will try on a cloud Linux box but can you please provide me with a screenshot of the error so that I can try to reproduce that error and might follow the stack trace if there is any

[2019-03-20 09:11] pantharshit00 commented on #4222
@couchuser12345

Can you please provide the version of prisma server that you are using

[2019-03-20 09:34] pantharshit00 commented on #4207
I believe you can connect to it using any MySQL client. See https://docs.aws.amazon.com/AmazonRDS/latest/AuroraUserGuide/Aurora.Connecting.html. I personally use tableplus.io for these tasks.

Yes, it is meant to onboard new users and make prisma easy to use. It will be performant as well.  But Prisma server is also in works and it right now being written in rust so that we can eliminate JVM as a

[2019-03-20 09:37] Corjen opened #4223 "Ordering by id_in"
Hi,

As requested by @schickling, a feature request describing ordering a list by the `id_in` input.

I have the following use case:

[code]

Companies are able to relate to each other with a certain type (`LIKE`, `DISLIKE`, `WAITING`) where only one relation type can exist between company A & company B and vice versa.

What I want is to be able to retrieve a 'ranked' list, where I first get the c

[2019-03-20 09:42] slg1 commented on #4216
**my console output:**

rm -rf .import/;node_modules/.bin/prisma reset -f ;node_modules/.bin/prisma delete -f;node_modules/.bin/prisma deploy;node_modules/.bin/prisma import --data /tmp/prismaLocal1.zip &> out1.txt
Resetting exportImport@dev 145ms
Deleting service exportImport@dev from local 35ms
Creating stage dev for service exportImport ✔
Deploying service `exportImport` to stage `dev` to serve

[2019-03-20 09:47] oreillyross commented on #2992
Remove dependency on Docker, Its an issue for me (and others I imagine) that work mostly in cloud based IDEs - it is difficult to get Docker running in a virtual environment, mostly because docker itself hosts the virtual environment.

[2019-03-20 09:51] mavilein commented on #4223
Hey @Corjen ,

thanks for such a thorough writeup! 🙏

May i know why you modeled `CompanyRelation` with fields of type `ID`? My intuition would be to model it like the following. In this case you would not need to do the `id_in` query.
[code]

[2019-03-20 10:03] sapkra commented on #2945
Should have been released within 1.30.0-beta 20 minutes ago.

[2019-03-20 10:04] jordyvandomselaar commented on #4209
Hey @pantharshit00,

I totally get it and was wondering if I should create this issue, it was more of a _pray someone else has had it and knows what's up_ thing 😅️

If all else fails I'll give that a shot. Thanks!

[2019-03-20 10:39] Corjen commented on #4223
Hi @mavilein,

Thanks for the quick reply! That does indeed make it easier to get the relations connected to a certain company, but still doesn't solve the issue of getting the companies without a relationship first, right?

In your solution, I would have to do something like:
[code]

And to get the company of a relation, wouldn't I have to loop trough the entire connections list to get each compa

[2019-03-20 10:44] divyenduz commented on #4143
@ezeikel @jayarnielsen @jentzheng Can you please share your `prisma.yml` file as well? How did you obtain that file (using which workflow?)

Are you using the [`databaseType: document` property](https://www.prisma.io/docs/prisma-cli-and-configuration/prisma-yml-5cy7/#root-properties) in `prisma.yml`. If no, can you please add it and try again to confirm if the generated client is correctly generat

[2019-03-20 12:10] jordyvandomselaar commented on #4209
I'll close this issue as it's resolved 🎉

I downgraded my Prisma container from `prismagraphql/prisma:1.26.6` to `prismagraphql/prisma:1.25.7` and boom, it's working.

[2019-03-20 12:10] #4209 closed

[2019-03-20 12:27] jentzheng commented on #4143
Thank you @divyenduz , I was not using `databaseType: document` property in `prisma.yml`. Now, the   generated client is with `embedded: true` and the data result is corrected as I expected.

[2019-03-20 12:45] divyenduz commented on #4143
@jentzheng Thanks, did you hand write the `prisma.yml` file from some docs or did some workflow generate it for you? Maybe that part of the workflow can be improved?

[2019-03-20 12:57] nunovieira commented on #4215
With Prisma Server and Prisma CLI 1.29.0, when `prisma deploy`:
[code]
Is this related?

With Prisma CLI 1.28.5, the deploy worked!

[2019-03-20 13:00] divyenduz commented on #4215
Assuming that server is always protected by a secret, this is the current behavior:

**Logged in with management secret**

Local server + localhost - Invalid token is currently thrown - which is correct behavior
Local server + proxy or prisma:4466 - ERROR: Workspace * does not exist ❌ correct: Invalid token is currently thrown
Demo server - works as expected
Private server hosted by Prisma
Self ho

[2019-03-20 13:32] pantharshit00 opened #4226 "adding a Node type breaks prisma cli generation and prisma server"
**Describe the bug**
Adding a Node type to the datamodel breaks the prisma API as it already has a node type. It also breaks the cli generation.

**To Reproduce**
Try to generate a client or deploying and querying the data from the following datamodel:
[code]

**Expected behavior**
Prisma should not crash when the `Node` type is added

**Versions (please complete the following information):**
 - C

[2019-03-20 14:46] epileftro85 opened #4228 "If i use any scalar JSON type, throws not implemented error"
**Describe the bug**
An error was thrown while querying a document with JSON scalar type on MongoDB.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a scalar type JSON
2. Fill it with some object
3. Query that document.
4. Error is thrown

**Expected behavior**
A query with the entire document.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Versions (

[2019-03-20 14:50] jayarnielsen commented on #4143
@divyenduz I ended up refactoring mine to be relational since I couldn't get the embedded type to work. But I didn't have the `databaseType: document` property in my prisma.yml file, so that was most likely the culprit. I think I copied my config from an example somewhere 😬

[2019-03-20 14:54] 5achinJani commented on #4124
I'm facing the exact same issue. Any updates on this?

[2019-03-20 14:57] 5achinJani commented on #4124
![image](https://user-images.githubusercontent.com/23077544/54694509-58271780-4b4e-11e9-8175-007f2283abd5.png)

[2019-03-20 15:21] ezeikel commented on #4143
I fixed this by adding a field resolver for `posts` on `User`

[code]

[2019-03-20 15:41] jayarnielsen opened #4230 "Unable to use multiple filters with deleteMany for embedded documents"
I have a document with embedded lists of other documents that I need to run a deletemany operation on. deletemany should remove everything that matches both of two fields, but it seems to be ignoring one of the fields and therefore deleting too much.

**To Reproduce**
In the following example, I'm trying to create a delete query which will remove any alterations that were in the old alterations li

[2019-03-20 15:42] 5achinJani commented on #4124
I figured it out the issue was related to the db user name it should be the same that you set in creating the database cloud-formation stack.
`DatabaseUsername` in the database stack and
`DbUser` in the prisma server stack should be the same.
Resolved for me.
@romseguy Can you verify this thing in your stacks if it is still not resolved for you.

[2019-03-20 16:15] oreillyross commented on #62
Yes me too, would love to have this feature built-in

[2019-03-20 20:45] anthonymetzler commented on #4143
I just wanted to second that embedded types aren't working with the Mongo connector. Running Prisma 1.28.5 with the
I'm getting an error coming back like:
`
"Variable '$data' expected value of type 'LocationCreateInput!' but got: {\"name\":\"adadaaaaa\",\"description\":\"Test 123\",\"owner\":{\"type\":\"USER\",\"ownerId\":\"5c9293a21169c40007692ead\"}}. Reason: 'owner.type' Field 'type' is not def

[2019-03-20 20:57] eduardobcastro opened #4232 "Unable to init existing MySQL database"
[code]

[2019-03-20 23:44] divyenduz commented on #4143
@anthonymetzler : Your error looks different than this issue, can you please create a new issue [here](https://github.com/prisma/prisma/issues/new?template=bug_report.md) with a minimal reproduction?

[2019-03-21 04:04] jayarnielsen commented on #4230
Closing because the issue was resolved with some refactoring.

[2019-03-21 04:04] #4230 closed

[2019-03-21 04:45] biels commented on #3183
But if he is importing and exporting using prisma export/import, why is the data being duplicated at some point? It is clearly not the data's fault since it comes from the same db that is enforcing those constraints.

The same is still happening to me when I try to export, reset and import on prisma 1.29. Please solve, this is a blocker.

[2019-03-21 04:59] biels commented on #2322
It is probably still an issue, see #3183

As I have posted to slack:
Prisma is failing to export / reset / import into itself
Throwing a bunch of  ... violates foreign key constraint ... is not present in table [Table]
It looks like it is not exporting all the data, because the export process is very fast and the resulting file very small
So basically I am unable to export my database and do any b

[2019-03-21 06:53] HaveF opened #4296 "add a flag (for `prisma admin`) to disable open browser directly"
but to display the address on the terminal only.

[2019-03-21 08:01] ronalddddd commented on #4215
For anyone looking at the same issue looking for a workaround, restoring "prisma" package version alone might not work. These versions in my package.json worked for me:

[code]

[2019-03-21 09:07] uxname commented on #4215
1.28.3 works fine too

[2019-03-21 09:13] MrBlenny commented on #3403
Will adding `@scalarList(strategy:RELATION)` enable list filtering using something like `field_every`, `field_some` and `field_none`? (as discussed [here](https://github.com/prisma/prisma/issues/1275))

[2019-03-21 09:35] divyenduz commented on #4215
This is fixed in `1.29.1`, please install it using `npm install -g prisma`

[2019-03-21 09:45] divyenduz commented on #3359
This is available in the latest stable, `1.29.x`, please install it via `npm install -g prisma`. I am closing this issue, please reopen a new issue if required.

[2019-03-21 09:45] #3359 closed

[2019-03-21 09:47] divyenduz commented on #3140
This is available in the latest stable, `1.29.x`, please install it via `npm install -g prisma`.

As the issue regarding a similar flag in nexus tooling is tracked in its own issue, I am closing this issue, please reopen a new issue if required.

[2019-03-21 09:50] divyenduz commented on #3585
This is available in the last two latest stable versions `1.28.x` and `1.29.x`. I am closing this one, please re-open if required.

[2019-03-21 09:50] #3585 closed

[2019-03-21 10:43] nunovieira commented on #3359
I've come across this breaking change.
The documentation needs to be updated. Is that being done or should I try to submit a PR?
I also didn't notice any mention of this in the release notes.

[2019-03-21 10:47] divyenduz commented on #4179
This is a demo of how an async promise should behave when consumed multiple times (which is exactly once): https://codesandbox.io/s/q3wj8275lq

The result of that promise is stored as per [this algorithm](https://www.ecma-international.org/ecma-262/6.0/#sec-promise-resolve-functions) in the underlying engine till the promise object is no longer referenced and can be garbage collected.

Prisma clie

[2019-03-21 10:54] divyenduz commented on #3977
![image](https://user-images.githubusercontent.com/746482/54747729-f4ddc980-4bcf-11e9-9a29-92832d56e8a2.png)

@garmjs : I am unable to reproduce, are you sure that the command that you are running doesn't yield an error status code or write to `stderr`? Can you please share your `prisma.yml` file or provide a minimal reproduction?

[2019-03-21 12:26] JoshuaToth commented on #3997
Just following up the above I found that

[code]

Will never be passed valid 'args' and the aggregate count will always be the maximum count of persons.

If you instead modify the Query return to actually return each expected connection object:

[code]
You should get accurate aggregates

[2019-03-21 13:10] divyenduz commented on #3579
This can be achieved with the following behavior:

1. with respect to `deploy`
It should run after deploy and only run if the deploy was a success

2. with respect to `hooks`
We only have a `post-deploy` hook right now and it should run after that hook because of point 1 but the behavior needs to specced out for future hooks

3. with respect to `seed`
This can run independent of the seeding workfl

[2019-03-21 13:21] adamfeldman commented on #331
+1

[2019-03-21 14:33] garmjs commented on #3977
@divyenduz I'm not using prisma generate should i use instead of `graphql get-schema -p prisma`, this is prisma.yml file

[code]

[2019-03-21 14:35] divyenduz commented on #3955
@remy Thanks for raising this issue. Prisma client returns an [async iterator](https://tc39.github.io/proposal-async-iteration/) that exposes a `return` method to perform cleanups.

I create a [small demo here](https://github.com/divyenduz/prisma-3955) to show that the async iterator generated by the Prisma client subscription does indeed expose and respect the return method.

It is the responsibi

[2019-03-21 14:42] nikolasburk commented on #3579
[code]

[2019-03-21 14:57] divyenduz commented on #3619
This is not possible because multiple versions of [`graphql` package cannot exist](https://github.com/graphql/graphql-js/issues/594) in the same project.

For example, if a project mandatorily depends on `graphql` `v0.13.x` (say) for any reasons and they cannot upgrade and we ship a client version with the latest `graphql` `v14.x` (at the time of writing) then this will break their project.

I am

[2019-03-21 14:57] #3619 closed

[2019-03-21 14:59] divyenduz commented on #3977
@garmjs : Yes, that is recommended, most likely this is a bug in `graphql-cli` and it writes to `stderr` or ends with a non-zero status code.

Please try a command like `echo "Running post-deploy hook"` using the following `prisma.yml` file to confirm this fix.

[code]

if that works without any red lines, please let me know and I will close the issue :)

Please feel free to open a separate issue

[2019-03-21 15:11] garmjs commented on #3977
No red warning when I remove `graphql get-schema -p prisma`,  is there a way to get schema after deploy using Prisma CLI

[2019-03-21 15:16] divyenduz commented on #3977
Yes, please search for `graphql-schema` [here](https://www.prisma.io/docs/prisma-cli-and-configuration/cli-command-reference/prisma-generate-xcv2/#prisma-generate).

I am closing this issue as the schema generation is a separate topic.

Please find me on our slack (my handle is `divyenduz`) if you still need help with schema generation.

[2019-03-21 15:16] #3977 closed

[2019-03-21 15:16] do4gr commented on #3183
Hey, @biels

one case where I could see this happening going from Prisma to Prisma is if the Prisma instances are using different underlying databases. They treat string comparison differently as I wrote.

Can you provide me with a reproduction repo for your issue please? Then I can look into it.

[2019-03-21 15:29] nikolasburk commented on #3408
*The datamodel v1.1 is ready to be tested* 🎉  You can find all instructions how to get started in [this](https://github.com/prisma/datamodel-v1.1-feedback) GitHub repo.

[2019-03-21 15:48] pantharshit00 commented on #4232
@eduardobcastro

Can you please share some a small reproduction of the problem? With the bare error message we can't triage and fix this.

[2019-03-21 15:50] ezeikel commented on #3796
@do4gr  So will this be eventually implemented or is there a reason why?

[2019-03-21 15:59] pantharshit00 commented on #3359
@nunovieira I have updated the release notes.

[2019-03-21 16:04] eduardobcastro commented on #4232
@pantharshit00 I did:
`env DEBUG=* prisma init hello-world`

I've just started following the **getting started** with an existing MySQL database.

[2019-03-21 16:08] biels commented on #3183
I was using the same exact prisma instance that operated on the same postgres instance.
The apparent reason it was not working is because the docker volume that contained the postgres data was full / not allowed to grow by docker. I fixed it by cleaning unused images and volumes. Maybe a guide on how to configure the docker volume appropriately to store arbitrary amounts of data would be helpful.

[2019-03-21 16:27] jayarnielsen commented on #4036
I'm running into this same issue. @do4gr I'm curious is this is only an issue with mongo? I may need to refactor using a different database if so. Having 3 separate transactions for delete, create, and update seems terribly inefficient.

[2019-03-21 16:35] ZenSoftware commented on #4215
Unfortunately, I am still getting an error with `1.29.1`.  A few days ago, after updating prisma and then running `prisma deploy`, it opened up my web browser to get me to log into `prisma.io`.  I created an account, though I am currently not using any prisma.io cloud services. `prisma deploy` then would error.  I reverted my version, and waited for this fix to go through.  I updated to `1.29.1` t

[2019-03-21 16:42] pantharshit00 commented on #4215
@ZenSoftware Can you please share your prisma.yml file?

[2019-03-21 16:46] ZenSoftware commented on #4215
Oh yes of course.  Here is my `prisma.yml` file:
[code]

[2019-03-21 16:57] divyenduz commented on #4215
@ZenSoftware : Is there a specific reason that you are referring to `localhost` as `0.0.0.0`? That looks incorrect to me.

[2019-03-21 17:36] glesperance commented on #1278
any updates on this ; our team would need to be able to specify / generate id on the client

[2019-03-21 18:01] do4gr commented on #4036
This is only an issue on Mongo. The SQL connectors don't have embedded types and do not have that limitation.

[2019-03-21 18:08] remy commented on #3955
In my full complex app I do, but otherwise no(!)

I've had to give up using subscriptions (I switched to using the alt await
method some time ago). It would frequently miss events and it's needed for
user sign up emails (when their status changes).

I did find that combining UPDATE and CREATE event listening on a
subscription for a particular field completely fails though. It never fires
the creat

[2019-03-21 20:27] strazi commented on #4216
I'm having the same issue, I posted about it here: [https://www.prisma.io/forum/t/prisma-import-error-after-export/6159/4](https://www.prisma.io/forum/t/prisma-import-error-after-export/6159/4)

[2019-03-21 20:44] ZenSoftware commented on #4215
@divyenduz  Ah yes, you are correct.  Changing it to `localhost` or `127.0.0.1` resolved the issue for me.  My apologies.  I only started using docker over the last 2 weeks.  I actually had suspicions that using `0.0.0.0` was incorrect. Strange that it worked for me using prisma < 1.28.3.  But everything is working smoothly now.

[2019-03-21 21:00] YannisMarios commented on #2765
I totally agree with @DominikMueller64. Common sense says that this is a bug.

[2019-03-21 21:43] murdockq opened #4239 "Prisma server having memory leak / runaway cpu usage"
**Describe the bug**
Shortly after running the prisma server it has memory leak / runaway cpu usage.  It allocates up 2gigs or ram and runs at 100% cpu and is completely unresponsive. Log output is below.

Currently running prisma server version 1.11.1 in production without issues.
This error happens when attempting to upgrade to latest version 1.29.1,  a similar problem also occurred when trying

[2019-03-21 21:54] Tata1993 commented on #3393
Would really love to see this being implemented for prisma!

[2019-03-21 22:19] camjw opened #4240 "Prisma errors when using ngrok"
Prisma can't deploy when [ngrok](https://github.com/inconshreveable/ngrok) is running.

I'm running Prisma using Docker and Postgres and I've got a pretty standard `prisma.yml`, and everything works fine usually. When I run it with ngrok running in the background (on a completely random port) then I get the following error:

[code]
I get a similar error when I try to query the running api, the api

[2019-03-21 23:43] divyenduz commented on #4215
Yes, `< 1.28.3` had a code path that would make this work incorrectly till the token resolution at least, I am not sure how it resolved to localhost correctly though, if it did.

[2019-03-22 06:27] KumarAbhirup opened #4241 "OneToMany relation working on Prisma Database, but not on server! 😱"
**NEWBIE ALERT**, I might sound silly and I don't really know if this issue should really exist here or not. Would love your kind suggessions. 😅

In the mutation to create posts, I am using this code:
[code]

This connects the post to the author in the database. I got to know this by using Database Playground.

However, when I `console.log` the `postToUpdate`, it returns `author: null`!
When I use

[2019-03-22 08:11] pantharshit00 commented on #4241
See : https://www.prisma.io/forum/t/onetomany-relation-working-on-prisma-database-but-not-on-server/6453/3?u=pantharshit00

Basically I think you have not implemented type resolvers, that is it is returning null for the author.

[2019-03-22 10:32] divyenduz commented on #3183
@biels : Thanks for raising this issue and as we sorted it out in the slack conversation, this was related to the docker mount point being full, I am closing this issue. Please feel free to open a new issue, if required.

[2019-03-22 10:32] #3183 closed

[2019-03-22 10:34] divyenduz commented on #4129
Blocked by this: https://github.com/jOOQ/jOOQ/issues/8429

[2019-03-22 10:46] divyenduz commented on #4216
If this is not production, you can try to use `prisma reset -f` (to **permanently remove** the existing data) and then re-import using `prisma import`

[2019-03-22 10:49] divyenduz commented on #4232
@eduardobcastro : Can you please share your Prisma CLI version and Prisma server version using `prisma version` and `docker ps` respectively.

[2019-03-22 10:52] divyenduz commented on #4239
@murdockq : Can you share some more details about your stack, this issue might not be in Prisma server but it could be in any part of the stack as we have learned in the past https://github.com/prisma/prisma/issues/1779

You can share your `package.json` file to expedite things.

[2019-03-22 10:53] divyenduz commented on #4240
Can you share the output of `docker ps` command? Normally, Prisma server runs on `4466` port by default and the correct ngrok command would be `ngrok http 4466`. Please let me know if that works?

[2019-03-22 10:56] slg1 commented on #4216
It is already done in my case.

[2019-03-22 10:59] divyenduz commented on #4216
Then, would it be possible for you to provide the export file, `docker-compose.yml` file and `prisma.yml` file in form of a minimal reproduction?

[2019-03-22 12:23] do4gr commented on #4228
Hey @epileftro85 ,

when you create a JSON field using Prisma you have to provide the JSON in stringified form at the  moment. For historical reasons (since we started out with SQL databases) we then store this in a String column in the database. When reading a JSON field Prisma therefore expects the underlying database column/field to be of type String and contain a stringified JSON.

Mongoose is

[2019-03-22 13:31] murdockq commented on #4239
Running a vue, apollo and graphql-yoga stack.  Here is my package.json for both client and server

server
[code]

client
[code]

[2019-03-22 15:06] pantharshit00 commented on #4239
@murdockq

Can you please share the details of the server as well(eg amount of memory and such). If your server has less and 1GB of memory, you might need to change the JAVA_OPTS variable to decrease the heap size

[2019-03-22 15:17] MathiasKandelborg commented on #3774
Any progress on this? :smile:

[2019-03-22 15:17] murdockq commented on #4239
Server has 8gb of ram and running all containers with docker-compose on the same machine for the staging environment

`docker stats prisma` (with the old 1.11.1 server version)
[code]
When running 1.29.1 it is at 100% cpu and 2.1gb before it fails.

`top`
[code]

what JAVA_OPTS value would you recommend and I can try it out?

[2019-03-22 15:26] telaoumatenyanis opened #4247 "Change deploy timeout"
**Is your feature request related to a problem? Please describe.**
I have to deploy a field on a table containing a lot of lines.

The deployment takes a lot of time (even by sending a ALTER TABLE query without Prisma) and the deploy timeouts.

**Describe the solution you'd like**
Give the ability to set the timeout

[code]

**Describe alternatives you've considered**
Timeout=0 may disable timeout

[2019-03-22 16:07] eduardobcastro commented on #4232
@divyenduz

```prisma/1.29.0 (linux-x64) node-v11.12.0```

The `prisma init` command comes before we start the server so I don't have one started at this point.

[2019-03-22 16:09] divyenduz commented on #4239
Have you already tried out some tools to take heap dumps and pin point the leak?
Your Yoga version looks good, I wouldn't rule out a leak in the application itself though. A reproduction would be amazing :)

Resources:
https://www.nearform.com/blog/how-to-self-detect-a-memory-leak-in-node/
https://github.com/prisma/prisma/issues/3732

[2019-03-22 16:16] divyenduz commented on #4232
@eduardobcastro : I am unable to reproduce, what options did you choose in the init workflow? I get a dialog like the one attached in the screenshot and it works fine for me.

![image](https://user-images.githubusercontent.com/746482/54837267-3ea8db80-4cc6-11e9-9892-6657f7734f1b.png)

[2019-03-22 16:20] eduardobcastro commented on #4232
![image](https://user-images.githubusercontent.com/163576/54837474-4310cc80-4ca5-11e9-8e3b-e894b5ec38cb.png)

[2019-03-22 16:24] epileftro85 commented on #4228
Hi @do4gr, I've already did the second option, for some reason MongoDB didn't query location on that embedded object, I think because the embedded option generates an internal id and the GeoJson doesn't support that structure.

For the first option, I prefer to keep using the GeoJson field for MongoDB and Mongoose can query that field.

Thank you for your time, I will keep combining mongoose for s

[2019-03-22 16:58] divyenduz commented on #3912
This is fixed the the latest alpha, `1.31.0-alpha.3`, please install it via `npm install -g prisma@alpha`

[2019-03-22 16:58] divyenduz commented on #3950
This is fixed the the latest alpha, `1.31.0-alpha.3`, please install it via `npm install -g prisma@alpha`

[2019-03-22 16:58] divyenduz commented on #3579
This is implemented the the latest alpha, `1.31.0-alpha.3`, please install it via `npm install -g prisma@alpha`

[2019-03-22 17:04] divyenduz commented on #4232
This should be fixed in the latest alpha: `1.31.0-alpha.3`, can you please try it using `npm install -g prisma@alpha`

[2019-03-22 17:11] eduardobcastro commented on #4232
Hi @divyenduz, I've just installed the latest alpha. The error continues.

[2019-03-22 17:15] divyenduz commented on #4232
Thanks, I will test this and get back.

[2019-03-22 17:18] camjw commented on #4240
Hi, sorry I've been a bit unclear maybe. I'm not trying to tunnel my prisma instance through ngrok, I was trying to use ngrok for something completely unrelated.

My prisma instance runs on port `4040`, but when I had ngrok running I couldn't connect to it at all. I can share my docker ps in a couple of hours.

[2019-03-22 17:21] divyenduz commented on #4240
Interesting, so you mean when any tunnel is turned on even at a non Prisma port, prisma stops working? What ports were you actually tunneling though, maybe there is a co-relation.

[2019-03-22 17:43] divyenduz commented on #4036
Just for context, this is the relevant underlying [mongo test case](https://github.com/mongodb/mongo/blob/b21647a5e19e5980186e57f77be0b1e0ef92a087/src/mongo/db/update/update_object_node_test.cpp#L321-L342). Prisma just surfaces this behavior.

[2019-03-22 18:03] clshu opened #4249 "Prisma does not support double byte character set"
**Is your feature request related to a problem? Please describe.**

No support for Chinese language character such as BIG5, EUC_CN(Postgres). Our App will be deployed in these countries.

**Describe the solution you'd like**

Maybe some generic scalar type mapping between prisma and database.

**Describe alternatives you've considered**

We were able to prototype apollo server 2 + prisma + postgre

[2019-03-22 19:22] liyucun opened #4250 "Cannot access admin ui locally"
**Describe the bug**
After run `prisma deploy` successfully, I can access Admin UI on prisma server, but I cannot access admin ui panel locally through docker-compose.

**To Reproduce**
Steps to reproduce the behavior:
1. Setup project with below docker-compose file
[code]
2. run [prisma graphql server example](https://github.com/prisma/prisma-examples/tree/master/typescript/graphql) by `npm run s

[2019-03-22 20:15] cmoses8626 commented on #3587
Don't think this is in the docs yet, is it @do4gr? Wasted a bunch of time this afternoon trying to figure this one out, thought I was nuts 😆

Thanks for the response above!

https://www.prisma.io/docs/1.28/datamodel-and-migrations/datamodel-MYSQL-knul/#using-the--argument-of-the--directive

[2019-03-22 20:31] do4gr commented on #3796
Our implementation of Cascading Deletes in the SQL connectors relies on transactional guarantees across tables.

Mongo only started supporting cross-document transactions with 4.0. We are at the moment testing at what performance penalty enabling transactions on Mongo comes since this is a very new concept for them.

[2019-03-22 20:33] do4gr commented on #3587
We just implemented this for the SQL connectors and will shortly merge this into alpha, that's why we did not update the docs. It should be available next week.

[2019-03-23 03:03] nk1tz commented on #95
+1
I have a need for exactly this.
:)

[2019-03-23 03:52] KumarAbhirup commented on #4241
Sorry bro 😅 newbie here. I didn't get the point of that article.
What do you mean by "not implementing a type resolver"?

sorry again, if I sound silly 🎄

[2019-03-23 07:37] overpod commented on #2840
At the moment, the problem remains.
[code]
DDL schema
[code]
**To Reproduce**
https://www.prisma.io/docs/datamodel-and-migrations/introspection-POSTGRES-soi1/

help me please !!!

[2019-03-23 08:35] IngeniousPentaSquid opened #4251 "Multiple link relations of the same type will not work"
When trying to create multiple uni-direction (link: INLINE) attributes, prisma client won't run.

[code]

Having such functionality is extremely useful and also can also be used in multiple scenarios but the datamodel will not allow this?

[2019-03-23 10:51] newtmex commented on #2873
I would love this feature. Being able to use prisma to connect to different database of the same DMS. Example having two database on MySql and using Prisma to connect to and manipulate them.

So a workaround for this will be to create different Prisma Servers as needed for each database?

[2019-03-23 11:29] openefit commented on #4215
i encounter this with a specific reason:
deploy prisma on one machine, but development with another pc in a local network.
set the endpoint with ip address, so the playground works fine without manual adjust.

[2019-03-23 14:18] camjw commented on #4240
Exactly yeah, I was running prisma on `4040`, then I had a graphql-yoga server running on port `4000`, and I was ngrok-ing `8070`.

[2019-03-23 15:24] IngeniousPentaSquid opened #4252 "[Mongo] Querying collections with Float results in not Implemented Error"
Hi all,

**
Prisma Client Lib: 1.29.1
MongoDB DB Version: 4.0.1
**

Attempting to query a collection with a field of Type float causes an internal server error which suggests that the type is not implemented yet.
Background: Prisma data model generated from an introspected mongo database and a client is successfully generated. Queries on collections which do not have a Float field work perfectly f

[2019-03-23 16:54] THPubs opened #4253 "Subscriptions are not stable. Prisma terminates with a GqlConnectionTerminate error"
I just implemented subscriptions in my API which use `graphql-yoga`. I have one prisma server which have the following config:

    databases:
      default:
        connector: postgres
        host:
        database: prisma
        port: 5432
        user: admin
        password: ${DB_PASSWORD}
        migrations: true
        rawAccess: true
        ssl: true
        connectionLimit: 5

Note tha

[2019-03-23 17:40] nolandg commented on #2705
Has anyone found a workaround for this? This is a show stopper for my app that stores JSON objects of about 350kb. It seems this isn't a postgres limit but something hard coded by Prisma. Is the only way to fork Prisma and hack that line linked to above? Or is it more complicated and Prisma is also limiting the db field size when creating the db schema?

[2019-03-23 18:25] hazabaum commented on #4206
Hey~! I was just playing around with Prisma and run into the same issue. I set up a local MongoDB database with `prisma init` and the admin panel is unable to load the data browser.

[2019-03-23 19:25] remorses opened #4254 "onDelete: CASCADE completely ignored"
**Describe the bug**
Objects referenced in a @relation(onDelete: CASCADE) don't get deleted when I delete the referenced object. I know this is a known issue with deleteMany but I encounter the same issue with simple delete.

**To Reproduce**
- prisma init with docker MongoDB database and prisma:1.29 with the following data model
[code]
- from playground create a new user and blog
[code]
- delete

[2019-03-24 06:58] sedubois opened #4255 "Prisma admin: CMS/WYSIWYG content editing"
**Is your feature request related to a problem? Please describe.**
Prisma admin beta appears to only support editing basic strings, not blog posts and other editorial content.

**Describe the solution you'd like**
- Add CMS-like functionalities (starting with a WYSIWYG markdown editor) to allow non-technical team members to publish blog posts. There are many blog editing platforms but using Prisma

[2019-03-24 13:28] endlessdev commented on #4190
I found this same issue. but we should use 1.26 version for a while. 😢

[2019-03-24 16:40] remorses commented on #4254
Is #4212 related?

[2019-03-25 04:42] ashitikov commented on #3304
+1

[2019-03-25 08:46] MathiasKandelborg commented on #4255
This seems like a great request, something I'd use too. But so far, I've personally been thinking of the admin ui as an easy way to manage entries. However, if I ever needed a CMS, I would build it myself.

My process has been to create the full schema, then make a clientside schema and integrate rules from graphql-shield. I'll then make an express server and connect that with another front server

[2019-03-25 09:49] huyqpham commented on #3458
The issue is still there with: prisma/1.29.1 (windows-x64) node-v10.15.3

[2019-03-25 10:30] slg1 commented on #4216
Already available in git clone https://github.com/slg1/prismaExportImport.git

[2019-03-25 11:32] pantharshit00 commented on #4250
@liyucun

I can't seem to reproduce this. Can you please try clearing your localstorage? Also, try the `prisma admin` command instead of directly hitting the endpoint.

[2019-03-25 11:38] pantharshit00 commented on #4251
Hi @IngeniousPentaSquid

If you want to make such relations, you will need to provide a name to them so that prisma can uniquely identify them internally.

Try using this:
[code]

[2019-03-25 11:42] pantharshit00 commented on #4254
@remorses

Yes, it is related to that PR.

Also it a duplicate of #3796 so I am going to close this.

[2019-03-25 11:42] #4254 closed

[2019-03-25 11:54] remorses commented on #3796
For what release will this be fixed?

[2019-03-25 12:03] schickling opened #4256 "Prisma 2"
# Overview

Read more about the Prisma 2 preview here: https://www.prisma.io/blog/announcing-prisma-2-zq1s745db8i5

# RFCs

- **Migrations**: [RFC](https://github.com/prisma/rfcs/blob/migrations2/text/0000-migrations.md) / [Discussion](https://github.com/prisma/rfcs/pull/10)
- **Datamodel**: [RFC](https://github.com/prisma/rfcs/blob/datamodel/text/0000-datamodel.md) / [Discussion](https://github.c

[2019-03-25 12:52] pantharshit00 commented on #4222
@couchuser12345

I investigated further into this and right now there is no way to disable these calls. In the future, we will allow you to disable this behaviour using a setting in the PRISMA_CONFIG.

[2019-03-25 13:16] pantharshit00 commented on #4241
@KumarAbhirup

I will recommend you to read this article on how graphql resolver works. https://blog.apollographql.com/graphql-explained-5844742f195e

Basically, every field on every type in graphql is backed to a resolver. That resolver is responsible for resolving the type and passing to resolve data to the next type resolver via the parent argument.

So in prisma, for example, to resolve the au

[2019-03-25 14:37] P4sca1 commented on #3372
I agree that return types should be changed to User | null. Its a common mistake to not check whether the fetched object exists and changing the typings prevents such errors.
TypeORM also returns User | null so it will be easy to adopt for people who are used to TypeORM.

[2019-03-25 15:50] #3014 closed

[2019-03-25 15:52] james-ff commented on #4059
I believe this to be fixed in the latest version of Prisma, not sure which version this was be it is working as of version 1.29.1

[2019-03-25 15:52] #4059 closed

[2019-03-25 20:05] steida commented on #3621
@nikolasburk Should Este switch to Nexus / Yoga2 to allow nullable fields? Thank you.

[2019-03-25 22:06] SvenSchoene commented on #4215
I have the issue that if I set anything other than `endpoint: http://0.0.0.0:4466` I get the error:

The fact that `0.0.0.0` works indicates that the container is at least running correctly (as `docker ps` would confirm).

This is why I had hoped that keeping `0.0.0.0` would be supported for local installations / installations to one's own server.

NOTE: I'm using Windows + WSL. That might make so

[2019-03-25 23:15] liyucun commented on #4250
thanks @pantharshit00

[code]

After inspecting the `docker-compose.yml`, i am using the wrong port here.

[2019-03-25 23:15] #4250 closed

[2019-03-26 05:55] webberwang commented on #4255
There's GraphCMS does exactly what you are looking for

[2019-03-26 07:14] gabrieltong commented on #3304
+1

[2019-03-26 07:19] gabrieltong commented on #3303
Hey @marktani
I face the same problem , our system has race of resource update, and I need to do like
[code]
but prisma need unique where when updateUser, so I need to user
[code]
I think a need a NotUniqueWhere when updateUser or updateManyUsers to fire subscription

[2019-03-26 07:20] ashitikov commented on #3304
#3303

[2019-03-26 07:36] ViableClanMember commented on #4215
Why did this ticket close? My ci/cd broken since (and including) 1.28.4

My .gitlab-ci.yml:

[code]
$DOCKER_HOST shows as tcp://docker:2375

my package.json > scripts:-

[code]

Outputs

[code]

but works in 1.28.3 and below.

[2019-03-26 10:14] tandriamanga commented on #95
+1 💯

[2019-03-26 10:46] do4gr commented on #4059
Thanks for letting us know!

[2019-03-26 12:34] pantharshit00 commented on #4215
@ViableClanMember Can you please try version 1.29.1? We have fixed the bug in that version

[2019-03-26 13:29] impowski opened #4258 "Wrong generation of @createdAt directive with custom field"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a data model like so:
[code]
2. Then run `prisma generate`
3. Create some resolver where you will utilize a `createUser` method
3. Start the project
4. Server will give an error on `registeredAt` field

**Expected behavior**
`registeredAt` field should work as `crea

[2019-03-26 14:25] #4143 closed

[2019-03-26 15:47] ianjanicki commented on #83
@schickling, I see in your [FAQ for Datamodel 1.1](https://github.com/prisma/datamodel-v1.1-feedback#what-is-not-part-of-this-beta) that Polymorphic relations will *not* be part of Datamodel 1.1, and will be addressed later. Could you inform this thread as to where you see it in your priority list? Is this something you will accomplish this year? Next quarter? etc.

I think many of us on this thre

[2019-03-26 16:54] brafdlog commented on #4215
What about deployment to a server that is not localhost?
My ci is deploying to my servers which are of course not in localhost and i get the same error with 1.29.1

[2019-03-26 17:59] ViableClanMember commented on #4215
Yep, same error 1.29.1 here. Sorry I didn't specify that earlier.

[2019-03-26 18:06] ViableClanMember commented on #4215
BTW http://docker is how to access running services in "dind" (docker-in-docker) service that gitlab-ci provide. I believe it resolves to a 10.x.x.x IP.

[2019-03-26 18:33] troygibb opened #4263 "Connector for BigQuery?"
**Is your feature request related to a problem? Please describe.**

I integrate with BigQuery extensively--it would be awesome to have a prisma connector for it!

**Describe the solution you'd like**
A new connector for BigQuery.

**Describe alternatives you've considered**
N/A

[2019-03-26 22:24] 5tormTrooper commented on #146
For anyone willing to go with a workaround, this solution works:
https://www.graph.cool/docs/reference/graphql-api/subscription-api-aip7oojeiv/#relation-subscriptions

[2019-03-27 09:19] #4226 closed

[2019-03-27 11:00] MathiasKandelborg opened #4264 "PRIVACY: Prisma is tracking on sensitive sites"
Hi, I was just looking at the prisma-admin source code and noticed you're registering both GA and Sentry... Even for self-hosted servers. This should at the very least be optional _and_ opt-in.

It should also be stated **clearly** that you are tracking peoples usage of the `_admin` URL in development and production, with a proper explanation of the exact uses. I haven't signed or agreed to anythi

[2019-03-27 11:16] #4205 closed

[2019-03-27 11:35] do4gr commented on #3796
Our prototype that implemented cascading deletes using transactions showed transaction errors (deadlocks etc. ) under heavy concurrency. We therefore cannot implement this feature at the moment.

Until we can we will therefore add an error during deployment to avoid confusion.

[2019-03-27 12:45] hughevans commented on #2765
It was like this in GraphQL Ruby for a while too. Because it results in extra SQL queries and many pagination scenarios don’t require it they made it optional rmosolgo/graphql-ruby#960.

[2019-03-27 13:42] divyenduz commented on #83
@ianjanicki : Thanks for reaching out, we have a ROADMAP to provide better estimates for individual features now. We update this ROADMAP with [every release (2 week cycles)](https://github.com/prisma/prisma/blob/master/ROADMAP.md). If there is any change in our priorities, this road map would reflect that first.

[2019-03-27 20:40] mjimenez07 commented on #4232
@eduardobcastro which version of `mysql` are you using? ran into the same issue this morning but switching from version `8` to `5.7` did the trick

[2019-03-27 22:46] #4249 closed

[2019-03-28 00:26] #3739 closed

[2019-03-28 02:05] manonthemat commented on #3312
I fully support this.
Since I just started using this project I was wondering if one could point me in the right direction to get started on the issue if there hasn't been already work done.

[2019-03-28 09:27] pantharshit00 commented on #4253
Hi, Sorry for the late response.

Can you please tell me the subscriptions that you are making. It is kinda impossible to reproduce without them.

[2019-03-28 09:37] THPubs commented on #4253
No worries. Here's a sample subscription im running in the playground:

    subscription {
      order(where: { node: { status_in: [DONE] } }) {
        mutation
        node {
          id
        }
      }
    }

In the schema.graphql it looks like this:

    type Subscription {
      order(where: OrderSubscriptionWhereInput): OrderSubscriptionPayload
    }

And the actual subscription is like t

[2019-03-28 11:15] openminder opened #4272 "socket hang up when using date type in postgres"
I try to introspect an existing postgres database. I have made the following steps:
- prisma init myproject
- enter necessary database credentials
- the schema was generated successfully
- start local docker with prisma
- execute "prisma deploy"

When running prisma deploy the process hangs up with the message
`'ECONNRESET': request to http://localhost:4466/management failed, reason: socket hang u

[2019-03-28 11:55] 5achinJani commented on #3601
I had the same issue recently and I was using [Backpack](https://github.com/jaredpalmer/backpack) as a build tool so I added [dotenv-webpack](https://github.com/mrsteele/dotenv-webpack) to fix it.

[2019-03-28 12:01] contractor-jim commented on #4215
Confirmed this issue is still apparent in the most recent versions. Issue should be re-opened. I had to downgrade to 1.28.3 as mentioned by @ViableClanMember

[2019-03-28 12:06] openminder commented on #4272
As additional Info to reproduce the behavior here is an example table that triggers the error:

`CREATE TABLE public.contacts
(
    firstname text COLLATE pg_catalog."default",
    lastname text COLLATE pg_catalog."default",
    birthday date,
    id integer NOT NULL DEFAULT nextval('contacts_id_seq'::regclass),
    CONSTRAINT contacts_pkey PRIMARY KEY (id)
)`

[2019-03-28 13:05] divyenduz commented on #4215
Everyone who is still facing this issue, can you please share your `prisma.yml` file or the Prisma server endpoint (ok to obfuscate it but I need the endpoint pattern).

[2019-03-28 13:30] brafdlog commented on #4215
Nothing fancy
[code]

[2019-03-28 13:41] divyenduz commented on #4215
@brafdlog and where is this server hosted? If possible, can you write out the actual URL?

[2019-03-28 15:15] toindev commented on #1642
https://github.com/prisma/prisma/issues/1751 for the new link

[2019-03-28 17:22] pantharshit00 commented on #4169
Hi @calummoore

I am also unable to reproduce this. I have successfully deployed the datamodel and also written a user in the database.

![image](https://user-images.githubusercontent.com/22195362/55178576-9efaba00-51ab-11e9-8257-e5ec3765c781.png)

I think you should enable connectionLimits in the config as elephantSQL provides limited number of connections:
[code]

[2019-03-28 17:35] msmedes commented on #4215
pretty simple, running 1.29.2 (same error with 1.29.1 as well)
`endpoint: ${env:PRISMA_ENDPOINT}
datamodel: datamodel.prisma

generate:
  - generator: javascript-client
    output: ./generated/prisma

hooks:
  post-deploy:
    - prisma generate

secret: ${env:PRISMA_SECRET}`

The endpoint is deployed to digitalocean via docker-machine, and the endpoint format is `https://<ip address>:<port>`

[2019-03-28 17:58] leadgogo commented on #4232
Same thing happen with me, after downgrade to 5.7 it works. But now I got the following error when trying to start the docker image. I'm using the latest alpha version: 1.31.0-alpha.3

[code]

[2019-03-28 17:59] danielsantiago commented on #4232
Same thing happen with me, after downgrade to 5.7 it works. But now I got the following error when trying to start the docker image. I'm using the latest alpha version: 1.31.0-alpha.3

[code]

[2019-03-28 20:12] Fh-abeyer commented on #3060
I need this to happen before I can fully use Prisma.

[2019-03-28 20:15] murdockq commented on #4239
Quick update, I was able to catch it happening, and to try and rule the server side, I did a restart of node server and eventually after about 1 minute the prisma server did recover and not have 100% cpu usage, and it never hit the out of memory error.

The log is filled with this messages:

`[SubscriptionSessionActor] Received unknown message: com.prisma.subscriptions.protocol.SubscriptionProtoco

[2019-03-28 21:34] brafdlog commented on #4215
@divyenduz
1. The server is hosted on AWS
2. I don't want to share the URL on github, but it looks like this: http://xxxxxxxxxxxx.eu-central-1.elasticbeanstalk.com
3. The output of prisma account is
[code]
4. no

[2019-03-28 23:14] eduardobcastro commented on #4232
@danielsantiago I'm running the :latest docker image. It shall be 8.0

[2019-03-29 03:00] mjimenez07 commented on #4232
@danielsantiago check your `docker-compose.yml` and tell me the value that `migration` has

[2019-03-29 03:01] mjimenez07 commented on #4232
@eduardobcastro sadly couldn't make it work with the latest version of mysql had to use `5.7`

[2019-03-29 05:28] Solorio17 commented on #3105
After running prisma generate, a file prisma-schema.js was generated with all types of methods for me to use.

When trying to import that generated file into my schema.graphql file like this;

# import * from './generated/prisma-client/prisma-schema';

I get the error;
GraphQLError: Syntax Error: Cannot parse the unexpected character ".".

It seems that the . from the path is causing this error, b

[2019-03-29 06:12] MathiasKandelborg commented on #3105
@Solorio17 It seems you're trying to import a JavaScript file into graphql. That's not possible. Rather, the generated prisma client is for use in JS/TS. If you want to generate a schema, you have to define it in the prisma.yml. You can find [more information here]	(https://github.com/nikolasburk/prisma-client-examples/blob/master/README.md)

[2019-03-29 07:18] pantharshit00 commented on #3805
@seawatts Sorry for a very late response. This issue does seem to be a duplicate of https://github.com/prisma/prisma/issues/3774. Closing.

[2019-03-29 07:18] #3805 closed

[2019-03-29 09:36] divyenduz commented on #4215
@msmedes @brafdlog : Last question would be, are these servers connected to your Prisma cloud account?

[2019-03-29 09:37] divyenduz commented on #4232
Prisma doesn't support MySQL 8 yet: https://github.com/prisma/prisma/issues/3979

If you think that this issue is a duplicate of the above issue, please feel free to close it.

[2019-03-29 09:42] do4gr commented on #4252
Hey @IngeniousPentaSquid,

the error shows that Prisma is trying to read a field that is defined in the datamodel as Float, but is finding the value in the database to be of type BsonInt32 which does not align with our mapping of datatypes.

|  Prisma Datamodel | Mongo Bsontype   |
|---|---|
| Float  | BsonDouble   |
|  Int | BsonInt32  |
|  int | BsonInt64  |

Changing the type in your datamodel

[2019-03-29 10:38] zjovan commented on #4215
@divyenduz I have the same issues as @brafdlog, same scenario. How do you connect prisma cloud account with server on aws?

[2019-03-29 11:00] divyenduz commented on #4215
Ah! so, I think that you Prisma server is protected by a management secret and there are two ways for the CLI to resolve this management secret:

1. Either you provide it explicitly in the shell environment
2. Or you connect your server to Prisma cloud and are logged in with the CLI, then this secret is automatically resolved

When you are not providing this secret in the shell environment or not

[2019-03-29 12:09] brafdlog commented on #4215
@divyenduz Unless I am missing something my servers are not connected to prisma cloud and they don't have a management secret defined.

I also don't see a need to connect them to prisma cloud at the moment.

[2019-03-29 12:12] divyenduz commented on #4215
@brafdlog : Thanks, that looks like a bug indeed, for unsecured servers, this PR fixed everything in context of [secured servers only](https://github.com/prisma/prisma/issues/4215#issuecomment-474818102).

I am trying a reproduction now.

[2019-03-29 12:36] mjimenez07 commented on #4232
Hey @divyenduz before closing this issue, I would like your advice in an edge case that I faced while playing around with prisma introspect and an existing mysql database.

Figured out the problem with the version we should use `mysql@5.7` instead of `8` and this is totally fine. But once the `prisma introspect` process finishes and give me the `datamodel.prisma` file it has a couple of problems l

[2019-03-29 13:03] divyenduz commented on #4232
@mjimenez07 : Thanks for the details, this indeed looks like incorrect behaviour. I encourage you to create a separate issue for that with [minimal reproduction here](https://github.com/prisma/prisma/issues/new?template=bug_report.md) (maybe parts of your MySQL schema, if possible).

[2019-03-29 13:10] SawasReaper opened #4278 "Error relation "default$default.user" does not exist. Existing pgsql db"
Hi, I try to run prisma on my existing postgres db, but after few hours I'm in same buggy spot. I have `public schema` in db but prisma try to resolve queries on `default$default`.

My docker-compose.yml
[code]
My prisma.yml
Btw I think there is another issue. I can't do `prisma deploy` if it's not on localhost `http://localhost:4466`

[code]

I've also tried just with simple model from db:
[code]

[2019-03-29 15:37] divyenduz commented on #4239
@murdockq : Thanks for digging into this, disabling "subscription" sounds like a good next step to narrow it down further.

[2019-03-29 15:57] divyenduz commented on #4247
Thanks for raising this feature request. Long running alter statements should ideally be done via a online schema migration tool like [https://github.com/github/gh-ost](https://github.com/github/gh-ost)

From Prisma's end, we already have a new datamodal v1.1 in latest beta (1.30.0-beta.3) ready to be tested: [https://github.com/prisma/prisma/issues/3408#issuecomment-475277466](https://github.com/

[2019-03-29 15:59] divyenduz commented on #4240
@camjw I was unable to reproduce this issue, I was able to using `ngrok` on other port and still access Prisma and also using `ngrok` on Prisma directly.

[2019-03-29 16:14] divyenduz commented on #4215
There is a PR that would fix this issue for insecure servers. I will notify here once the release is available in beta.

For anyone else running into this or a related issue, please fill out this form: https://prisma-io.typeform.com/to/C1JBOT to help us triangulate the issue/code path.

[2019-03-29 17:22] RoMay commented on #3304
+1

[2019-03-29 17:26] RoMay commented on #3303
Yeah, any change to see it implemented soon? Without subscription on batch operation, we have to loop through the referenced nodes and update each of them separately.

[2019-03-29 17:33] divyenduz commented on #4215
The fix for insecure servers is available in `1.30.0-beta.6`, please install it using `npm install -g prisma@beta`.

Again, for anyone else running into this or a related issue, please fill out this form: https://prisma-io.typeform.com/to/C1JBOT to help us triangulate the issue/code path.

[2019-03-29 17:38] divyenduz opened #4282 "CLI does not print schema in docker-compose file"
**Describe the bug**
`prisma init` asks for schema name when working with existing Postgres with data but does not print it in the `docker-compose.yml` file.

**To Reproduce**
Steps to reproduce the behavior:
1. Setup an existing postgres with database name: `shop`, scheme name: `public``
2. Run `prisma init` and fill out the details (screenshot)
3. Notice that it asks for `schema` name as the las

[2019-03-29 17:40] divyenduz commented on #4278
@SawasReaper : Thanks for raising this issue with a reproduction, I was able to reproduce it. This is happening because of this bug in Prisma CLI: https://github.com/prisma/prisma/issues/4282 which makes Prisma server go to an incorrect code path.

A fix will be required in both CLI and server side. However, a workaround is to add the `schema` name to `docker-compose.yml` file manually and then ru

[2019-03-29 17:50] divyenduz commented on #4278
P.S. here is my reproduction for this issue: https://github.com/divyenduz/prisma-4278

[2019-03-29 18:36] mjimenez07 opened #4283 "Problems with prisma introspect on mysql"
**Describe the bug**
While using `prisma introspect` on a `mysql` database faced a few problems with the `schema`.

1- A few table rows are duplicated for no reason since the DB schema doesn't have them duplicated, thinking that the problem might be related because of the # of relation an specific table has.
2- While executing `prisma deploy` returns a couple errors because the DB schema is curren

[2019-03-29 18:37] mjimenez07 commented on #4232
@divyenduz here is the issue #4283

[2019-03-29 18:57] SawasReaper commented on #4278
@divyenduz thanks for quick answer. Adding `schema: public` worked for me perfectly. To be honest I've tried it before but I've had some issue with `prisma deploy`. Now works perfectly.

<img width="574" alt="Screenshot 2019-03-29 at 19 39 20" src="https://user-images.githubusercontent.com/22744971/55255742-a2e61500-525b-11e9-8909-0d3430c94840.png">
<img width="827" alt="Screenshot 2019-03-29 at 1