[2018-02-20 15:29] timsuchanek commented on #1691
You can find the `prisma.yml` schema here: https://github.com/graphcool/prisma-json-schema.
If there are changes you want to add there, feel free to do a PR :)

[2018-02-20 15:31] terion-name opened #1948 "Document programmatic deployment of Prisma services"
I ask for assistance in programmatic deployment of Prisma services. I'm not posting this at forum because this topic follows #1808 and it is useful for more deep understanding of Prisma for other devs and can lead to documentation enrichment.

I've tried to reverse-engineer `prisma-cli-engine`, but yet had no luck with this.

My goal is to build a cli with node js, that will read multiple Prisma g

[2018-02-20 15:48] fonzied commented on #1946
Same error. Even tried on a clean boilerplate.

[2018-02-20 16:41] Weakky commented on #1691
@timsuchanek What the f*** 🤣? Why is there already an existing JSON schema? And what is the whole point of the issue then ? ...

[2018-02-20 16:55] n2ctech commented on #1945
same

[2018-02-20 17:02] timsuchanek commented on #1945
Thanks for reporting everybody! Please try the latest beta - there it should be fixed!

[2018-02-20 17:03] robmurtagh commented on #1945
Thanks @timsuchanek , how do we install the beta CLI?

[2018-02-20 17:03] timsuchanek commented on #1945
@robmurtagh  Just updated the comment :)

[2018-02-20 17:06] Huvik commented on #1947
Nice

[2018-02-20 17:14] robmurtagh commented on #1945
@timsuchanek Still getting the same error:

[code]

When I go to `https://eu1.prisma.sh/experiments-prisma-beta/dev` and refresh, it says `Server cannot be reached`, and there is no GraphQL server in the playground...

Am I doing something stupid?

[2018-02-20 17:23] akoenig commented on #1948
@terion-name Thanks for you effort to a more programmatic way of deploying Prisma services. I have to ask some questions in order to fully understand what you're trying to achieve: Do you plan to have one MySQL instance and several Prisma service containers that interact with that instance? Why not deploying everything horizontally – one Prisma service + one MySQL instance?

Then you could follow

[2018-02-20 18:23] steida opened #1949 "Relay add mutation"
Must return something with edge and cursor probably. Graphcool had it implemented somehow. What should the recommended implementation for Prisma look like? Thank you.

[2018-02-20 18:47] steida commented on #1949
I somehow managed it https://github.com/este/este/blob/760d490a3ef4e7501c9381387a6dcb9ca6aa2646/server/resolvers/index.js#L106

But I don't know what cursor should be and also, I mysteriously have the same problem as here https://github.com/facebook/relay/issues/1744

[2018-02-20 19:31] LawJolla commented on #1932
Thanks @peterschussheim , but I got the same error.

I know nothing about Typescript.  Does tsc -d assume I have typescript globally installed?

[2018-02-20 21:57] Lauchi opened #1950 "Subscription filter for CREATED etc. not working"
# Bug Report

**Current behavior**

When i use a filter for CREATED etc. on my subscription in prisma, the subscription does not get triggered. According to an example (that i do not find anymore) it should work with a `{mutation_in: [CREATED]}` where condition but that does not even compile. Adding it in " or passing as a string array does not work either.

**Reproduction**

https://github.com/La

[2018-02-21 02:32] steida opened #1952 "For God's sake, use the semver, please"
Use the foking semver for such things, please. Am I asking a lot? We have https://semver.org/ for a reason. Don't be ashamed to increment that foking major version. Thank you.

(In the middle of fixing broken stuff because people do not follow semver for some reason)

[2018-02-21 02:33] steida commented on #1952
Let me reformulate it. If Prisma has a breaking change in API, it should release a new major version. It's that simple. Thank you.

[2018-02-21 05:36] oiojin831 commented on #1950
maybe duplicate with
https://github.com/graphcool/prisma/issues/1734

[2018-02-21 06:03] oiojin831 commented on #1734
Does this means where filter doesn't work on server side with `ctx.db.subscription.post`?
But still works on client side query with `ctx.db.subscription.post({ }, info)` this fix one server side?

[2018-02-21 07:25] sedubois commented on #1952
@steida Regardless, it does not warrant such language. It is very possible to make a clear, positive, constructive request while remaining respectful. Would you like someone to talk to you this way?

[2018-02-21 07:46] kbrandwijk commented on #1952
@steida Feel free to open a new, more constructive issue on the matter, without the religious aspect and the profanity. Thank you.

[2018-02-21 07:46] #1952 closed

[2018-02-21 07:50] Lauchi commented on #1950
Yes this is the same thing, thangks, I did not find that =)

[2018-02-21 07:50] #1950 closed

[2018-02-21 09:28] marktani commented on #1945
Hey @robmurtagh, so sorry for your experience. You're not doing anything stupid 😄

The boilerplates use a dev dependency to `prisma`. This means they use the latest stable version, no matter what your global version is.

I just created a new `beta` branch in the node boilerplate repository, so you should be able to run the following:

[code]

to create a new service with the latest `beta` version

[2018-02-21 09:45] marktani commented on #1734
@oiojin831, this means that `ctx.db.subscription.post({where: {mutation_in: ['CREATED']}}, info)` doesn't work between your application server and a Prisma instance. The connection between your application server and your client is not impacted by this.

[2018-02-21 10:15] terion-name commented on #1948
Hello, @akoenig

this is project-specific, long time to explain, that is needed

prisma config does not allow me to use advanced networking and db linking :(

[2018-02-21 10:21] oiojin831 commented on #1734
@marktani Thanks for the clarification 😄

[2018-02-21 10:26] johannpinson commented on #1947
Hey @sorenbs @marktani  👋

Just to be sure, a mutation with one-to-many will also change about the API?
For example, if the model `Location` contains a field `checkins: [Checkin!]!`, the new syntax will be available?

And about the old syntax, it will generate an error or can we continue to use both?

Thanks,

[2018-02-21 10:26] marktani commented on #1901
Hey @Superpat, can you  also share your `docker logs local_prisma-database_1`? 🙂

[2018-02-21 10:46] marktani commented on #1948
Here is some additional information that might be helpful:

* A Prisma Cluster exposes a `/cluster` GraphQL API (the "Cluster API") that can be used to migrate Prisma services. For the development cluster in EU, that's the URL: https://eu1.prisma.sh/cluster. Self-hosted and private clusters also expose a Cluster API.
* The main logic for migrating services is handled in the Cluster API. When runni

[2018-02-21 10:49] marktani commented on #1947
The API will not change for `to-many` relations. Only for `to-one` relations, as described in the original post.

Once the cluster you are working with (either the development cluster, or your own cluster) is upgraded to a version that contains this change, and you try to run the "Before" mutation from the original post, you will receive an error. From then on, only the "After" mutation is support

[2018-02-21 11:08] terion-name commented on #1948
@marktani thank you!
I miss in Prisma cli manual control. My use case is quite specific, it is not just an app built on top of prisma, it is a complex microservice system with subsystems and development tools that I've decided to build using Prisma. And I need fully manual control over services, setup services using special logic etc. Built-in prisma deploy just won't fit

Thus I need to create do

[2018-02-21 11:40] bharath917 opened #1954 "support sequel pro and redis"
# Feature Request

**What feature are you missing?**
1) add in-memory database like redis
2) view mysql data with sequel pro
3) out of the box authentication with google and facebook
**How could this feature look like in detail? Tradeoffs?**

[2018-02-21 11:56] marktani commented on #1948
Using the `deploy` mutation in the Cluster API:

![image](https://user-images.githubusercontent.com/1780597/36478835-9b46871c-1706-11e8-8dac-7739ae292e49.png)

[2018-02-21 11:58] johannpinson commented on #1947
@marktani

As discuss together, I consider that we can have `one-to-many`, but also `many-to-one`, depends on the direction of how you see the relation.
So if in my example, I add the field `checkins: [Checkin!]!` to the Location model, is the new API syntax to make a mutation for the Checkin model is still available? (even if it looks like a `many-to-one` relation?)

[2018-02-21 11:59] marktani commented on #1947
The new API applies to all `to-one` relations. So also to the `one` part of a `one-to-many` or `many-to-one` relation is affected.

[2018-02-21 12:12] steida commented on #1952
Fok it I am fixing other people bugs all days I don't care anymore...

[2018-02-21 12:13] steida commented on #1952
Use semver or not I don't care anymore...

[2018-02-21 12:24] terion-name commented on #1948
@marktani thank you! I'l try to use this.
Also, it would be great to cover this in docs section about docker deployment, because without this information that docs section is not full

[2018-02-21 12:26] marktani commented on #1952
Hey @steida, thanks for providing your feedback! 🙌

Indeed, the version of `prisma` and [the related docker image](https://hub.docker.com/r/prismagraphql/prisma/) for the cluster is _not_ following semantic versioning.

Instead, we are following a ~bi-weekly release cycle, where we upgrade the minor version. Commits after a minor upgrade result in a new version being published on the "unstable" ch

[2018-02-21 12:29] marktani commented on #1948
@terion-name this part is not fully covered in the docs yet, because the CLI is the primary consumer of the Cluster API.

Nevertheless, I agree with you. We can add more information about the Cluster API to the documentation.

[2018-02-21 13:46] marktani commented on #1922
We are investigating this issue. Until then, a workaround is to manually trigger an endpoint with the required data from a mutation resolver in your application server.

[2018-02-21 13:48] akoenig commented on #1922
@marktani Thanks for investigating this issue. :) Another workaround is to implement an own separate service that subscribes via WebSockets natively and sends the respective HTTP requests respectively.

[2018-02-21 15:50] medelman17 commented on #1894
Was having the same problem. Try adding the new/additional field at the end of the existing fields in User ... For whatever reason, this works for me.

[2018-02-21 16:45] terion-name commented on #1948
@marktani what is `SCHEMA_MANAGER_ENDPOINT` in env and what should be written there?

[2018-02-21 17:27] picosam commented on #1901
Hello there! Here are mine:
[code]
This is, by the way, after running `prisma local upgrade`

[2018-02-21 17:42] marktani opened #1955 "Gracefully handle trailing / in URL for cluster host"
# Bug Report

**Current behavior**

If you add a new cluster with host `http://example.com:4466/`, connecting to it will return this error:

**Reproduction**

Add a new cluster with a trailing `/` to your `~/.prisma/config.yml`.

**Expected behavior?**

URLs with a trailing `/` should also work as expected.

[2018-02-21 18:43] marktani commented on #1928
Hey @tfiwm @maarteNNNN @peterschussheim @lirbank @iamclaytonray, thanks for chiming in.

Could you please check if following [these instructions](https://github.com/graphcool/graphql-yoga/issues/162#issuecomment-367368045) solves the issue for you?

Thanks! 🙌

[2018-02-21 18:46] jelder opened #1956 "Typo in documentation"
The documentation for the DateType type reads as follows.

- `datatime: "2015"`
- `datatime: "2015-11"`
- `datatime: "2015-11-22"`
- `datetime: "2015-11-22T13:57:31.123Z"`

Note "dat**a**time" not "dat**e**time" in the first three examples.

[2018-02-21 18:52] jelder opened #1957 "Duplicate paragraphs in documentation"
The "More SDL Features" section of the SDL reference includes the same information about Interfaces two times.

https://www.prismagraphql.com/docs/reference/service-configuration/data-modelling-(sdl)-eiroozae8u#more-sdl-features

[2018-02-21 19:10] akoenig commented on #1957
Hey @jelder - Thanks for reporting! :tada:

[2018-02-21 19:14] #1957 closed

[2018-02-21 19:22] timsuchanek commented on #1945
It's now fixed - the endpoints are correct again.
Just update the `prisma` cli to 1.2.5:
`npm install -g prisma`

[2018-02-21 19:22] #1945 closed

[2018-02-21 19:40] schickling commented on #1928
As @lirbank pointed out, add the following to your `package.json` and run `yarn install`. This should fix the problem:

[code]

Please let us know if someone still hits this problem.

[2018-02-21 19:40] #1928 closed

[2018-02-21 20:30] akoenig commented on #1956
Ahh, good catch. Thanks @jelder :+1:

[2018-02-21 20:45] jensneuse commented on #1705
Cockroachdb's underlying architecture is a k/v store which leads to poor join performance in the current release. Therefore I'd recommend to currently not invest into this.

[2018-02-21 21:18] akoenig commented on #1954
Hi @bharath917 - Thanks for your issue :tada:

There are plans for supporting Redis. You should subscribe to https://github.com/graphcool/prisma/issues/1722 in order to stay in the loop.

That is already possible. The `mysql` instance runs in a Docker container and is mapped to your local port `3307`. You can connect to this instance via Sequel Pro with these credentials:

  Host: `localhost`
  Us

[2018-02-21 21:21] akoenig commented on #1946
@fonzied Could you share your `.env` and `~/.prisma/config.yml` files maybe? (even if dev version; remove the `secret(s)` before :smile:)

[2018-02-21 21:26] nvanbenschoten commented on #1705
@jensneuse may be referring to https://www.cockroachlabs.com/blog/cockroachdbs-first-join/, which discusses the performance of CockroachDB's join implementation while it was in beta, about a year and a half ago. A lot has changed since then, and CockroachDB now has fully-distributed hash join, merge join, and lookup join implementations.

[2018-02-21 21:52] medelman17 opened #1961 "java.sql.SQLSyntaxErrorException After Schema Migration"
# Bug Report

**Current behavior**
Prisma running on Google Kubernetes Engine. Currently throwing java.sql.SQLSyntaxErrorException errors after schema modification and redeploy.

**Reproduction**

All was going smoothly until I modified one of the existing type objects and redeployed. For example, I had a 'userType' field on the User object. I then removed this field and redeployed.  Prisma return

[2018-02-21 22:00] Sawtaytoes commented on #1642
I noticed MS SQL was missing on the main README: https://github.com/graphcool/prisma.

[2018-02-22 04:24] steida opened #1962 "6s or 7s time offset for createdAt and updatedAt"
[code]

[2018-02-22 04:26] steida commented on #1962
It's a lot for no obvious reason. It's confusing to create items in the past.

![screen shot 2018-02-22 at 05 25 24](https://user-images.githubusercontent.com/66249/36520363-ee1a4bd8-1790-11e8-971b-21280f7bb3d4.png)

[2018-02-22 05:27] hakimelek opened #1963 "Running boilerplate install script... ✖ Unexpected token )"
# Bug Report
I was trying to setup my first time prima project.

**Current behavior**
Breaking during prisma init right after the npm install during `prisma init`.

log:
[code]

**Reproduction**
`npm install -g prisma`
`prisma init [project-name]`

Choosing `node-advanced` and `GraphQL server (incl. database & authen
tication)`

**Expected behavior?**
It should finish the install script

[2018-02-22 09:39] #1956 closed

[2018-02-22 09:40] marktani commented on #1894
@medelman17 can you also share the "before" and "after" schema? 🙂

[2018-02-22 11:19] WirthAware commented on #1535
Same here:

[code]

[2018-02-22 14:17] marktani commented on #1535
Thanks @WirthAware, can you share this information here: https://github.com/graphcool/graphcool-framework/issues/451?

[2018-02-22 15:13] fonzied commented on #1946
So I fixed the problem by using someone else's docker-compose file that is configured differently, now it just infinitely loops at "Booting local development cluster..." :/

[2018-02-22 15:24] marktani commented on #1954
Thanks @bharath917 for your questions and thanks @akoenig for the answers 😄

Here is an example that shows Github auth: https://github.com/graphcool/prisma/tree/master/examples/github-auth

It should be fairly straightforward to adapt the Github example to Facebook, for example. Let me know if you have any questions about that!

Can you further describe what an ootb solution for Google or Facebook

[2018-02-22 15:30] medelman17 commented on #1894
Sure.  It was something like this:

Old:

`type User @model {
    id: ID! @unique
    createdAt: DateTime!
    updatedAt: DateTime!
    email: String! @unique
    password: String
    fb: String
    handle: String
    firstName: String
    middleName: String
    lastName: String
    address: [Address!]! @relation(name: "UserAddress" onDelete: CASCADE)
    phone: [Phone!]! @relation(name: "UserPhon

[2018-02-22 15:55] bharath917 commented on #1954
@marktani Thanks for replying
just to make the new developers'(includes me, therefore facing issues) life simple, adding in authentication with google and facebook,
the flow would look something similar - developer creates a 'google signup' and 'facebook signup' button in the RN app and links it to the backend, the server takes care of backend validation, storing the info, etc., after the dev prov

[2018-02-22 16:05] bharath917 commented on #1954
hey @akoenig  thanks for the reply
successfully connected sequel pro for db

[2018-02-22 16:39] akoenig commented on #1954
Awesome! You're very welcome 😄

[2018-02-22 17:44] marktani opened #1964 "Boilerplates don't work with private clusters"
# Bug Report

**Current behavior**

Initializing a boilerplate to a private cluster doesn't work currently.

**Reproduction**

* create a private cluster
* run `prisma init test` and choose `node-advanced`

You'll get this output:

[code]

Note this part of the output:

[code]

**Expected behavior?**

It works.

[2018-02-22 18:36] Huvik commented on #1964
Its not related to boilerplates, its same for my project too

[2018-02-22 19:40] LawJolla commented on #1933
On 1.3.0-beta5 everything works!  Closing this one, thanks!

[2018-02-22 19:40] #1933 closed

[2018-02-22 19:44] LawJolla opened #1965 "Prisma Import fails when importing zipped file from Prisma Export"
# Bug Report

**Current behavior**

prisma import works for unzipped, but fails on zipped.  It appears there's some cache storing an old version of the data.  Simply extracting the ZIP file and pointing towards the folder allowed the import.

![image 2018-02-22 at 12 41 39 pm](https://user-images.githubusercontent.com/17485128/36560543-3e65ca9e-17ce-11e8-9614-48b049f9273f.png)

![image 2018-02-22

[2018-02-22 22:49] steida commented on #1962
@nikolasburk This is really weird.

[2018-02-23 00:19] cckrishna commented on #28
+1
I am also looking for this capability in GraphCool. I have few cycles and can help with implementation and contribute back.  Let me know the next steps.

[2018-02-23 02:18] steida commented on #1962
There must be something wrong with Prisma time logic.

[2018-02-23 08:42] Fi1osof commented on #1820
@do4gr thanks!

[2018-02-23 08:42] #1820 closed

[2018-02-23 09:33] fatjoeluke commented on #1946
I get stuck at this step too, Just loops forever. DEBUG="*" offers no useful information as it just outputs the commands.

I have noticed the networks get created though.

[2018-02-23 10:07] Fi1osof commented on #1820
@do4gr
Model:
[code]
On create is OK, lat and lng is null.
But on prisma deploy create fields updated records not null values;
http://joxi.ru/L21WpJ8I698k9r

Is there way fix it?

[2018-02-23 10:13] do4gr opened #1966 "Inconsistencies in the generated schema for self-relations and optional back relations"
Using the following schema there are a couple of bugs and inconsistencies caused in the validation of the schema and the generation of the API.

[code]

The schema validator does not allow a schema like this at the moment although the relations are unambigous.

Due to this being a self-relation `UserCreateManyWithoutFriendOfInput ` does not contain the correct create input type.
[code]
The self-re

[2018-02-23 11:32] ciocan commented on #28
+1

[2018-02-23 12:42] saferthanhouses commented on #28
+1

[2018-02-23 14:41] timsuchanek commented on #1964
Thanks for reporting! We just released `1.2.7` and updated all boilerplates, they're now working with the private clusters as expected :)

[2018-02-23 14:41] #1964 closed

[2018-02-23 16:52] Huvik commented on #114
Because currently its not possible to do random in one query, because you can't for example query first and last item combined, just items next to each other. Or its possible?

[2018-02-23 17:08] marktani commented on #114
You can do this:

[code]

and choose `first` and `second` randomly.

[2018-02-23 17:35] nickluger opened #1968 "Make TypeScript type definitions from application schema work with Imports from Prisma"
1. Define your app schema, and use imports from `prisma.graphql` in it:

[code]

2. Run
[code]
or just `yarn graphql prepare` if you have a proper definition in your `graphqlconfig.yml`
Mine looks like this
[code]

Result:

[code]

[2018-02-23 23:44] agustif commented on #1299
So If I want to import from AirTable, what would be my best bet, prisma + AirTable's API wrapper, or export to csv and use graphql-cli-load? @marktani

Sorry for reopening too!

[2018-02-24 13:33] terion-name opened #1972 "Starting with docker-compose does not work"
I've tried to start Prisma with `docker-compose` using compose file [from docs](https://www.prismagraphql.com/docs/reference/clusters/docker-aira9zama5#configuration-with-docker-compose) (providing env data from examples and trying prisma:1.0 and prisma:1.1).

And it does not work: when Prisma tries to connect to mysql, on the side of mysql I get: `Aborted connection 11 to db: 'unconnected' user:

[2018-02-24 13:34] terion-name commented on #1948
@marktani stuck on simple starting the services, nor via api, nor via compose — they don't work. I've described details here #1972

[2018-02-24 13:39] akoenig commented on #1972
Hi @terion-name, I had success starting Prisma with `docker-compose.yml`. That is why I created an example setup which I'm happy to share 😄 https://github.com/akoenig/prisma-docker-compose

[2018-02-24 13:45] DevanB commented on #1963
I opened a ticket in the React boilerplate, that will get patched in all other boilerplates. We should b checking node version.
https://github.com/graphql-boilerplates/react-fullstack-graphql/issues/220

[2018-02-24 13:55] terion-name commented on #1972
@akoenig thank you! it is still a question, why setup from docs doesn't work, but your example seems to be working! I'l use it as starting point for programmatic setup

[2018-02-24 18:27] marktani commented on #1972
Thanks for your input @terion-name @akoenig!

Did you find the problem in the documentation? 🙂Let's improve it together!

[2018-02-24 18:31] #1968 closed

[2018-02-24 18:31] marktani commented on #1968
Issue moved to [graphcool/graphql-import #93](https://github.com/graphcool/graphql-import/issues/93) via [**ZenHub**](https://www.zenhub.com/)

[2018-02-24 18:32] marktani commented on #1968
Hey @nickluger, thanks for reporting this! 🙂This looks related to `graphql-import`, so I moved the issue there.

[2018-02-24 18:34] marktani commented on #1963
Thanks @DevanB!

@hakimelek @brandonmp can you confirm that a more recent Node version works for you, too? 🙂

[2018-02-24 19:27] marktani commented on #1954
Sounds like a great idea, @bharath917! We could add Google and Facebook examples to our repository. Feel free to also ping me [in Slack](slack.graph.cool) if you feel like contributing them yourself 🙌

Anyway, I'm closing this issue as your questions have been answered.

[2018-02-24 19:27] #1954 closed

[2018-02-24 19:30] marktani commented on #1946
Hey everyone, can you share your `prisma version` and `docker ps`? 🙂

[2018-02-24 19:48] danielrasmuson commented on #95
In my case this table will have thousands of rows. My users won't be able to sort the table by "createdBy" or "dataset" until this feature lands.

<img width="995" alt="screen shot 2018-02-24 at 11 47 25 am" src="https://user-images.githubusercontent.com/4013767/36634387-88405428-1958-11e8-8ca4-b9789d093daf.png">

[2018-02-24 20:12] cameronk opened #1973 "Typescript compilation fails after deploy"
# Bug Report

**Current behavior**
I'm on Prisma 1.2.8.
When I ran `prisma deploy` to a local cluster, the `prisma.ts` and `prisma.graphql` files were updated in my `src/generated` directory (as expected). However, `prisma.ts` contains this autogenerated line:

[code]

This line was added right above the definition for my mutations:

[code]

This breaks Typescript compilation, because the backtick

[2018-02-24 23:53] hailwood commented on #1972
@akoenig Your example is great, just one quick question though.
Now that we've ejected out to our own docker-compose.yml setup. How do we deploy changes via prisma?

[2018-02-25 00:38] kurt-o-sys commented on #142
+1

absolutely necessary. webtask cron isn't always a solution, if e.g. one needs to fetch new tokens (due to expiry dates) that are necessary to authorize api calls to external services. Please please...

[2018-02-25 09:32] mvaivre commented on #1966
I was going to create an issue for this: https://www.graph.cool/forum/t/inconsistencies-with-self-relations/2593/3 but it seems you outlined the same problem here, thanks!
Those inconsistencies are totally breaking my API and are preventing me from going to production, so if you think I can help in any way (test etc..) don't hesitate to ping me!

[2018-02-25 10:28] akoenig commented on #1972
@hailwood Thanks! Glad that you like it 😊 - I added a new section in the readme about how to connect your Prisma CLI to the new cluster and deploy your database schema. See: https://github.com/akoenig/prisma-docker-compose#connecting-to-the-cluster-via-prisma-cli

@marktani Ya, I think the problem is that the `MYSQL_DATABASE` is defined in the `environment` of the `mysql` container. From my experi

[2018-02-25 11:52] maxdarque commented on #1686
I also found if I used single quote marks for the key, I would the following error:

`Could not generate token for local cluster example-cluster. error:0906D06C:PEM routines:PEM_read_bio:no start line`

So I changed to double quotes (`"`) and it works

[2018-02-25 13:00] terion-name commented on #1972
@akoenig recreating your compose setup via docker api also works. Thank you very much, I've spent tons of time trying to bring it up

[2018-02-25 13:41] akoenig commented on #1972
@terion-name Awesome! Glad that everything works fine 😊

[2018-02-25 15:25] terion-name commented on #1972
@akoenig @marktani as I see, SQL_INTERNAL_DATABASE can be only `graphcool`, otherwise nothing works. That's not proper behaviour, I suspect

[2018-02-25 15:45] terion-name commented on #1972
also, if I don't provide `BUGSNAG_API_KEY` variable at all, server (1.3-beta) errors:
[code]

[2018-02-25 15:46] akoenig commented on #1972
@terion-name Ah, right. This have to be an empty string `BUGSNAG_API_KEY=""`.

[2018-02-25 16:50] studentIvan commented on #95
@danielrasmuson you can create some sortable index just as temporary solution :)

[2018-02-25 18:19] brandonmp commented on #1963
my issue was in node 9.4 😕

[2018-02-25 20:30] DevanB commented on #1963
Hmmm, @brandonmp can you recreate it?

[2018-02-25 20:30] mlukaszczyk commented on #728
Hi!

Is there any updates on this?

Michael

[2018-02-25 20:33] do4gr commented on #1966
Hey @mvaivre, I hope to be able to tackle this issue towards the end of this week. I'll let you know once it is in the unstable channel and then you can test it with your project before we release it.

[2018-02-25 20:36] Huvik commented on #1947
Will it work for upsert `to-one` relation too?

[2018-02-25 20:37] mvaivre commented on #1966
That would be awesome @do4gr, good luck and thanks a lot.

[2018-02-25 21:57] luxaritas opened #1976 "Better onboarding with Docker Toolbox"
When using Docker Toolbox, trying to deploy to a local cluster winds up [providing a named pipe error if Docker hasn't been configured by the user already](https://github.com/docker/toolbox/issues/636). This could be avoided by running within the Docker quickstart terminal, but this isn't obvious and it seems that running the Prisma commands (as opposed to [using Docker directly like in their docs

[2018-02-25 22:42] ellipticaldoor opened #1977 "The node-advanced template don't finishes installation"
# Bug Report

**Current behavior**
The node-advanced template don't finishes installation

**Reproduction**
[code]
Afte picking local I get the error
[code]

**Expected behavior?**
The installation of the template finish and I can start using prisma.

[2018-02-25 23:58] couturecraigj commented on #165
+1

[2018-02-26 01:04] steida opened #1978 "throw from resolver should not be logged"
Maybe I am wrong, but

[code]

Seems to be a recommended way how to stop resolver, but then probably this should not be logged.

![screen shot 2018-02-26 at 02 03 45](https://user-images.githubusercontent.com/66249/36648920-5229bac2-1a99-11e8-9018-0db7286ad8ab.png)

[2018-02-26 10:09] marktani commented on #1928
For anyone still running into this, upgrading `yarn` from `0.27.5` to `1.3.2` fixed it for me.

[2018-02-26 10:09] marktani commented on #1881
For anyone still running into this, upgrading `yarn` from `0.27.5` to `1.3.2` fixed it for me.

[2018-02-26 10:09] #1881 closed

[2018-02-26 12:41] akoenig commented on #1973
This has been fixed via https://github.com/graphql-binding/graphql-static-binding/commit/947c15ce58ffeaad5577e3f27e2c108f5426f9fb - You shouldn't face the problem when upgrading to the latest version of `graphql-cli`.

[2018-02-26 12:44] maxdarque commented on #1973
@akoenig thank you! what version number do we need to upgrade to?

[2018-02-26 14:18] terion-name commented on #1948
what are these secrets in project add?

<img width="900" alt="2018-02-26 16 17 08" src="https://user-images.githubusercontent.com/1060205/36675070-a34eae0e-1b10-11e8-9b33-76c72b6fa817.png">

[2018-02-26 16:07] akoenig commented on #1973
You're welcome :) The fix has been shipped with `v2.15.6`, but I would upgrade to the current version which is `v2.15.7`.

[2018-02-26 18:23] terion-name commented on #1948
I send an `appProject` mutation, it runs ok.
Then I send a deploy request. It runs ok, with no errors, but nothing migrates. What is wrong?

[code]

[2018-02-26 18:33] dpetrick commented on #1948
@terion-name Concerning your last question: Can you check the migration status using the `migrationStatus` query?

The secrets are something used for authentication on the generated APIs. Specifically, they are used as JWT secrets that allow you to authenticate calls to the project APIs.

[2018-02-26 19:13] terion-name commented on #1948
@dpetrick migration status success:
<img width="762" alt="2018-02-26 21 12 37" src="https://user-images.githubusercontent.com/1060205/36690044-caf2683c-1b39-11e8-9af7-979dbf0cb2bb.png">

I did not setup secrets for this app when added, it is not needed in this case

[2018-02-26 19:16] marktani commented on #1977
how does your `prisma.yml` file look like?

[2018-02-26 19:23] dpetrick commented on #1948
@terion-name What you see there is the initial addProject migration, which basically establishes the existence of a project in prisma, but has no migration steps whatsoever. Those follow with the first deploy of your service on the cluster API. Hence, your deploy wasn't even registered in Prisma, which is odd. Are you using the prisma CLI to deploy? If yes, can you see something (errors, other odd

[2018-02-26 20:22] ellipticaldoor commented on #1977
Like this
[code]

[2018-02-26 22:08] marcosfede commented on #1312
Is there any progress on this?
Could the ability to perform raw sql queries using prisma be added to overcome waiting for features like these be implemented?

[2018-02-27 01:12] canercandan opened #1981 "Syntax Error: Expected Name, found }"
# Bug Report

**Current behavior**

[code]

If one of your type has a relation with another one that does not contain anything else than an `id` and relational fields, the `prisma deploy` command will end up with the error:

[code]

Prisma version:

[code]

Adding a dummy string-typed field fixes the issue:

[code]

[2018-02-27 02:51] AlexanderChen1989 commented on #1737
same question

[2018-02-27 03:19] awwilhelm opened #1982 "Changing alias does not delete the old endpoint"
# Bug Report

**Current behavior**
If you change the alias, you can still make queries to the old endpoint.
**Reproduction**
Go into settings and change the alias.  Then click the endpoint button and it will show you the new endpoint.  However, both the old and new endpoint work.
**Expected behavior?**
Once you change the alias, it should delete the old endpoint.

[2018-02-27 08:33] nampdn commented on #1728
Same issue with prisma@1.2.8
Non of above work. But the workaround seem good!

[2018-02-27 08:44] terion-name commented on #1948
@dpetrick no, obviously I don't use `prisma cli` to deploy, the whole topic is about using prisma without it's cli :) in the [comment above](https://github.com/graphcool/prisma/issues/1948#issuecomment-368598581) I'v written the request, that was constructed manually and sent to cluster api via curl, in the same manner, as `addProject ` was. Maybe there is something not right in request?

[2018-02-27 10:20] dpetrick commented on #1948
I see, sorry, then I'll check the request and come back to you.

[2018-02-27 12:38] huv1k opened #1983 "Prisma deploy with arguments"
# Prisma deploy with arguments

**What feature are you missing?**
I would like to see that `prisma deploy` command could take arguments for deploy from parameters not only env files. It could be used in CI for automatic deployment, because storing values in env's its not recommended. https://github.com/motdotla/dotenv#should-i-commit-my-env-file

**How could this feature look like in detail? Trade

[2018-02-27 15:29] kuldar opened #1984 "Relations not created for nested nodes when seeding"
# Bug Report

**Current behavior**

When deploying a fresh Prisma service along with a seed file, the nodes seem to be created, but not the relations between them.

**Reproduction**

The `datamodel.graphql` file
[code]

The `seed.graphql` file
[code]

**Expected behavior?**

When testing in GraphQL playground, I can see the nodes created, but not the relations.

<img width="724" alt="screen shot 2

[2018-02-27 15:54] crubier commented on #1841
Hi, this is a big problem for me at the moment, it really prevents us to use Prisma in production.

[2018-02-27 17:20] marktani commented on #1984
Hey @kuldar, thanks for reporting this problem.

When running the mutation yourself against the API, do you observe the expected behaviour?

[2018-02-27 17:48] kuldar commented on #1984
Hey @marktani, when I run the same mutation in the `https://eu1.prisma.sh/kuldar/MY-APP/dev` playground, things seem to work and nodes are created with correct relations.

<img width="917" alt="screen shot 2018-02-27 at 19 45 50" src="https://user-images.githubusercontent.com/1710629/36745023-fe0b379a-1bf6-11e8-843f-0ae8a7803348.png">
<img width="916" alt="screen shot 2018-02-27 at 19 46 27" src="

[2018-02-27 18:57] dpetrick commented on #1948
Your schema didn't work for me, are you sure you didn't have an `errors` array in your response? We send back a 200 OK even in error cases, as HTTP is only seen as the transport protocol for GraphQL - the actual (and GraphQL common) error handling needs to check the existence of `errors` in the response. If not, can you please share the full request / response that you get (minus sensitive data, l

[2018-02-27 20:48] jgeschwendt opened #1987 "CLI Auth fails to create cloud session key when running non-interactively"
# Bug Report

**Current behavior**

Our current node development environment is contained inside of docker containers. When trying to login to create the cloud session key the operation fails when the cli attempts to open a browser.

[code]

**Expected behavior?**

The error is handled and the process waits for the cloud session key to be manually generated by a developer  copy and pasting the url

[2018-02-27 22:52] akoenig commented on #1973
@cameronk Have upgraded your version as well and did that solve your problem?

[2018-02-27 23:38] bermanboris commented on #1977
I'm getting the same error for TypeScript boilerplate as well.

[2018-02-28 00:53] brandonmp opened #1988 "creating new cluster in GUI seems busted"
windows 10, tested on latest Firefox developer and Chrome stable, adblock disabled

trying to create a new cluster in the prisma cloud console. upon clicking 'test connection' (to an aurora instance verified working), though, nothing happens.

In the console, a second or so after clicking the 'test connection' button, a `POST` to `api.cloud.prisma.sh/` returns this error:

[code]

[2018-02-28 03:00] tecnocrata commented on #1655
great initiative, I'll be more than excited to help

[2018-02-28 09:51] maxdarque commented on #1973
Upgrading fixed this issue for me

[2018-02-28 11:39] terion-name commented on #1948
@dpetrick full request:

[code]

[2018-02-28 12:46] mzygmunt commented on #1981
Same in version Prisma 1.3.0

[2018-02-28 13:48] marktani opened #1989 "Subscriptions result in opcode -1"
# Bug Report

**Current behavior**

Creating subscription connections fails, and results in opcode -1.

**Reproduction**

https://github.com/moritzmorgenroth/prisma_subscription_issue

**Expected behavior?**

It works.

[2018-02-28 14:20] dpetrick commented on #1948
Trying your request with a valid authentication header for my local Prisma setup on a fresh service + stage yields an error in the response:
[code]
Are you sure that you're not seeing the same? If not, what exactly do you get as a response?

[2018-02-28 15:58] marktani opened #1990 "Update versions for self-hosting docs"
Example:

The tutorial here https://www.prismagraphql.com/docs/tutorials/cluster-deployment/digital-ocean-(docker-machine)-texoo9aemu uses the image `1.0`, but should use `1.2`:

This needs to be applied to all versions and all hosting tutorials.

[2018-02-28 16:01] ForsakenHarmony commented on #1990
shouln't it be 1.3?

https://hub.docker.com/r/prismagraphql/prisma/tags/

[2018-02-28 16:02] marktani commented on #1990
Sorry, I meant to share the version specific link https://www.prismagraphql.com/docs/1.2/tutorials/cluster-deployment/digital-ocean-(docker-machine)-texoo9aemu instead (just updated the original post).

Yup, `1.3` is the latest stable version, thanks!

[2018-02-28 16:16] ForsakenHarmony opened #1991 "Updating existing relations can lead to an error"
# Bug Report

**Current behavior**

[code]

**Reproduction**

add 2 relations between 2 types which were not there before

i.e.

[code]
to
[code]

it works if you have it in the initial deploy

[2018-02-28 16:21] schickling commented on #1854
This should be fixed. Please re-open or comment if this is still a problem. 🙏

[2018-02-28 16:21] #1854 closed

[2018-02-28 17:09] rafaelcorreiapoli commented on #1841
Yes, I was willing to use Prisma on a big project and this prevented me from doing it
I think that this issue should be treated with priority :)
Anyway, thanks for the awesome job guys!

[2018-02-28 17:40] delta98 opened #1992 "Generated prisma.ts incorrectly escaping comments"
Version: `prisma/1.3.1 (darwin-x64) node-v8.6.0`

`GraphQLError: Syntax Error: Unterminated string`

Steps to replicate:

Deploy to Prisma cloud: `prisma deploy`

Observe `prisma.ts` being generated with a string literal incorrectly escaped around "Long"

[code]

Schema

[code]

[2018-02-28 17:52] marktani commented on #1992
Looks like that was fixed here: https://github.com/graphql-binding/graphql-static-binding/releases/tag/v0.8.1

So the question is why that is not part of the latest `prisma-binding` 🤔

[2018-02-28 17:58] schickling commented on #1992
@marktani the dependency tree is a bit unintuitive right now and needs to be cleaned up. To get the latest version of the `graphql-static-binding` you have to make sure you're using the latest version of the `graphql-cli`. Can you confirm @delta98?

[2018-02-28 18:41] #1989 closed

[2018-02-28 19:20] inxeptionjake opened #1993 "Not about to get response from API"
# Bug Report

**Current behavior**
Query responses are either very slow or they don't return.

**Reproduction**

**Expected behavior?**
Query should return response quickly.

[2018-02-28 20:51] vlutton commented on #1977
I am having the same error as well. (Typescript advanced), has anyone figured out a workaround? I would really like to get started with Prisma, I can update with more info this evening.

[2018-03-01 09:23] marktani commented on #1977
Hey @ellipticaldoor, @bermanboris, @vlutton, this is not happening to me. Can you help me reproduce this?

[2018-03-01 09:26] bermanboris commented on #1977
Sure thing @marktani! Just tell us what information you need.

[2018-03-01 09:33] marktani commented on #1977
Thanks! Here are a couple of question as a start:

* Are you all deploying to the `local` cluster?
* What is your `prisma version`?
* What is your `prisma cluster list`?
* If deploying locally, what is `prisma cluster logs`?
* Upgrade all your versions to the latest:

[code]

  Can you still reproduce the issue then?

[2018-03-01 11:02] davisjohndavis3 opened #1994 "Scalar type supported in Graphql is not supporting in Prisma"
I am new to Prisma. We are planning to migrate our existing Graphql DB to Prisma for a trial run. But when I use scalar for holding URL values it makes an error and relation problems.

    # Custom scalar type to holds URL values
    scalar URL

    # Custom scalar type to holds timestamp values
    scalar Timestamp

    # Enum holds the supported provenance types
     enum ProvenanceType {

[2018-03-01 11:49] sorenbs commented on #1993
Thank you for reporting. We experienced reduced performance in Graphcool Framework for less than ten minutes in that timeframe. The issue has been resolved.

[2018-03-01 11:49] #1993 closed

[2018-03-01 12:00] vlutton commented on #1977
Ran the commands to upgrade everything to latest. Still getting the error.

- Yes, I am deploying to local cluster, when I tried deploying to cloud, it completed, but did not generate any schema.
- My prisma version is: `prisma/1.3.2 (darwin-x64) node-v8.9.4`
- prisma cluster list output is:
[code]
- Here are the logs (wall of text):
[code]

Also, getting this error when first running `prisma init

[2018-03-01 13:51] marktani opened #1995 "add CHANGELOG.md"
One document that comprises information from https://github.com/graphcool/prisma/releases

[2018-03-01 13:51] timsuchanek commented on #1691
@Weakky thanks for your research regarding the yml plugin!
That plugin is at least a beginning.
The task was not well defined, we should have linked to the `prisma-json-schema` before.
I created a PR here to add it to schemastore.org https://github.com/SchemaStore/schemastore/pull/411

The json schema is used in the prisma cli to validate the prisma.yml.

[2018-03-01 13:52] marktani commented on #1262
This was released in `1.2` and is confirmed to work stable. Note that as of now, cascading deletes don't work for `deleteMany` or `updateMany`: https://github.com/graphcool/prisma/issues/1936.

[2018-03-01 13:52] #1262 closed

[2018-03-01 13:57] marktani commented on #1977
Thanks @vlutton! I'm certain we'll get you there soon 🙂
Looks like you are encountering a similar problem as described [here](https://github.com/graphcool/prisma/issues/1906).

You can run `prisma local nuke` to wipe your internal database and all local data.
This provides a quick way of getting back in a consistent state when in development.

If you need to preserve your data, you can also compar

[2018-03-01 14:31] timsuchanek commented on #1874
Thanks for reporting @tfiwm! As described here: https://github.com/graphcool/http-link-dataloader/issues/3
This was due to the Dataloader caching, which is disabled by default now.

[2018-03-01 14:31] #1874 closed

[2018-03-01 14:43] marktani commented on #1994
Hey @davisjohndavis3, it's right that you can't add new scalar types to _the datamodel_ of Prisma.

However, you can add custom scalars to your _application schema_ in the GraphQL server.
In that case, I suggest the following _data model_:

[code]

Here is how you can add a custom scalar and overwrite your `Provenance` type that is exposed in your _application schema_:

[code]

Now you can add res

[2018-03-01 15:23] akoenig opened #1996 "Nested Mutation: `updatedAt` not updated"
# Bug Report

**Current behavior**

When I perform a nested update mutation in which I connect and create other related objects, the `updatedAt` of the actual object on which the  mutation has been executed won't enjoy a change.

[code]

In fact that makes sense, because although I execute `updateConversation` I don't change anything in the actual object. My assumption was that even then the `upda

[2018-03-01 15:30] #1932 closed

[2018-03-01 15:31] marktani commented on #1955
Closed by #1960 🎉

[2018-03-01 15:31] #1955 closed

[2018-03-01 15:31] #1898 closed

[2018-03-01 15:50] marktani commented on #1996
This is not a bug, but intended behaviour.

Personally, I prefer the current behaviour, but I can see why your suggested behaviour is useful, too.

Note that you can accomplish what you want by adding a `dummy` field and updating it to any value:

[code]

I'd be interested to hear more opinions about this topic.

[2018-03-01 16:00] marktani commented on #1817
This looks to be closely related to this: https://github.com/graphcool/prisma/issues/1981.
I'll write an update there shortly.

[2018-03-01 16:02] marktani commented on #1981
When creating a datamodel that incudes types without scalar fields, a schema with empty input types is generated. This is a problem for graphql-js 0.11. graphql 0.12 & 0.13 can print this schema without problems. However, parsing the printed schema again results in this error.

Note that older versions of `graphql-js` throw a different error, described in #1817.

The fix here is that the backend s

[2018-03-01 16:32] marktani opened #1997 "prisma playground opens wrong file"
# Bug Report

**Current behavior**

`prisma playground` in a folder that contains `.graphqlconfig.yml` opens the file `file:///Applications/GraphQL%20Playground.app/Contents/Resources/app.asar/lib/dist/index.html` in the Electron Playground.

![image](https://user-images.githubusercontent.com/1780597/36856489-6f1a2fba-1d76-11e8-8d35-5c01a6c8f64e.png)

**Reproduction**

* `prisma init` # choose min

[2018-03-01 17:07] inxeptionjake opened #1998 "Not about to get response from API"
**Please post usage questions or broader discussions in the [Forum](https://www.graph.cool/forum/)**.

Same issue as yesterday.  Getting very slow responses or no response at all.

For **feature requests**, please fill out the [feature request template](https://github.com/graphcool/prisma/issues/new?template=feature_request.md)

---

For **bug reports**, please fill out the [bug report issue templ

[2018-03-01 17:26] marktani commented on #1998
Thanks for bringing this up @inxeptionjake! 🙂
We resolved the issue. You can also refer to https://status.graph.cool.

Please report further problems or questions in the https://github.com/graphcool/graphcool-framework/ repository.

Thanks! 🙌

[2018-03-01 17:26] #1998 closed

[2018-03-01 17:29] johhansantana opened #1999 "TSError: ⨯ Unable to compile TypeScript"
# Bug Report

**Current behavior**
After running `prisma deploy` it will give an error of:
[code]

**Reproduction**
Not sure if this happens with every project but in to reproduce in our case is doing:

After files are generated we get the error

**Expected behavior?**
It should not error out.

**Temporary solution**
edit `src/generated/prisma.ts` where the error starts:
<img width="647" alt="scre

[2018-03-01 17:29] marktani commented on #1536
Right now, the best workflow to "start from scratch" + seeding is this:

[code]

I think the suggested behaviour of `prisma reset` above would be super cool.

[2018-03-01 19:08] KATT opened #2000 "(Circle) CI + Prisma"
# Bug Report

_⚠️ Not sure this is a bug, might be my issue, but I got asked on Slack to post this here. ⚠️_

## Current behavior

Unable to create local Prisma cluster with Circle CI.

When running `prisma local start` Circle CI gets stuck at _Booting local development cluster..._ until it eventually times out.

### Output

[code]

- [**Example setup**](https://github.com/KATT/react-prisma-graphq

[2018-03-01 19:37] iamclaytonray opened #2001 "Changes to only directives are not recognized"
# Bug Report

**Current behavior**
When making changes to `datamodel.graphql`, Prisma CLI seems to cache the previous results for several minutes when trying to deploy those changes. Caching may not be the correct term but that's what it best represents in my mind.

**Reproduction**

I don't really have time to build a demo repro but will try sometime this week. Essentially, all I am doing is upgr

[2018-03-01 20:09] marktani commented on #2001
This sounds like changes to _only_ directives aren't correctly picked up.
Have you managed to reproduce this when _also_ changing the data model itself?

[2018-03-01 20:11] iamclaytonray commented on #2001
Yeah, I guess I should have mentioned that. Thanks for the catch @marktani

[2018-03-01 20:11] vlutton commented on #1977
@marktani That worked for me!  I appreciate it!

[2018-03-01 20:29] marktani commented on #2001
Thanks, I updated the title accordingly.

[2018-03-01 20:51] iamclaytonray opened #2002 "Class 'Prisma' incorrectly extends base class 'Prisma'."
# Bug Report

**Current behavior**
After trying to compile typescript, I get the following error:

[code]

**Reproduction**

You can reproduce this issue by deploying a Prisma API and visiting `generated/prisma.ts`. The issue is found near the bottom. IE:

[code]
When hovering over `query`, due to red underline, this is the error notice:

[code]

More on repro later

**Expected behavior?**
Types s

[2018-03-02 00:06] renecvt commented on #62
Any news on this?

[2018-03-02 00:28] marktani commented on #2002
How can I reproduce this?

[2018-03-02 00:45] ForsakenHarmony commented on #1791
docker-compose prefixes the containers anyway, so you could also just call `prisma-db` `db`

[2018-03-02 02:42] vlutton commented on #1684
@masumbillah Try running `yarn add graphql apollo-server-express graphql-tools` that should solve that unmet peer dependency

[2018-03-02 04:33] davisjohndavis3 commented on #1994
Thanks for your fast response @marktani ... Now I am facing a relationship issue

 # This type holds the location Latitude
    type Latitude {
      provenance: Provenance
      value: Float
      visibilityStatus: Boolean
      dataQuality: DataQuality
    }

    # This type holds the location Longitude
    type Longitude {
      provenance: Provenance
      value: Float
      visibilityStatus: B

[2018-03-02 07:37] timsuchanek commented on #1691
The PR has been merged :)
@Weakky is helping us out with some documentation about the topic so people will soon know how to enable that for vscode.

[2018-03-02 07:37] #1691 closed

[2018-03-02 09:45] marktani commented on #1984
Hey @kuldar, can you please describe how you are using `seed.graphql` exactly? Are you using the `seed` property in `prisma.yml`?

[2018-03-02 09:52] nikolasburk commented on #1863
The limits are now documented [here](https://www.prismagraphql.com/docs/reference/clusters/overview-eu2ood0she)

[2018-03-02 09:53] freder commented on #1229
same here

[2018-03-02 09:56] #1229 closed

[2018-03-02 09:56] marktani commented on #1229
Issue moved to [graphcool/graphcool-framework #480](https://github.com/graphcool/graphcool-framework/issues/480) via [**ZenHub**](https://www.zenhub.com/)

[2018-03-02 09:57] marktani commented on #1229
Thanks, I moved the issue here: https://github.com/graphcool/graphcool-framework/issues/480.

[2018-03-02 10:01] #1990 closed

[2018-03-02 10:14] #1775 closed

[2018-03-02 10:16] marktani commented on #1997
This was fixed in [Playground 1.4.4](https://github.com/graphcool/graphql-playground/releases/tag/v1.4.4).

[2018-03-02 10:16] #1997 closed

[2018-03-02 10:22] #1776 closed

[2018-03-02 10:32] delta98 commented on #1992
@schickling I'm running latest version of `graphql-cli` `2.15.8` and still observing the issue with the backticks

[2018-03-02 10:36] #1781 closed

[2018-03-02 10:47] marktani commented on #2000
Thanks so much for bringing this up @KATT! We're looking into this and will provide more resources here soon 🙂

[2018-03-02 12:20] nikolasburk opened #2004 "Using variables in prisma.yml from command line options doesn't work"
For **bug reports**, please fill out the [bug report issue template](https://github.com/graphcool/prisma/issues/new?template=bug.md)

It should be possible to set variables in `prisma.yml` via command line options, as documented [here](https://www.prismagraphql.com/docs/reference/service-configuration/prisma.yml/using-variables-nu5oith4da#cli-options).

Consider this `prisma.yml`:

[code]

Now, pa

[2018-03-02 12:41] nikolasburk commented on #1884
All right, so the docs have been updated. Regarding your issues:

1. I added a note that quotes for default values are required
2. This is a bug in the CLI, I opened an issue [here](https://github.com/graphcool/prisma/issues/2004)
3. Adjusted all occurrences of `self.custom` to `self:custom`

Thanks again for opening the issue!

[2018-03-02 12:41] #1884 closed

[2018-03-02 12:54] marktani commented on #1999
This looks very similar to https://github.com/graphcool/prisma/issues/1992.

[2018-03-02 13:07] marktani opened #2006 "Importing a folder without NDF data should not be possible"
# Bug Report

**Current behavior**

Importing a folder that doesn't contain any of the folders `nodes` `lists`, `relations` results in this output:

[code]

This is misleading. You might try to import a `seed.graphql` file, which is not supported yet as far as I know. In this case, you expect the seed file to be executed, and you don't receive an error message or warning.

**Reproduction**

[code]

[2018-03-02 13:07] johhansantana commented on #1999
Oh yes, it is the same thing.

[2018-03-02 13:07] #1999 closed

[2018-03-02 13:11] marktani commented on #1994
I'm closing this for now, as your initial question seems answered.
Feel free to open another issue or a discussion in [the Forum](https://www.graph.cool/forum/c/questions) if you have further questions 🙂

[2018-03-02 13:11] #1994 closed

[2018-03-02 13:12] #1988 closed

[2018-03-02 13:12] marktani commented on #1988
Issue moved to [graphcool/prisma-cloud-feedback #68](https://github.com/graphcool/prisma-cloud-feedback/issues/68) via [**ZenHub**](https://www.zenhub.com/)

[2018-03-02 13:13] marktani commented on #1988
Thanks @brandonmp, I moved the issue here: https://github.com/graphcool/prisma-cloud-feedback/issues/68.

[2018-03-02 13:21] iamclaytonray commented on #2002
Sorry man. I'll try to have an isolated repro today

[2018-03-02 13:22] marktani commented on #2002
Thanks! 😄

[2018-03-02 14:20] couturecraigj commented on #83
@marktani is there any update on timeline for this?  Where can I find your roadmap?  Seems like interfaces are a pretty huge need to me... much like union types.

[2018-03-02 15:06] marktani commented on #1987
Hey @jgeschwendt, that sounds like a good idea to improve this workflow.

For now, you can use `prisma login --key <key>`. Here's an example: https://www.prismagraphql.com/docs/reference/cli-command-reference/cloud/prisma-login-shaip5yaej

[2018-03-02 15:08] marktani commented on #1982
Thanks for the report, @awwilhelm. It looks very similar to this one: https://github.com/graphcool/graphcool-framework/issues/426.

Please report further questions and issues about Graphcool Framework in this repo instead: https://github.com/graphcool/graphcool-framework. Thanks!

[2018-03-02 15:08] #1982 closed

[2018-03-02 15:09] marktani commented on #1978
Issue moved to [graphcool/graphql-yoga #199](https://github.com/graphcool/graphql-yoga/issues/199) via [**ZenHub**](https://www.zenhub.com/)

[2018-03-02 15:09] #1978 closed

[2018-03-02 15:09] marktani commented on #1978
Thanks for opening this discussion, I moved it here: https://github.com/graphcool/graphql-yoga/issues/199.

[2018-03-02 15:11] marktani commented on #1973
Looks similar to #1992.

[2018-03-02 15:12] marktani commented on #1963
Hey @brandonmp, your issue looks unrelated and more akin to [this one](https://github.com/graphcool/prisma/issues/1981).

[2018-03-02 15:12] akoenig commented on #1973
@marktani This is definitely fixed in `graphql-cli@^2.15.6` :)

[2018-03-02 15:16] marktani commented on #1972
Thanks for the contribution, @akoenig. With that I am closing this issue.

Feel free to open a new issue here or a discussion [in the Forum](https://www.graph.cool/forum/c/questions) if you have further questions.

[2018-03-02 15:16] #1972 closed

[2018-03-02 15:19] #1917 closed

[2018-03-02 15:54] marktani commented on #1885
@divyenduz confirmed that this hasn't happened in a while. I assume this is fixed.

@divyenduz @ragzor, please open a new issue if you're encountering this again.

[2018-03-02 15:54] #1885 closed

[2018-03-02 16:06] timsuchanek commented on #1992
Thanks for reporting! Can you try the latest prisma beta `1.4.0-beta.2`?
I just tried it and the multiline comments are correctly generated in the prisma.ts

[2018-03-02 16:14] do4gr commented on #1947
@Huvik , @johannpinson  the change is now available on the unstable channel, you can check it out!

[2018-03-02 16:52] Yogu commented on #1643
If you need some inspiration for a GraphQL type system of a document database, have a look at [cruddl](https://github.com/AEB-labs/cruddl). This is a TypeScript library that servers a GraphQL API similar the one of prisma, but it uses ArangoDB as database (might also be interesting for #1645) is built to embrace the possibilities of document databasees like embedding. We invented [four kinds of ob

[2018-03-02 17:08] marktani commented on #1817
This is fixed here: https://github.com/graphcool/prisma/pull/2005

You can check this now [on the unstable channel](https://github.com/graphcool/prisma/wiki/Release-Channels) @maxdarque @lueurxax @Saeris @Fi1osof @moritzmorgenroth @adamjking3. Let me know if you have any problems 🙂

[2018-03-02 17:08] #1817 closed

[2018-03-02 19:07] stnwk commented on #532
^ Link above does not redirect to the actual issue.

Here you go: https://github.com/graphcool/graphcool-framework/issues/225

[2018-03-02 20:45] cameronk commented on #1350
Curious as to when we could see an AWS deployment guide!

[2018-03-02 20:56] cameronk commented on #1641
@marktani Bumping @brandonmp's comment, would really love to see an example of this.

If I understand right, it has to do with a modification to some variables for the prisma cluster, [documented here](https://www.prismagraphql.com/docs/reference/clusters/docker-aira9zama5).

Gonna try to figure this out now, but would appreciate any team insights!

[2018-03-02 21:07] johhansantana commented on #1992
I was having this issue. To fix it in my project I just updated the following libraries:

[code]

[code]

[code]

After trying to `prisma deploy` locally and when deploying to `now` everything works.

[2018-03-02 21:45] aranwe commented on #1641
@cameronk  Look @ the env vars for prisma-database:
just remove from the docker file completely prisma-db (btw: not a very lucky choice of name - as it is the mysql db container - check image: mysql-5.7)
And change the env vars:
[code]

you should be able to set SQL_CLIENT_HOST either to IP or any accessible host from the server where the docker container runs (either LAN or the internet).

Anyone

[2018-03-02 22:15] paolodina commented on #1995
Have you considered to use something like this? https://github.com/semantic-release/semantic-release

I'm not confident with semantic release done in js/node, but I use an equivalent of semantic-release for python projects and the whole process (generating CHANGELOG.md too) is greatly simplified. The initial setup might take a bit, but once done everything should work ootb. I noted that project's

[2018-03-03 03:36] etx commented on #1996
Could I use this dummy value to update with the generated api? I'm sending back all the variables from my form but if none of them change, the only change was on a related field, I do not see the updatedAt field updated. I assume prisma is seeing the values are all equal to their current values and considering the data to not be updated.

[2018-03-03 07:24] ragzor opened #2010 "Nested mutations inside UpdateMany are not applied"
# Bug Report

**Current behavior**

Using connect inside an UpdateMany mutation call returns the error:
`"message": "Whoops. Looks like an internal server error. Search your cluster logs for request ID: api:api:cjeb19t3f00310150uqe2ihuo",`

from cluster logs:

`{"key":"error/unhandled","requestId":"api:api:cjeb19t3f00310150uqe2ihuo","clientId":"blaze-service@dev","payload":{"exception":"java.lang.

[2018-03-03 11:17] marktani commented on #1996
Correct.

[2018-03-03 13:47] marktani opened #2011 "Deployment won't end"
@jhalvorson commented on [Sat Mar 03 2018](https://github.com/graphcool/prisma-cloud-feedback/issues/70)

hey, I’ve been experiencing this issue for the past day or two and can’t see what’s up. When I run `prisma deploy` to prisma cloud I get this:

[code]

It just sits there spinning until I kill it, never ends.

However, when I view my deployment history on app.prisma.sh I see that it looks like

[2018-03-03 13:47] marktani commented on #2011
Hey @jhalvorson, can you share the "before" and "after" schema?

[2018-03-03 15:43] do4gr commented on #2010
Hey, thanks for reporting this. This should not throw an internal. But the initial implementation is also not supposed to support nested mutations as per https://github.com/graphcool/prisma/issues/81.

We'll have a look at the thrown error.

[2018-03-03 17:03] marktani commented on #1312
Sure, that's a great point. You are connecting your SQL database to Prisma, so you can also send raw queries there 🙂

[2018-03-03 17:59] jhalvorson commented on #2011
Hi @marktani,

I removed the new field of 'avatar' (relation to File) and removed the @unique constraint from 'lowerTitle', redeployed and that worked fine. I then re-added avatar back, redeployed and all was fine.

I think the issue was the @unique constraint as the were defaulting to empty strings. On the first redploy I got this error:

[code]

All is working again though.

[2018-03-03 18:55] sedubois commented on #156
Hi @humbertocruz, did you have any luck in using Cockpit to manage a Prisma endpoint or did you find other ways to connect some CMS or admin UI?

[2018-03-03 21:57] ashtonsix opened #2013 ""prisma local start" takes up to ~30 minutes to run"
# Feature Request

`prisma local start` takes **forever**, maybe because of my internet speed?

I spent about 6 hours cancelling & restarting the installation before figuring out it just needed to be left alone. Using `DEBUG="*"` didn't help either, looks like a hung process unless you watch for ages.

Think https://github.com/graphcool/prisma/issues/1946 might be the same issue.

**What feature a

[2018-03-03 23:19] jMuzsik commented on #1852
Hi! I'd be up for doing this but I would be new to Scala so it may take me a bit of time to finish

[2018-03-04 18:11] cameronk commented on #2011
I've been experiencing this as well. I dove into my database and looked at the `Migrations` table, found this under `errors` (snipped out my info):

[code]

I think my issue was that I had forgotten to remove an `@rename` directive after the migration ran. **It would be really nice if Prisma gave me a warning after running a deployment with these.**

In any case, Prisma should return an error inst

[2018-03-04 19:09] schickling opened #2015 "`prisma list` should work outside of the context of a prisma project"
![image](https://user-images.githubusercontent.com/1567498/36949386-f4bd76e0-1fe7-11e8-8f8b-12a078fba5fc.png)

[2018-03-05 08:23] bkniffler commented on #1125
Just fyi, I installed the latest version of prisma and I didn't need to change any config, just connected to 3307 with root/graphcool and all fine. I recommend to use Kitematic though (latest releases https://github.com/docker/kitematic/releases), pretty cool for logs, env, etc.

[2018-03-05 10:41] marktani opened #2016 "Docs about interactive deploy are wrong"
https://github.com/graphcool/prisma/blob/master/docs/1.3/04-Reference/07-CLI-Command-Reference/01-Database-Service/02-prisma-deploy.md

This part of the documentation contains an `--interactive` parameter multiple times.
Currently, `--interactive` is not working which is a known limitation (see #1728 and #1983).

Before this is implemented, any mention of `--interactive` should be removed, to prev

[2018-03-05 12:58] marktani opened #2017 "Prompt when deleting a service should include cluster information"
The current message is

[code]

It should be

[code]

[2018-03-05 13:39] marktani opened #2018 "[Meta] Known Migrations that behave unexpectedly"
A collection of migrations that result in stuck deployments or other inconsistencies.

### Stuck Deployments

* [x] https://github.com/graphcool/prisma/issues/2011
* [x] https://github.com/graphcool/prisma/issues/1894
* [x] https://github.com/graphcool/prisma/issues/2121
* [x] https://github.com/graphcool/prisma/issues/1802
* [x] https://github.com/graphcool/prisma/issues/2170
* [x] https://github

[2018-03-05 13:46] marktani commented on #1858
Hey @oxy88, thanks for reporting this!

Are you sure about this? Please double check that you deployed, and reloaded the schema afterwards.   `UserWhereInput` should include `favoriteCities_none`, `favoriteCities_some` and `favoriteCities_every`.

This is expected. We'll add filters for scalar lists soon, according to [this specification](https://github.com/graphcool/prisma/issues/1275).

[2018-03-05 18:30] marktani commented on #1904
This is already fixed 🙂

[2018-03-05 18:31] #1904 closed

[2018-03-05 20:11] matteozambon89 commented on #1983
It would be good also to pass the file `prisma.yaml` and the `prisma.graphql` to `prisma deploy`
[code]
Where on `--config` we can feed the `prisma.yaml` and on `--schema` we can feed the already computed `schema` to avoid the schema generation during deploy.

[2018-03-05 20:43] marktani opened #2022 "Add dedicated documentation about working with multiple environments"
It's about the following and similar questions:

Existing resources:

* https://www.graph.cool/forum/t/1-0-different-environments-different-graphcool-yml-files/2105/2?u=nilan
* https://www.prismagraphql.com/docs/reference/cli-command-reference/database-service/prisma-deploy-kee1iedaov

We should add

* [ ] a dedicated section in the documentation
* [ ] an example [here](https://github.com/graphcoo

[2018-03-05 21:21] tfiwm commented on #1734
Any progress for where subscriptions?

[2018-03-06 04:12] cameronk opened #2023 "Prisma container crashes on AWS Fargate"
# Bug Report

**Current behavior**

When running prisma:1.3 on AWS Fargate, the container crashes on boot.

**Reproduction**

1. Create a cluster in Amazon ECS
2. Create a new task definition
3. Choose the FARGATE compatibility mode. Fill out env vars / etc. as necessary.
4. Save the task definition
5. Run the task with Launch type: FARGATE
6. View your container's logs.

Here's my logs:
[code]

I

[2018-03-06 04:58] donedgardo opened #2024 "Import fails with exceeding size reason."
# Bug Report

**Current behavior**
Running `prisma import -d export-2018-03-06T04:48:12.466Z.zip -e .env.prod` doesnt complete import instead debugs witha exceeding size exeption:
[code]
![screen shot 2018-03-06 at 12 53 06 am](https://user-images.githubusercontent.com/2483536/37014750-1bef01c4-20d9-11e8-806d-45e513eaebf0.png)

**Expected behavior?**
Successful import or better description of how

[2018-03-06 06:17] vistriter opened #2025 "throw new TSError(formatDiagnostics(diagnosticList, cwd, ts, lineOffset))"
After I update Prisma to 1.3.3. I have a problem like this.

crash when yarn start

<img width="1035" alt="screen shot 2561-03-06 at 13 16 09" src="https://i.imgur.com/qgKoISK.png">

[2018-03-06 06:57] donedgardo commented on #1992
@timsuchanek 1.4.0-beta.2 generated correctly the `src/generated` files.

[2018-03-06 09:43] bkniffler commented on #1483
I don't understand the reason why it should be checked in. Isn't it a file that will always look the same if the sources don't change? Just like a compiled .js file thats based on .ts? Why pollute our repos with it then?

I'd much prefer if it wasn't in my src directory. I got no files inside the src directory that are generated and thus shouldn't be modified. Maybe we could customize the path whe

[2018-03-06 10:16] #1908 closed

[2018-03-06 12:25] canercandan opened #2026 "subscription with fragments does not fire properly"
Following the resolver example [here](https://github.com/graphcool/prisma/blob/master/examples/subscriptions/src/index.js#L35-L41), if you call a subscription with a fragment as follow:

[code]

It will returns a response right away with a null data such as the one below and does not listen for changes.

[code]

Removing the fragment keeps the connection on and listening, and the mutations are tri

[2018-03-06 12:33] fatjoeluke commented on #1946
@marktani #2013 appears to be the issue that i was facing. Looked like a hanging process but really the connection speed was making it take longer than expected.

[2018-03-06 13:06] do4gr commented on #1991
Hey @ForsakenHarmony, thanks for reporting this. The error occurs because we cannot infer with complete certainty which of the two named relations in the second schema is an update of the relation in the first one. We could try to infer it from the fieldName, but that might have changed as well.

I will implement a proper error for this case. The solution for you, that I'll probably also provide i

[2018-03-06 13:27] ForsakenHarmony commented on #1991
oh ok, I'll try that, thanks

[2018-03-06 14:19] do4gr commented on #1895
Hey @Fi1osof, thanks for reporting this. I tried to reproduce the issue as I understood it, but it seems to be working now. In my example parent already had parentofparent as it's parent. I then updated child to set parent as it's parent. The parent of parent was then still set as parentofparent.

![bildschirmfoto 2018-03-06 um 15 17 13](https://user-images.githubusercontent.com/16278407/37036952-

[2018-03-06 14:47] do4gr commented on #1841
Hey, @rafaelcorreiapoli, @telaoumatenyanis , @crubier  thanks for reporting this and providing a simple example. I can reproduce this and will look into this.

[2018-03-06 16:31] wolszczak96 commented on #1278
Providing custom IDs in create mutations would be really helpful in case of developing applications with possibility to work offline, create data offline and then send mutations to server when connecting back to network.

[2018-03-06 16:42] sabativi commented on #1278
Hey @wolszczak96, when I implemented this I did not need it to force ids,
I create fake id client side and write to the apollo cache directly
When back offline I send mutations stacked while offline and create entities in DB,
When doing a refetch on client, cache updates with real Ids generated by prisma but the user does not see any difference because datas are the same.
This is in prod on a reac

[2018-03-06 16:49] wolszczak96 commented on #1278
Ok, but what about local updates, connecting relations etc? Those mutations are stacked with fake IDs and rejected by server

[2018-03-06 17:12] heymartinadams opened #2029 "Spelling error on website"
Where? [Here](https://www.prismagraphql.com/cloud/). Scroll down to **Deploy your first service in 5 minutes**. Second slide:

`Conenct to your database`

Should be: `Connect to your database`

https://www.prismagraphql.com/cloud/

[2018-03-06 17:25] ForsakenHarmony commented on #1991
Well now it didn't create the corresponding table

`Caused by: java.sql.SQLException: Table 'productive@dev._MoteCreator' doesn't exist`

[2018-03-06 17:30] ForsakenHarmony commented on #1991
now I can't even undo it

[2018-03-06 17:48] ammichael commented on #1905
Is there any solution to this? I'm trying to deploy to Now but I'm not really sure how.

[2018-03-06 19:35] miuan opened #2030 "prisma deploy token 'ERROR: Authentication token is invalid"
# prisma deploy token 'ERROR: Authentication token is invalid

**Current behavior**
`prisma deploy`

ends with

[code]

**Reproduction**
I was setup the project roughly two months ago with `prisma init` without promting any account

till today everithing works fine, but novadays the `prisma deploy` return the issue with wrong token

After repeating this problem I did try `prisma account` where I w

[2018-03-06 23:04] steida opened #2031 "local upgrade"
When should it be run? Thank you.

[2018-03-06 23:50] fonzied opened #2032 "Invalid token"
# Bug Report

`Message:  Your token is invalid. It might have expired or you might be using a token from a different project.`

This error started right after logging into Prisma Cloud for the first time. I didn't change anything whatsoever, just logged in and looked around for about 45 seconds then closed. Even manually inserting new Authorization tokens in the playground gave the same error. I h

[2018-03-07 01:29] cameronk commented on #2025
Same issue as #1973.

This has not been fixed as of prisma@1.3.5.

@vistriter You'll need to manually edit the prisma.ts file in the meantime.

[2018-03-07 01:31] cameronk commented on #1973
@akoenig Does Prisma have a dependency for `graphql-cli`? I've updated to `prisma@1.3.5` and this error still occurs.

[2018-03-07 05:23] davisjohndavis3 commented on #1994
ok  @marktani ... Thanks for your fast response

[2018-03-07 06:20] akoenig commented on #1973
@cameronk That is strange. Could you try the following:

  - Delete node_modules
  - Install dependencies again
  - Verify version in  node_modules/graphql-cli/package.json

Aaaand make sure that you execute the local installed graphql-cli and not a possible globally installed one. Try executing: yarn graphql prepare

Hope that helps 🙂

[2018-03-07 06:56] Fi1osof commented on #1895
@do4gr hi!

Yes, 1.3.5 all fine! Thanks! :)

[2018-03-07 06:56] #1895 closed

[2018-03-07 08:29] lastmjs opened #2033 "Syntax Error GraphQL request Expected Name, found String"
I've just installed Prisma and am working with the basic TypeScript backend boilerplate. I'm getting this error when I run prisma deploy. It's stopping the prisma.ts file from being generated:

[code]

Not sure what's going wrong here in the automatically generated prisma.graphql:

[code]

[2018-03-07 10:44] marktani commented on #2024
Thanks for the report @donedgardo, we're looking into this soon 🙂

[2018-03-07 12:56] Aubron opened #2034 "Looped Cascade Directive when parent and child are of same object."
# Bug Report

**Current behavior**
Consider the folowing data type:

[code]

This seems reasonable. A folder will cascade its deletes _down_ the tree, but only set null up the tree.

This causes an error:
[code]

**Reproduction**

This seems to be the case in any situation in which an object has a parent/child of its own data type.

**Expected behavior?**

Behavior like one would expect from a fol

[2018-03-07 13:27] #1966 closed

[2018-03-07 13:33] marktani commented on #2033
What's your `prisma version`?

Your description sounds similar to this discussion: https://github.com/graphcool/prisma/issues/1992
Could you try to apply the resolution described there?

[2018-03-07 13:37] marktani commented on #2025
Thanks for chiming in @cameronk!
I'm closing this as a duplicate. @vistriter please let us know in #1973 if that helps 🙂

[2018-03-07 13:37] #2025 closed

[2018-03-07 13:41] marktani commented on #2031
`local upgrade` pulls the docker image associated with your current `prisma` version. So, a typical workflow for using this command is the following:

[code]

I hope this helps! Keep in mind that usage questions like yours are better posted [in the Forum](https://www.graph.cool/forum/c/questions). Thanks 🙌

[2018-03-07 13:41] #2031 closed

[2018-03-07 14:40] wolszczak96 opened #2035 "Contributing"
Hi!

I want to make a point about contributing guides. There is a nice general [contributing.md](https://github.com/graphcool/prisma/blob/master/CONTRIBUTING.md) file, but further instructions are very poor. Server [contributing.md](https://github.com/graphcool/prisma/blob/master/server/CONTRIBUTING.md) is even empty. It would be nice to complete guidelines to make it easier for the community to c

[2018-03-07 14:46] marktani opened #2036 "Replace connected nodes for to-many relation"
# Feature Request

**What feature are you missing?**

A nested "replace" or "set" mutation, that would _set_ the connected nodes for a given node and relation.

Currently, only `connect`/`disconnect` are available. This means that it's possible to manually accomplish it right now, but requires an additional query of connected nodes first.

**How could this feature look like in detail? Tradeoffs?**

[2018-03-07 15:00] terion-name commented on #1948
@dpetrick thank you! indeed, there was an error in schema. 200 responses confused

[2018-03-07 15:27] #1992 closed

[2018-03-07 15:30] marktani opened #2038 "Enable prisma console command"
[code]

should open `https://app.prisma.sh` instead.

[2018-03-07 16:05] #1991 closed

[2018-03-07 16:12] kjetilge commented on #1904
I'm having this problem also:
[code]

[code]

[2018-03-07 16:17] ForsakenHarmony commented on #1991
managed to undo it by manually editing the database

[2018-03-07 16:21] ForsakenHarmony commented on #1991
but prisma import required me to set a lot of stuff as optional to work, it doesn't like relations

[2018-03-07 17:14] lastmjs commented on #2033
I was using `1.3.5`, I just tried with `1.4.0-beta.4` and I get the same issue

[2018-03-07 17:19] lastmjs commented on #2033
I am also already using:

prisma-binding: `1.5.16`
graphql-cli: `2.15.8`

[2018-03-07 17:30] mavilein opened #2039 "Delete Many does not work with where that is using nested data"
# Bug Report

**Current behavior**
It fails with the following internal server error:
[code]

**Reproduction**

[code]

**Expected behavior?**
Should not blow up :-)

[2018-03-07 17:31] mavilein commented on #2039
Reported by @timsuchanek

[2018-03-07 17:46] sorenbs commented on #1991
That sounds like a bug :-)

Would be super helpful if you can provide a minimal example with required relations that break export/import and open a new issue.

[2018-03-07 17:47] rohitghatol commented on #1922
Which version of prisma has this fix?

[2018-03-07 17:50] marktani commented on #1991
Hey @ForsakenHarmony, is this what you're encountering: https://github.com/graphcool/prisma/issues/1767?

[2018-03-07 17:53] lastmjs commented on #2033
I just installed a fresh project to try and reproduce, and I can't. I ran a diff on the package-lock.json files, and they are exactly the same. I'm using the same datamodel.graphql files (same contents). Is there some extra state being hidden somewhere that might be causing this to happen?

[2018-03-07 17:55] lastmjs commented on #2033
datamodel.graphql:

[code]

prisma.yml:

[code]

[2018-03-07 18:02] marktani commented on #1904
This looks like a different error, as the error message is different.

Can you please create a new report?
Please also include your `prisma.yml` 🙂

Thanks!

[2018-03-07 18:47] lastmjs commented on #2033
My my my, I forgot that I had explicitly installed a version of `graphql` and `graphcool-framework`, and they and their dependencies must have been messing things up.

[2018-03-07 18:47] #2033 closed

[2018-03-07 19:18] timsuchanek commented on #1992
Thanks everyone for reporting! This seems to be fixed now

[2018-03-07 19:23] Aubron opened #2040 "(Docs) JSON incorrectly capitalized in SDL reference"
https://www.prismagraphql.com/docs/reference/service-configuration/data-modelling-(sdl)-eiroozae8u#scalar-types

The above lists `JSON`, but I can only get `Json` to work as a data type.

[2018-03-07 19:25] ForsakenHarmony commented on #1991
yes

[2018-03-07 19:27] marktani commented on #1991
Thanks, we'll look into a fix soon. Let's continue our discussion there 🙂

[2018-03-07 19:34] marktani commented on #2040
Thanks 🙂

[2018-03-07 19:38] akoenig commented on #1922
@rohitghatol I guess you should see the change in `1.4-beta-16` (Docker image), because there is no stable release with this commit yet. You can switch to the unstable channel via:

  * `npm i prisma@beta`
  * `prisma local upgrade`

[2018-03-07 19:41] akoenig commented on #2035
@wolszczak96 Valid points. Do you have something in mind you think is especially hard / hindrance?

[2018-03-07 19:44] marktani commented on #1922
Thanks @akoenig. I'll add that information to the README soon 🙂

[2018-03-08 05:47] dhiraj-belkhode opened #2041 "Mutation returning error message "ctx.db.mutation.createUser" is not a function"
Created createUser Mutation after calling it from playground it returning an error.

mutation{
  createUser(firstName:"abc", lastName:"xyz",
  mobile:3453343443){
    id
  }
}

error:-
ctx.db.mutation.createVisitor is not a function"

[2018-03-08 08:47] marktani commented on #2041
Looks like an error in your resolver code. You are calling createVisitor, but it doesn't exist.

Is there a Visitor type in your data model?

[2018-03-08 09:23] DavyBello commented on #1643
Have a look at [graphql-compose](https://github.com/graphql-compose/graphql-compose) it's a toolkit for construction of complex GraphQL schemas. Provides bunch of plugins for type generation. Allows to build your own plugins/helper-functions for type construction and modification and [graphql-compose-mongoose](https://github.com/graphql-compose/graphql-compose-mongoose) a Mongoose model converter

[2018-03-08 09:29] marktani commented on #1032
Since this discussion ended ~half a year ago, a lot has changed in the GraphQL ecosystem.
You should be able to define directives in your application schema, and also define their logic there.

Feel free to revisit this discussion in a new issue if you feel that this approach could be extended 🙂

[2018-03-08 09:30] marktani commented on #1228
Posted a similar but different message in #1032.

You should be able to define directives in your application schema, and also define their logic there.

Feel free to revisit this discussion in a new issue if you feel that this approach could be extended 🙂

[2018-03-08 12:19] kbrandwijk commented on #1032
@marktani I think it would be very helpful if directives would be 'preserved' across Prisma. When importing Prisma types into your schema, it's still hard to add directives to them.

[2018-03-08 12:19] kbrandwijk commented on #1228
See https://github.com/graphcool/prisma/issues/1032#issuecomment-371471412.

[2018-03-08 13:01] schickling commented on #1228
@marktani I feel this issue should be re-opened to find a good way to address this

[2018-03-08 13:26] marktani commented on #1032
Yup, let's continue the discussion here: #1228 🙂

[2018-03-08 13:38] develomark commented on #1228
I am extensively using custom directives and to be honest I've gotten into a pickle a few times maintaining the schema at database and then replicating again at app level to add in descriptions and directives.

This feature would save so much pain!

Please pass though descriptions to the type and input also.

[2018-03-08 14:06] kbrandwijk commented on #1228
@develomark Exactly, just a 1-on-1 passthrough of any directives anywhere in the schema.

[2018-03-08 15:15] johannpinson commented on #1824
Hey @lrholmes

I have the same problem just today, when I'm trying to modify the default boilerplate structure.

This is the actual line which solves you when you run a `prisma deploy`:
https://github.com/graphcool/prisma/blob/master/cli/packages/prisma-cli-core/src/commands/deploy/index.ts#L484

Actually, the Prisma CLI use `graphql-cli` inside it, and after a deploy you can see inside your conso

[2018-03-08 15:38] johannpinson opened #2044 "Documentation > YAML Structure > Schema property can be overrided"
https://github.com/graphcool/prisma/blob/0acef3365f2245da0ee371be1c4768d26d83de70/docs/1.3/04-Reference/02-Service-Configuration/02-prisma.yml/02-YAML-Structure.md#L178-L184

It will be a good point to add a little "warning/info" block for this property to indicate that it can be overrided by the `graphqlconfig.yml` used during the command `graphql prepare`

Related to https://github.com/graphcool

[2018-03-08 16:15] ciocan opened #2045 "Is it possible to run it as a Lambda Function Handler (Java) on aws?"

[2018-03-08 16:26] tbrannam opened #2046 "Incorrect `InvalidNames` being accessed"
When defining relationships, the incorrect error message is displayed in the event of an invalid character being used in the name.

Actual:
<details><summary>Full Error Response</summary>

[code]
</details>

[code]

Expected:

[code]

See: https://github.com/graphcool/prisma/blob/c9ed5f6fefc25bdc2aa55f590135f08d94048bf6/server/deploy/src/main/scala/com/prisma/deploy/schema/Errors.scala#L29

[2018-03-08 16:51] marktani opened #2047 "Fix comment in generated schema"
@johannpinson commented on [Thu Mar 08 2018](https://github.com/graphcool/graphql-import/issues/100)

I have a little bug about the syntax in Visual Studio Code, because one comment isn't generated to the new line:

https://github.com/graphcool/graphql-import/blob/4458d2955d9319ca2527b1a770438104a5f3c092/fixtures/complex/b.graphql#L9152-L9156

This is the actual render in VSC:
![capture d ecran 20

[2018-03-08 17:32] marktani commented on #2029
Done, thanks 🙂

[2018-03-08 17:32] #2029 closed

[2018-03-08 17:48] johannpinson commented on #1927
@marktani
Effectively, it's not clear that the `prisma deploy` uses after some command from `graphql-cli`
(and finally the `graphql get-schema` use some prisma information like the endpoint to get the introspection).

One particular point is the fact that the configuration from `graphqlconfig.yml` use in the `graphql get-schema` override the `schema` property from `prisma.yml` and doesn't deliver

[2018-03-08 17:48] lastmjs commented on #1228
If anyone is interested, I've got a workaround for this. I just go through the `datamodel.graphl` schema, grab all of the directive information and attach it back to the `generated/prisma.graphql` schema. After that you can do what you want with it (write it to file, use makeExecutableSchema, etc):

[code]

[2018-03-08 20:25] do4gr commented on #1820
Sorry for the late reply. Can you clarify what you mean? Values you already had before you introduced the default value still show 0.00?
Adding a default value only affects new nodes being created as far as I know. So existing nodes will not be affected. If you want to set all existing values to null you will need to update them.

[2018-03-08 21:31] divyenduz commented on #1896
I am able to replicate this without involving `graphql-binding`, `prisma-binding`, `graphql-yoga`. This is happening on remote schemas in `graphql-tools` (which explains it being visible in `graphql-yoga` setup).

Replication details are mentioned here (use branch 1896 in the repository for this issue).
https://github.com/divyenduz/bind-gql-tools/blob/1896/README-1896.md

Response from `delegateTo

[2018-03-08 21:37] Aubron commented on #2010
Just ran aground of this as well, is there an intent to show these routes as inaccessible in the playground as well? currently it shows nested mutations as possible (which, given the programmatic nature of the docs generation, may point to the root of the issue)

[2018-03-08 22:37] marktani commented on #2010
I don't exactly understand your comment @Aubron, could you elaborate? :slightly_smiling_face:

[2018-03-08 22:54] Aubron commented on #2010
![screen shot 2018-03-08 at 5 49 21 pm](https://user-images.githubusercontent.com/1171076/37180995-2d793f78-22f9-11e8-8ed2-ef1049f7f561.png)

The updateMany system still shows nested operations as valid in the playground, leading to frustration for those who don't know about #81's spec.

After thinking about it for a bit, I'm fairly certain that it's not a possibility, since that's just the descri

[2018-03-08 22:57] Aubron commented on #2010
`Nested mutations of updateMany mutations are not currently supported. See [the spec](https://github.com/graphcool/prisma/issues/81) for more information.`

Those kinds of notes as footnotes would probably defer a lot of the incoming issues.

[2018-03-09 04:22] LawJolla opened #2048 "Multiple concurrent requests temporarily locking local Prisma cluster"
# Bug Report

** This may be a http-link-dataloader issue, but I can't tell 🤣 **

**Current behavior**

Multiple concurrent request overwhelm the Prisma batch process, local deployment.

[GraphQL error]: Message: Whoops. Looks like an internal server error. Search your cluster logs for request ID: api:api:cjejgjtkr01fn01002wmakco8, Location: [object Object], Path: createFile
[Network error]: Error

[2018-03-09 06:08] etcook opened #2049 "Support for multiple databases from single cluster"
# Feature Request

Due to our use of Heroku and our desire to keep different maintenance and recovery schedules for our various internal databases, we would require multiple databases to be accessible from a single cluster. We could still use a single endpoint with shared auth, but requests would need to be properly routed.

[2018-03-09 07:12] thesubway commented on #1918
On prisma version 1.0.8 I was able to reproduce this error (it is fixed on 1.3.5 however).

I reproduced by:
Steps to reproduce:
(logged into prisma)

$ graphql create my-project02a --boilerplate react-fullstack-basic
And I selected prisma-us1

Then it shows up as one of my services in the prisma console.
Without changing any code (still signed in), when I do:
$ cd my-project02a/server
$ prisma de

[2018-03-09 08:18] marktani commented on #1918
I'm not sure, in your case it could be that your login is now correct and therefore you are not seeing the error anymore. @timsuchanek, do you know more? :)

[2018-03-09 09:26] Huvik commented on #2038
I will do it tomorrow :)

[2018-03-09 09:55] Huvik commented on #2038
Ok it should be done 😇

[2018-03-09 10:18] johannpinson commented on #1927
hey @akoenig @marktani

In fact, the funny part is that prisma can use graphql-cli twice, in this case for example:
[code]

And when I look `prisma-version.graphql`, the only difference is some additionnal comments and a reorder of the differents objects compared to `graphql-version.graphql`

However, I think that the major point is linked to the `schema` property inside `prisma.yml`, as I describ

[2018-03-09 10:38] schickling opened #2052 "Raw database access fallback"
*WIP*

[2018-03-09 11:51] johannpinson commented on #2047
Hey @marktani

I saw that on previous version on prisma (1.2.x), I don't have this lot of comments inside the GraphQL schema generated.

After looking the introspection schema, in my "old" and "new" projects I always see the comments in the result.
There is a new option for the CLI (prisma or graphql-cli) to disable the adding of this comments?
(because it seems it will be double the size of the f

[2018-03-09 12:02] Fi1osof commented on #1820
@do4gr

Yes, want it.
OK, i will update them. Thnaks!

[2018-03-09 13:15] do4gr opened #2053 "Updating Scalar List Values of a Node does not trigger a change of the updatedAt value of a Node"
Changing a scalar list value of a node should change the updatetAt value of that node.

[2018-03-09 13:24] johannpinson commented on #2047
Ok find, the bug seems to be related to the `graphql-js` repository itself.

I see a change in the schemaPrinter.js about this here:
https://github.com/graphql/graphql-js/commit/a722af779bcf6996bfa4eb17592a91dd62465f56#diff-71ba52e9c625f826d2b0df2963c8633a

[2018-03-09 13:26] ericaprieto commented on #1641
@aranwe did you manage to use a remote postgre db?

[2018-03-09 13:36] Artemidas opened #2054 "Description of environment variables of prismagraphql/prisma image in Docker Hub"
In the documentation there is no clear explanation around environment variables. The good place to describe them would be Docker Hub.

In some examples you have:
[code]
It is not clear (for me) where points each set of variables.

[2018-03-09 14:12] SpaceK33z commented on #2002
I got the same error and made an example repository: [SpaceK33z/prisma-typescript-error](https://github.com/SpaceK33z/prisma-typescript-error).

A workaround for now is to disable `strictFunctionTypes` in your `tsconfig.json`.

[2018-03-09 14:14] ericaprieto commented on #1641
@marktani how exactly can we do this?

[2018-03-09 14:15] nikolasburk commented on #2044
Great point! I would like to clarify upfront though whether this is intended behaviour or if it's a bug. Or rather: What should take precedence in `schema` in `prisma.yml` is set and `schemaPath` in `graphqlconfig.yml` is set.

A reasonable rule could be that when using the Prisma CLI, `prisma.yml` should take precedence. When using the GraphQL CLI, `graphqlconfig.yml` (not sure if this should eve

[2018-03-09 14:25] johannpinson commented on #2044
In fact, the Prisma CLI use itselft `graphql-cli` so I'm not sure the good rule it to decide which file to use depending of the cli used.

For me, the actual solution to use `graphqlconfig.yml` instead of the `schema` property **is a good thing because we can add more configuration!**
And an extension (aka plugin) already exists for the `graphqlconfig.yml` works with the `prisma.yml`

First, we ca

[2018-03-09 14:25] kbrandwijk commented on #2002
This seems to have something to do with a change in `prisma-binding` or `graphql-binding` not properly propagated into the static binding generators. This should be moved to https://github.com/graphql-binding/graphql-static-binding

[2018-03-09 14:31] divyenduz commented on #1641
Max has put this up! https://github.com/maxdarque/prisma-docker

Does that help?

[2018-03-09 14:32] marktani commented on #2002
Thank you all, I reported the issue here: https://github.com/graphql-binding/graphql-static-binding/issues/69.

[2018-03-09 14:32] #2002 closed

[2018-03-09 14:33] ericaprieto commented on #1641
Thanks! I'll take a look at that... I want to host my Prisma backend on Heroku and Heroku gives me an external database

[2018-03-09 14:38] benmccallum commented on #1663
+1

[2018-03-09 14:40] #1863 closed

[2018-03-09 16:08] nikolasburk opened #2056 "Let user choose between `schema` in prisma.yml and `schemaPath` in .graphqlconfig if both are set"
# Feature Request

**What feature are you missing?**

As @johannpinson pointed out [here](https://github.com/graphcool/prisma/issues/2044#issuecomment-371826263), it would be awesome if the CLI could prompt the user to choose between `schema` from `prisma.yml` and `schemaPath` from `.graphqlconfig` in the case where both are set, instead of silently choosing the `schemaPath` from `.graphqlconfig`.

[2018-03-09 16:09] nikolasburk commented on #2044
Thanks so much for the input @johannpinson, I updated the docs and added an info box to explain the behaviour when using `graphql-config`.

I also really like the idea of the CLI prompting which of the options should be used. I created an issue for that [here](https://github.com/graphcool/prisma/issues/2056).

[2018-03-09 16:09] #2044 closed

[2018-03-09 16:11] marktani commented on #2056
Good idea, this is highly related to #1927.

[2018-03-09 16:16] #2016 closed

[2018-03-09 16:38] johannpinson commented on #2056
Hey @nikolasburk

And what about to "not give" the choice to the user to select between one of them?
Because actually, the result of using `schema` or `schemaPath` give the same `schema.graphql`file
(more or less as you can see here: https://github.com/graphcool/prisma/issues/1927#issuecomment-371566716, but it's not very important for this issue).

And because the `graphqlconfig.yml` allows more

[2018-03-09 16:55] davidyin1212 commented on #2036
would love to see this makes a lot of sense

[2018-03-09 17:21] johannpinson opened #2057 "Deleting a type is not indicated in the console output"
# Bug Report
**Current behavior**
If I create a new type and deploy, the console indicate it.
But if i delete it, it's not shown

**Reproduction**
- Add a new type and deploy
- Remove it and deploy again
- Re-add the type to a new test
- Just remove a field to see that this change is well displayed in the console

**Expected behavior?**
The console must indicate that the type is deleted, like it's

[2018-03-09 17:33] johannpinson commented on #2057
Closed in favor of the pull request

[2018-03-09 17:48] marktani commented on #2057
Thanks @johannpinson, looks great 🙂
Let's close this issue when the PR is merged.

[2018-03-09 18:12] #2048 closed, assigned to nobody

[2018-03-09 18:15] marktani commented on #2048
Hey @LawJolla, this has nothing to do with `http-link-dataloader`, but is happening in the actual Prisma/DB layer.

This is unexpected/unintended behaviour.

I described the situation in more detail here: https://github.com/graphcool/prisma/issues/1788

[2018-03-09 18:23] nikolasburk commented on #1737
Thanks for opening this issue @steida! There was in fact a bug which I just fixed, because the `AuthPayload` resolver was never included in the resolvers that was passed to the `GraphQLServer`.

To answer your question though why it's necessary. The short version is that in this example, it actually doesn't matter because the use case is so simple and there are no relations on the `User` type. How

[2018-03-09 18:23] #1737 closed

[2018-03-09 18:31] Ranatchai commented on #2026
+1 I have the same issue.

[2018-03-09 18:36] marktani commented on #1810
Thanks @hoodsy! I'm closing this due to inactivity, and because https://github.com/graphcool/prisma/issues/2026 seemingly provides a reproduction.

[2018-03-09 18:36] #1810 closed

[2018-03-09 19:19] marktani opened #2060 "Deadlock found when trying to get lock; try restarting transaction"
# Bug Report

**Current behavior**

Running nested mutations in quick succession results in an internal server error, and this cluster log:

[code]

**Reproduction**

I prepared a reproduction with an older version here: https://github.com/marktani/import-testing

**Expected behavior?**

The deadlock does not occur, or when a deadlock occurs, the transaction is being retried for a fixed number of

[2018-03-09 19:23] marktani commented on #1788
I was able to research this further and summarized the issue in #2060 more concisely.

[2018-03-09 19:23] #1788 closed

[2018-03-09 19:46] lastmjs commented on #1228
I think I've found and even better work around in this project: https://github.com/okgrow/merge-graphql-schemas

If you use their `mergeTypes` function, you should be able to merge your `datamodel.graphl` with your `prisma.graphl`. It will produce a schema string with all of your types merged, including any custom directives. For example:

[code]

[2018-03-09 23:39] LawJolla commented on #2060
I made a repo that may help in testing.

https://github.com/LawJolla/prisma-concurrency-test

[code]

concurrency is how many posts are allowed "in flight" at once.  1 = sequential.  The higher the numbers, the more fun!

https://cl.ly/2Q030r0k381r

[2018-03-10 05:16] joshhopkins opened #2061 "Graphcool implicit 'to-many' relations"
Graphcool and Prisma handle relations differently for the same SDL. For example if I have the following schema:

[code]

I can run this is graphcool playground:

[code]

And both the `managers` and `managedBy` properties will be updated, on connected nodes.

While running this against Prisma:

[code]

Only the`managedBy` property is updated for the connected nodes. Any tips on implementing similar

[2018-03-10 09:40] do4gr commented on #2061
Hey,
 I think you are experiencing the bug addressed by this PR. https://github.com/graphcool/prisma/pull/2042
We will merge this shortly and the next release should fix this.

[2018-03-10 10:56] joshhopkins commented on #2061
Right! Thought it was a bit odd. Thanks for the clarification.

[2018-03-10 13:44] speedtreammanga opened #2062 "Unexpected behaviour w/ Scalar list mutations -> set"
# Bug Report

**Current behavior**
I've noticed that when I try to `set` a `Scalar list` [here, `sugar`] during an update mutation it does not *"Override the existing list with an entirely new list."* as mentioned [here](https://www.prismagraphql.com/docs/reference/prisma-api/mutations-ol0yuoz6go#updating-nodes).

So, when I do something like so:
[code]
`sugar` [Scalar list of Strings] returns
[co

[2018-03-10 13:46] marktani commented on #2062
Hey @speedtreammanga, thanks a lot for reporting this!

Your issue seems identical to this bug: https://github.com/graphcool/prisma/issues/1803, which was fixed in `1.1.3`.

What is the version of your Prisma cluster?

[2018-03-10 13:49] speedtreammanga commented on #2062
[code]

[2018-03-10 14:07] marktani commented on #2062
Hey @speedtreammanga, you shared the CLI version with me.
You can find out the cluster version using `prisma cluster list`. But given your CLI version, it looks like you are on an older version than `1.1.3` anyway 🙂

So, upgrading your Prisma cluster should be the way to go here.
If you're using the CLI to manage the docker image, this is the way to do so:

[code]

It's recommend to `export` your

[2018-03-10 14:07] #2062 closed

[2018-03-10 14:29] speedtreammanga commented on #2062
@marktani Thanks, works like a charm!

[2018-03-10 15:18] marktani opened #2063 "Whoops. Looks like an internal server error."
Thanks to @ellipticaldoor for reporting the following issue.

---

When I do the following command

[code]
 And I pick local
![image](https://user-images.githubusercontent.com/3449006/36647227-4736eaaa-1a7a-11e8-94df-20135ce0bde5.png)

I get this error
[code]

[2018-03-10 15:19] marktani commented on #2063
Hey @ellipticaldoor, can you share your `prisma cluster logs`? 🙂

[2018-03-10 17:31] Aubron commented on #2054
Also, can't help but feel that some of them are relics of the former framework service, and not something something would need in a self deployment. I have a kubernetes deployment on GKE, but it was... painful.

[2018-03-10 19:25] ellipticaldoor commented on #2063
@marktani looks like is working now :)

[2018-03-10 19:25] ellipticaldoor commented on #1977
@marktani works fine now :)

[2018-03-10 19:25] #1977 closed

[2018-03-10 21:54] marktani commented on #2063
Great! :slightly_smiling_face:

[2018-03-10 21:54] #2063 closed

[2018-03-10 21:55] marktani commented on #1977
Woop woop!

[2018-03-11 04:13] gihrig commented on #1767
@idkjs Were you able to successfully import data following either of the workarounds mentioned by @marktani ?

[2018-03-11 11:46] delta98 opened #2064 "Provided query doesn't include model name - newly deployed service"
# Bug Report

**Current behaviour **

Deploying a new service with a subscription definition results in

[code]

**Reproduction**

[code]

Removing the subscription and deploying the service, then introducing the subscription into the schema works.

**Expected behaviour?**

[2018-03-11 12:11] idkjs commented on #1767
@gihrig changing required field to optional field works. I dont remember what happened with the second suggested solution.

[2018-03-11 16:29] FredyC opened #2066 "Accessing deployed database without token is confusing"
# Feature Request

**What feature are you missing?**

When following Quick start guide I've deliberately chosen template "typescript + auth" instead of recommended "basic" as I knew I am going to need both of those. Unfortunately, the guide did not account for that so after everything is started and I've navigated to `http://docker:4466/prisma/dev` _(I love there is the playground right away)_ the

[2018-03-11 16:38] akoenig commented on #1922
I just validated if the error persists in the current `1.4-beta` image. When registering the following subscription

[code]

I get a `The provided query doesn't include any known model name.` error, when performing a `prisma deploy`. The subscription works in Playground though. Strange :/

[2018-03-11 18:14] sorenbs commented on #1922
Thanks @akoenig

@do4gr will take a look at this again tomorrow.

[2018-03-11 18:19] marktani commented on #1922
This looks like this one: #1649.
Did you try to first deploy the data model, and then the subscription, @akoenig?

[2018-03-11 22:37] jhalvorson opened #2069 "Create multiple nodes in a single mutation"
# Feature Request

Feature request created due to conversation on the forum: https://www.graph.cool/forum/t/deeply-nested-create-mutations/2798

**What feature are you missing?**
Create multiple nodes in a single mutation that aren't directly related.

There is more information in the forum link but here's a quick overview.

If a user has the following schema:

[code]

They should be able to run:

[2018-03-12 00:48] KATT commented on #2000
Went with Travis instead. Was hassle-free. Implementation here: https://github.com/KATT/shop/pull/3

[2018-03-12 02:49] oxy88 commented on #1858
@marktani
Thank you for reply.
I sure there is not enum type filter in generated schema.
https://github.com/oxy88/enumtype
prisma 1.3.5

[2018-03-12 05:10] LawJolla commented on #2010
I just wanted to toss my vote behind this issue because it makes updating databases difficult to manage, especially when types change.  For instance, I just changed a tag name type and needed to recreate tags for 200 entries, but it looks like I'll need to make a script to do it one at a time.

[2018-03-12 08:44] timsuchanek opened #2070 "11 - [Frontend]"

[2018-03-12 08:46] timsuchanek commented on #1929
Fixed in latest version

[2018-03-12 08:46] #1929 closed

[2018-03-12 10:43] canercandan opened #2071 "Incorrect parent/child self-relation behavior"
# Bug Report

Let's consider a type that contains two relations that allows for one to be related to the other and the otherwise around is true as well.

[code]

I am creating those two `Item` with those mutations:

[code]

[code]

**Current behavior**

[code]

**Expected behavior?**

[code]

Anyone else can confirm this issue?

[2018-03-12 11:06] johannpinson commented on #2047
Hi @marktani

I made some test locally, and I see the problem here:

https://github.com/graphcool/prisma/blob/47e811530cedfe4b8ea2fd7821e788a3d3aab2db/cli/packages/prisma-cli-core/src/commands/deploy/printSchema.ts#L29-L45

I print in the console the `sdl` and `newSdl` to see the difference and after the reorder, it seems to be here the change which delete the `\n` after the `node`.

I will open a

[2018-03-12 12:56] marktani commented on #1858
Thanks @oxy88, I can confirm that enum lists don't yet have a filter.
Earlier I misread the City enum as a type in your schema, sorry about that!

[2018-03-12 12:57] marktani commented on #1275
Filters for enum lists should also be considered: #1858.

[2018-03-12 13:28] sorenbs commented on #1433
@timsuchanek and @do4gr please coordinate so we can ship https://github.com/graphcool/prisma/pull/2021 :-)

[2018-03-12 14:19] johannpinson commented on #1965
Hey @LawJolla

When the import failed with a .zip, the property `dealership` is about a required relation?
Because I got the same reported here: https://github.com/graphcool/prisma/issues/1767

[2018-03-12 15:31] LawJolla commented on #1965
@johannpinson ,

Yes.  For me, when it was imported from an unzipped folder, it worked fine

[2018-03-12 15:37] k00k commented on #2060
👍 This is currently a pretty big blocker for us as we're trying to do some "batch" mutations for a big data migration.

[2018-03-12 15:47] johannpinson commented on #1965
Same for me, I think you can close this issue as a duplicate of #1767 😉

[2018-03-12 16:09] donedgardo commented on #2024
https://github.com/graphcool/prisma/blob/c77e582b5fd6edc62d18bb03d060f5f2d3d2172a/server/servers/api/src/main/resources/application.conf#L18 @do4gr

[2018-03-12 16:32] k00k commented on #2060
Our workaround has been to console.log out all of the mutation strings and then paste them as one multi-mutation mutation in the playground like:

[code]

[2018-03-12 18:32] souleman13 opened #2074 "Connect in nested update mutation not working"
Hello, I am trying to run the following mutation in my playground

`mutation{
  addProductToCart(
    user_id:"cjenmlpp3cwbf0197j5rtho8c"
    product_id:"cjeof1ohssntl0197gc7uvw12"
  ){
    cart{
      id
      products{
        id
        name
      }}}}`
This runs the upsert and provides me with cart id cjenon9fvf1bx0197erew9pw6 but does not seem to connect the product to the products array whic

[2018-03-13 03:15] duytai commented on #1643
@sorenbs in my opinion, we should consider a `model` without `embedded` type to remove the complexity of mongodb connector. As far as I know:
1. Current generated Prisma api does not support `embedded` type
2. We just implement connector to support current Prisma API

[2018-03-13 07:27] lastmjs commented on #1768
Hopefully directive permissions will be considered here.

https://blog.graph.cool/graphql-directive-permissions-authorization-made-easy-54c076b5368e

https://medium.com/@lastmjs/advanced-graphql-directive-permissions-with-prisma-fdee6f846044

[2018-03-13 08:03] Kisepro commented on #1565
@bamne123 My example is working when I'm using from the right continent otherwise there is a bug that we can face with graphcool export also

[2018-03-13 08:09] raeesaa opened #2075 "Performance issue with nested queries"
# Bug Report

**Current behavior**

I am facing some performance issues with prisma queries when trying to get data 4 level deep. Logs for Prisma container shows that it takes anywhere between 5-25 seconds (depending upon traffic) to respond and all my other requests are blocked till that query is resolved.

Container Logs:

[code]

Also, prisma container throws following error when I run load tes

[2018-03-13 08:38] akoenig commented on #2075
@raeesaa Could you share the data model and the respective query?

[2018-03-13 08:39] #1841 closed

[2018-03-13 08:39] #2071 closed

[2018-03-13 09:20] raeesaa commented on #2075
Hi @akoenig It would be difficult for me to share data model as it is confidential. But I'll try and create a sample prisma app and reproduce issue.

Meanwhile, can you think of any options we can pass to prisma container which would help in improving performance? I did not find anything relevant in the document.

[2018-03-13 09:40] johannpinson commented on #2057
Hey @marktani

The bug also touch relation after deleting a model.
![capture d ecran 2018-03-13 a 10 39 27](https://user-images.githubusercontent.com/2202989/37333957-ef97e956-26aa-11e8-93d3-eb1c15cc80c4.png)

I will look soon to update the pull request 😉

[2018-03-13 09:56] johannpinson commented on #2057
@marktani

I try to update the fragment here:
https://github.com/graphcool/prisma/blob/2f2a943cd2eba668af97f9472490d65f9f33ceec/cli/packages/prisma-cli-engine/src/Client/Client.ts#L81-L83
By adding `leftModel` and `rightModel` as in `CreateRelation`.

But it seems the server can't accept it:
https://github.com/graphcool/prisma/blob/c77e582b5fd6edc62d18bb03d060f5f2d3d2172a/server/servers/deploy/src

[2018-03-13 10:13] akoenig commented on #2075
@raeesaa One option would be to pass the `debug: true` flag, when you instantiate the Prisma binding. This would be a first step to reveal the requests which hit the Prisma server. You can't see the actual queries though, but it is a first step in gaining some insights.

[2018-03-13 10:16] #1433 closed

[2018-03-13 10:18] akoenig opened #2076 "`prisma delete` on non-existing service throws wrong exception"
# Bug Report

**Current behavior**

When performing a `prisma delete -f` while you haven't deployed before, the Prisma server responds with the wrong exception:

[code]

**Reproduction**

Try to perform a `prisma delete -f` on a non-existing service.

**Expected behavior?**

The server should respond with: `Can't delete a non-existing service` or shouldn't throw an exception at all. I'm in favor o

[2018-03-13 11:00] schickling commented on #585
This is still highly relevant for Prisma. Reopening.

[2018-03-13 11:12] johannpinson commented on #2076
Hey @akoenig

I'm sure that doesn't show an message is the better solution because trying to delete an service which isn't found is an "error" from the user.

I think it can use the `InvalidProjectId` error model.
I will make a pull request quickly to update it 🙂

[2018-03-13 11:24] sorenbs commented on #1643
@duytai i agree.

The term embedded type is used here only to describe a certain way to lay out your data. Prismas SQL connector has no understanding of that term and neither will the Mongo connector. The final api will be almost identical apart from less powerful filters.

[2018-03-13 11:25] raeesaa commented on #2075
@akoenig I have tried to replicate existing data model in sample application: [](https://github.com/raeesaa/resolver-forwarding.). I ran load tests on query and following are the results:

1. Total 1000 requests at the rate of 50 requests per second

[code]

2. Total 5000 requests at the rate of 50 requests per second

[code]

Module using for running load test: [https://github.com/alexfernandez/l

[2018-03-13 11:26] raeesaa commented on #2075
The average latency are too large considering the fact that there is no data in database in case of above examples.

[2018-03-13 12:47] do4gr commented on #2071
Thanks for reporting this and the detailed description @canercandan

The issue is now fixed on the unstable channel und should be released to the stable channel later today.

<img width="1264" alt="bildschirmfoto 2018-03-13 um 13 45 34" src="https://user-images.githubusercontent.com/16278407/37342487-ff38143e-26c4-11e8-997b-db7a3507a505.png">

[2018-03-13 12:52] do4gr commented on #2074
Hey @souleman13 thanks for reporting this.
The problem in this case is that the connect is nested within an Upsert. Upsert at the moment does not execute nested mutations. So you can change/create scalar values in the update and create branches of an Upsert, but not relations. I'll update the docs to reflect this since you are not the first one to run into this.

[2018-03-13 13:05] canercandan commented on #2071
@do4gr amazing :raised_hands: thanks

[2018-03-13 13:14] piscis opened #2082 "SQL_INTERNAL_DATABASE not used to bootstrap new prisma server"
# Bug Report

**Current behavior**
When I deploy primsa (v1.3.5) via docker-compose and set the environment SQL_INTERNAL_DATABASE to something else then graphcool this will not be picked up by the prisma bootstrapping process for a new not.

[code]
**Reproduction**

1. Deploy a new cluster via docker-compose.yml (fresh mysql instance + prisma)
2. Set the SQL_INTERNAL_DATABASE to something else tha

[2018-03-13 13:18] piscis commented on #2082
I think others had this problem as well https://github.com/graphcool/prisma/issues/1972#issuecomment-368317976

[2018-03-13 13:21] johannpinson commented on #1995
Effectively, some tools like [comittizen](https://github.com/commitizen/cz-cli) or [standard-version](https://github.com/conventional-changelog/standard-version) can facilite the task, as Lerna for the npm part.

But one important part will be to separate the release of the "Server" and the "CLI" because they don't be necessary linked.
It may be more difficult to adjust the good version of the CLI

[2018-03-13 13:46] piscis commented on #2082
Could this be the problem?

https://github.com/graphcool/prisma/blob/c77e582b5fd6edc62d18bb03d060f5f2d3d2172a/server/connectors/deploy-connector-mysql/src/main/scala/com/prisma/deploy/connector/mysql/database/InternalDatabaseSchema.scala#L15-L18

[2018-03-13 15:15] johannpinson commented on #1772
Same thing, but the model seems to be created well.
Just the generation of the schema looks fail (I check my RDS and the table "News" is created well)

![capture d ecran 2018-03-13 a 16 13 50](https://user-images.githubusercontent.com/2202989/37350662-a6cc98aa-26d9-11e8-8ebc-02fb915fdd0d.png)

[2018-03-13 15:42] zixia commented on #714
Is `gc local reset` not supported yet?

[code]

[2018-03-13 16:01] juanpprieto commented on #1359
thanks @heymartinadams !
Found this same problem on shared cluster deployments. (Local was ok).
Solved it by adding a debug flag to all my console.logs.

[2018-03-13 16:09] horsejockey commented on #2024
@donedgardo were you able to find any kind of workaround for this?

[2018-03-13 16:15] sirsavary commented on #2023
Would be really great if we could deploy to Fargate instead of one of the current options. The rest of our stack runs on AWS and it will be sorta weird to have Prisma deployed elsewhere.

[2018-03-13 16:16] Fi1osof opened #2083 "Extends Type"
# Feature Request

**What feature are you missing?**
Extend generated types in server/src/schema.graphql

**How could this feature look like in detail? Tradeoffs?**
Example in apollo: https://www.apollographql.com/docs/graphql-tools/generate-schema.html#extend-types
[code]

[2018-03-13 16:21] donedgardo commented on #2024
I haven’t. Dont know how to build  scala with different configurations

On Tue, Mar 13, 2018 at 12:09 PM Matthew McArthur <notifications@github.com>
wrote:

[2018-03-13 16:45] develomark commented on #1228
@lastmjs nice work. I am going to check this out!

[2018-03-13 16:55] grimunit commented on #1359
@juanpprieto do you mind posting an example of what setting the debug flag on the console.logs looks like. Or do you have a link to the NodeJS documentation that shows how to use it? I was unable to find the concept in the Node docs 😅

[2018-03-13 16:56] souleman13 commented on #2074
Thanks for your timely  response! I will update my code to account for this! @do4gr

[2018-03-13 16:57] timsuchanek opened #2084 "Add auth migration step to cli"

[2018-03-13 16:59] juanpprieto commented on #1359
Sure @grimunit
// 1. Define a debbuging flag
`const debug = false;`

// 2. Do a Find/Replace for  "console.log" > "if (debug) console.log"
i.e: if (debug) console.log('obj', obj);

[2018-03-13 17:11] johannpinson commented on #1772
Related to #48

[2018-03-13 17:23] sorenbs commented on #2075
Thanks for chiming in @akoenig!

Hi @raeesaa

There is definitely something wrong with your configuration. I just did a quick test based on your schema agains an EC2 t2.small instance:

[code]

The majority of the latency is the roundtrip Berlin-Dublin.

The same test against a local prisma running in docker:

[code]

Let's see if we can find the issue :-)

- Are you running Prisma locally in dock

[2018-03-13 17:28] siddharthlatest commented on #1665
Love that you are thinking about the Elasticsearch adaptor.

I am not sure how this would map to the full Elasticsearch Query DSL? Even if you narrowly consider `match`, `term` and `bool` as three clauses to support - there are numerous parameters each of them can support. Can you share how an example spec might look like?

Also, if the idea isn't to fully support the DSL (imo really hard to do),

[2018-03-13 17:32] sorenbs commented on #1665
@siddharthlatest With all connectors we aim to support 90+ % of the underlying functionality. The reason we don't aim for 100% is that adding the last bit of functionality would add significant clutter to the API degrading the developer experience. We will support arbitrary queries defined as a string in the data model as fallback. While this is more tedious, it enables the full power of Elastic w

[2018-03-13 17:36] raeesaa commented on #2075
@sorenbs Thank you for the reply. Here are answers to your questions:

- I am running Prisma locally in docker container.
- I am using Macbook Pro with 16GB of RAM.
- Memory allocated to docker is 2 GB.
- I am not using Prisma cloud.
- I am currently using default database docker container created by prisma local. I will try to connect to non-docker instance of MySQL and see if there are any chang

[2018-03-13 17:46] marktani commented on #1772
Yup, the issue here is that the plural form of `News` will be `News` - so both queries for many news - `news: [News!]!` - and single news - `news: News` are called `news`, leading to the name clash.

[2018-03-13 17:52] marktani commented on #1841
This is now fixed and available in `1.4.0` 🙂Thanks a lot for your help!

[2018-03-13 17:53] marktani commented on #2071
This is now available in `1.4.0` 🙂

[2018-03-13 17:54] marktani commented on #1433
This is now fixed and available in `1.4.0` 🙂The CLI will be updated to actually print the update soon (check #2084).

[2018-03-13 17:54] marktani commented on #1922
This is now fixed and available in `1.4.0` 🙂 Thanks a lot for your help with this, everyone 👌

[2018-03-13 17:54] #1922 closed

[2018-03-13 17:55] marktani commented on #1966
This is now fixed and available in `1.4.0` 🙂Thanks a lot for your feedback, @mvaivre 💚

[2018-03-13 17:55] marktani commented on #1981
This is now fixed and available in `1.4.0` 🙂

[2018-03-13 17:55] marktani commented on #1817
This is now fixed and available in `1.4.0` 🙂

[2018-03-13 17:56] marktani commented on #2046
This is now fixed and available in `1.4.0` 🙂Thanks for bringing this up, @tbrannam and thanks for the fix @johannpinson 🙌

[2018-03-13 17:56] #2046 closed

[2018-03-13 17:56] marktani commented on #1947
This change has been rolled out in `1.4.0` 🙂

[2018-03-13 17:56] #1947 closed

[2018-03-13 18:02] raeesaa commented on #2075
@sorenbs I just realised that you ran test against dev endpoint. My results on the other hand are for application endpoint. I have custom resolver for query in actual application since we need to perform some manipulation on data.

For dev endpoint, even I am getting good results:

[code]

[2018-03-13 18:15] lastmjs commented on #1228
@develomark See this write-up for more information: https://medium.com/@lastmjs/advanced-graphql-directive-permissions-with-prisma-fdee6f846044

[2018-03-13 18:39] attilah commented on #1772
using ```all``` prefix for the collection, or an ```Item``` (NewsItem) suffix for the single ones is a good way, whatever fix you decide I think this option should be handed to the developer and make it a configurable option.

As a personal preference I like the ```News``` and ```NewsItem``` more.

[2018-03-13 18:47] siddharthlatest commented on #1665
@sorenbs Looking forward to the expanded spec. In the meanwhile, is there any example spec (may be for a different DB) that can give an idea on how this might work?

[2018-03-13 19:01] horsejockey commented on #2024
@donedgardo I wrote this python script that uses the api to do the migration.  Takes a long time cause the python requests library was giving me trouble when I sent to much data so I had to sub-batch it during import.
https://gist.github.com/horsejockey/54748992ac98ae92d0a6f05480750e0c

[2018-03-13 19:18] johhansantana opened #2085 "`deleteMany` where: <relation> = null results in deletion of all the nodes"
# Bug Report

**Current behavior**
When running this code
[code]
It will delete every node, in this case, `trips`.

While using the same query like this:
[code]
Will return the `trips` that have `ticket` as `null`

**Reproduction**

**Expected behavior?**
It should only delete the nodes where `ticket` = `null`

[2018-03-13 21:48] horsejockey commented on #2060
Seeing this same issue.  My mutations is like this:
[code]
Causes `(conn=367) Deadlock found when trying to get lock; try restarting transaction`

[2018-03-13 21:55] cameronk opened #2086 "`prisma cluster logs` doesn't work for local clustesr"
# Bug Report

**Current behavior**
`prisma cluster logs` does not display logs for local clusters.

**Reproduction**
1. Use `prisma@1.3.5` or below
2. Create a local cluster
3. Run `prisma cluster logs`

Output:
[code]

I have a local cluster set up, and the proper configuration to connect to it stored in a `.env` file in the same directory.

*note*: I am using windows 10, node 8.9.3, prisma 1.3.5

[2018-03-13 22:01] cameronk commented on #2023
@sirsavary Agreed, I'm in the same boat. I have the `graphql-yoga` server working on Fargate, but haven't been able to get `prisma` working yet. Forced to host it elsewhere in the meantime. Lack of scalability is worrisome.

[2018-03-13 22:12] cameronk commented on #2060
Seeing this as well when running several nested mutations in succession. I wrote a batching script that executed 3 nested create mutations every 500ms, but this breaks down (with the above error) after 5-7 requests.

[2018-03-14 00:42] marktani commented on #2086
How does your `prisma.yml` look like? Especially the cluster property.

[2018-03-14 06:22] raeesaa commented on #2075
@sorenbs / @marktani Looks like communication between prisma application and prisma service is causing latency. How does communication between two happen?

Following are the results of my actual application query when I hit application server:

[code]

And following are the results for same query when I directly hit prisma service:

[code]

[2018-03-14 06:27] AlexanderChen1989 commented on #1966
[code]
with prism 1.4.0, I still cant create User "C"
![image](https://user-images.githubusercontent.com/2957936/37386528-c33b9850-2793-11e8-9d95-a2610989bc73.png)

[2018-03-14 06:40] akoenig commented on #585
@schickling Definitely! Would be great to push Prisma in the "Change Data Capture" space as well. I could imagine a [Debezium](http://debezium.io/)-like scenario. Prisms ships with Server-side subscriptions which already handles the first part of the problem: the possibility of pushing change events to a message broker. Imagine a scenario where you want to replicate all change events. In this case

[2018-03-14 09:11] marktani commented on #1966
Hey Alexander, as far as I understand your situation, you need to use two fields, `parent: User @relation(name: "Users")` and `children: [User!]! @relation(name: "Users)`.

If that still doesn't work, please start a discussion about your problem in a new issue 🙂

[2018-03-14 09:41] AlexanderChen1989 commented on #1966
still  not work
I changed model to
[code]

[2018-03-14 09:52] AlexanderChen1989 opened #2089 "self-relations nested mutation not work when deep nested with prisma 1.4"
my model
[code]
mutation
[code]
returns
[code]
when query all users
[code]
returns
[code]

[2018-03-14 10:01] marktani commented on #1966
Thanks, please start a discussion about your problem in a new issue 🙂

[2018-03-14 10:11] marktani commented on #2075
Hey @raeesaa 🙂

That entirely depends on your setup 🙂Can you share more about it?
For example, where is your GraphQL Server located, and where is your Prisma cluster located?

[2018-03-14 10:28] raeesaa commented on #2075
@marktani Both GraphQL server and prisma cluster are located on local machine.

[2018-03-14 13:20] akoenig commented on #2075
@raeesaa Correct me if I'm wrong, but the communication happens via `prisma-binding` which uses [http-link-dataloader](https://github.com/graphcool/http-link-dataloader) under the hood. So basically it is a HTTP communication between your application and the Prisma server (where your Prisma service runs).

[2018-03-14 14:07] raeesaa commented on #2075
@akoenig Thank you for the details.

On local, we run application natively and we have deployed dockerized application on EC2 instance. We are facing lag in both the cases.

[2018-03-14 16:09] souleman13 opened #2090 "Looks Like an Internal Server Error on prisma deploy"
`$ prisma deploy
Creating stage dev for service lego-store-prisma !

ERROR: Whoops. Looks like an internal server error. Search your cluster logs for request ID: cluster:cluster:cjer9o051akx20905960z6yok

{
  "data": {
    "addProject": null
  },
  "errors": [
    {
      "message": "Whoops. Looks like an internal server error. Search your cluster logs for request ID: cluster:cluster:cjer9o051akx2

[2018-03-14 16:10] marktani commented on #2090
Hey @souleman13, what cluster are you deploying to?

[2018-03-14 16:14] souleman13 commented on #2090
https://us1.prisma.sh/public-quillscorpion-38/lego-store-prisma/dev

[2018-03-14 16:16] marktani commented on #2090
Ok, the US development cluster is currently under maintenance. Please track the progress here: https://status.prismagraphql.com/

You can reach out to support@graph.cool if you have any further questions 🙂
Thanks 🙌

[2018-03-14 16:16] #2090 closed

[2018-03-14 16:17] souleman13 commented on #2090
Oh okay Thanks!

[2018-03-15 01:34] LFP6 commented on #1300
I'd just like to mention that I'm really hurting for a compound primary key at the moment to provide an upsert on these fields

[2018-03-15 02:34] danielswallace opened #2091 "Deleting Relations"
# Bug Report

**Current behavior**
After updating to v1.4 delete mutations on related fields no long works. Before you would supply a where clause.

{ file: { id: "id" } }

Now according to the generated schema you should:

{ file: { delete: true }

`input FileUpdateOneWithoutBrandInput {
  create: FileCreateWithoutBrandInput
  connect: FileWhereUniqueInput
  disconnect: Boolean
  delete: Boolean

[2018-03-15 04:09] jainvinit commented on #1411
we are hitting the same issue. how to fix this?

[2018-03-15 10:18] do4gr commented on #2091
Hey @danielswallace thanks for reporting this.
I tried reproducing the issue but could not do so. Could you try with a freshly set up project? And Which version did you update from?

This is me trying out your schema and delete works as expected.
<img width="1082" alt="bildschirmfoto 2018-03-15 um 11 14 56" src="https://user-images.githubusercontent.com/16278407/37457477-68e8788c-2842-11e8-93cd-e1

[2018-03-15 10:27] divyenduz commented on #1896
I can confirm that this (https://github.com/apollographql/graphql-tools/issues/519) is the same issue in `graphql-tools` as the field `favoriteRepos` is a required one.

Also, the solution suggested here (https://github.com/apollographql/graphql-tools/pull/591), to use `makeRemoteExecutableSchema` is also broken as I am able to replicate (https://github.com/divyenduz/bind-gql-tools/blob/1896/READM

[2018-03-15 10:34] do4gr commented on #2089
Hey @AlexanderChen1989, thanks for reporting this. I can reproduce it and will look into it.

[2018-03-15 10:35] marktani commented on #2091
This feels like your local version of the generated schema has not been updated, @danielswallace.

Can you reproduce this when using the Playground directly, or only when using `prisma-binding`?

[2018-03-15 10:36] marktani commented on #1411
Please reach out to support@graph.cool :slightly_smiling_face:

[2018-03-15 13:03] jainvinit commented on #1411
i did but no response :(

[2018-03-15 13:04] sorenbs commented on #2075
Thank you for the details @raeesaa!

Would you be able to provide a minimal version of your application that exhibits this behaviour? It should include a package.json file with the exact version of all dependencies. If we can replicate this locally I'm confident we can find the performance bottleneck.

What version of Node are you running?

[2018-03-15 14:01] danielswallace commented on #2091
Mismatched cluster versions.. (Facepalm)

[2018-03-15 14:01] #2091 closed

[2018-03-15 16:27] georgelovegrove opened #2094 "Prisma endpoint for subscriptions breaking on refresh or stop/start on graphql playground"
When using graphql playground on a prisma endpoint the subscription will only work on first usage. On refreshing the page or stop/starting the subscription it will break.

When using a front facing server that consumes the same endpoint you can stop/start and refresh graphql playground subscriptions and this works fine.

Original forum post:
https://www.graph.cool/forum/t/prisma-endpoint-subscript

[2018-03-15 16:27] johhansantana commented on #2024
Tried the fix in unstable channel `beta` locally
v1.5.0-beta.1

Got the following error:
[code]

@do4gr

[2018-03-15 17:36] do4gr commented on #2024
Hey, @johhansantana,

thanks for quickly testing it!

I am still working on this issue even though the PR closed it. Enabling the import of larger file sizes exposed some performance problems that I am cleaning up at the moment. Your error is a symptom of this. I'll post again once I feel the issue is solved.

[2018-03-15 21:44] wes-cutting opened #2098 "Internal Server Error as if Maintenance is happening"
Similar to the issues faced yesterday morning my Prisma remote instance is responding with an internal server error. Without changing anything it was working one moment then proceeded to crash across multiple machines in the next moment.

endpoint:
https://us1.prisma.sh/public-viridianhealer-317/simple-store/dev

request id:
api:api:cjet1hmmj4o2p0a15lkp89704

**Please post usage questions or broad

[2018-03-15 22:09] #2098 closed

[2018-03-16 02:47] christophertrudel opened #2099 "Digital Ocean (Docker Machine) docs misleading."
# Bug Report

**Current behavior**
[code]

**Reproduction**
https://github.com/graphcool/prisma/blob/master/docs/1.4/03-Tutorials/04-Cluster-Deployment/01-Digital-Ocean-(Docker-Machine).md
The current docs have `SCHEMA_MANAGER_SECRET` and `SCHEMA_MANAGER_ENDPOINT` in the `.env` however the `docker-compose.yml` doesn't make use of it. After I stuck them in I had success.

**Expected behavior?**
I b

[2018-03-16 06:14] joshhopkins commented on #2061
#2042 has fix it. Thanks @do4gr 👍

[2018-03-16 09:12] #2061 closed

[2018-03-16 09:50] zixia commented on #1285
@nikolasburk It looks very complicated and not clear...

I had been studying/using the graphcool framework for weeks and still can not figure the meaning out at the first glance.

[code]

[2018-03-16 10:59] marktani commented on #2099
Thanks a lot for reporting this, @christophertrudel! What do you mean with stucking them in? 🙂

[2018-03-16 16:12] christophertrudel commented on #2099
Sorry for not explaining that in more detail.
[01-Digital-Ocean-(Docker-Machine).md](https://github.com/graphcool/prisma/blob/master/docs/1.4/03-Tutorials/04-Cluster-Deployment/01-Digital-Ocean-(Docker-Machine).md) setup caused me issue with this error
[code]
`Could not resolve substitution to a value: ${SCHEMA_MANAGER_SECRET}` lead me to search for it's uses in the codebase. I discovered that `SC

[2018-03-16 16:12] mfts opened #2101 "Improve upsertNode function by allowing arithmetic modifications in the update part"
# Feature Request

**What feature are you missing?**

I would love a feature similar to what Graph.cool used to have with `addTo` function. Basically, when I run the function `upsertNode` and the node already exists, I don't want the update function to overwrite my node variables but have the option to add, subtract, multiply, or divide in case of floats and ints.

Why do I want this? Well if I al

[2018-03-16 16:32] develomark opened #2102 "Improve Upsert for to-one nested relations - drop 'create' and 'update'"
# Feature Request

**What feature are you missing?**

Prior to 1.4 release nested upserts required a `where` variable - the documentation still reflects this: https://www.prismagraphql.com/docs/reference/prisma-api/mutations-ol0yuoz6go#updating-nodes

[code]

Now with the v 1.4.1 release, the API looks like:

[code]

**How could this feature look like in detail? Tradeoffs?**

Without the previousl

[2018-03-17 02:11] giapnhtadi commented on #2024
@do4gr  This issue was fixed or not? I got same issue, so please don't close the task when it is not fixed yet.

[2018-03-17 07:02] nickluger opened #2103 "Delete cascade on deleteMany not supposed to work?"
https://github.com/graphcool/prisma/pull/2028 introduced relation checks. It seems it always gives us:

[code]

even if

[code]

Shouldn't it delete casace even on `deleteMany`?

[2018-03-17 08:50] FredyC commented on #1536
Yes, I just used `prisma reset` expecting it will seed data from `seed.graphql` only to find out it didn't. I think it doesn't make much sense to have seed file there as a part of initial boilerplate while its modification doesn't matter as it cannot be used anymore.

[2018-03-17 09:29] FredyC opened #2104 "Renaming service contributes to initial confusion"
# Feature Request

**What feature are you missing?**

After bootstrapping with `prisma init` and some initial fiddling, I have renamed service in `prisma.yml` file, did some changes to database schema and deployed. When I wanted to use changes from within the server app, it was giving errors that do not really make sense. Only later I have discovered that there is a wrong `PRISMA_ENDPOINT` using o

[2018-03-17 10:15] raeesaa commented on #2075
@sorenbs The version of node.js we are using is 8.9.

I have tried to replicate our application datamodel along with seed data in this repo: [https://github.com/raeesaa/prisma-test-app](https://github.com/raeesaa/prisma-test-app).

Query that results in performance issue is: https://gist.github.com/raeesaa/6ef958e620020db2157b2a4889cedf99

If we remove `comments` field from every level, [query](ht

[2018-03-17 14:30] marktani opened #2105 "Example showing how to sync data to Algolia"
That can either happen using subscription functions, or logic directly in the resolver code.

[2018-03-17 16:32] marktani commented on #2024
Hey @giapnhtadi,

this fix is available already on [the unstable channel](https://github.com/graphcool/prisma/wiki/Release-Channels#running-the-unstable-channel).

It will be rolled out to the development clusters with the next point release, and will then also be available on private clusters.

If you're running this locally, can you confirm that you run against a cluster with a version that cont

[2018-03-17 18:21] gihrig commented on #1536
@FredyC

What's so hard about

It works fine for me.

[2018-03-17 19:15] schickling commented on #2101
This should be covered by #1349 (Atomic operations). @sorenbs can you confirm this will also work for upsert mutations?

[2018-03-17 19:19] sorenbs commented on #2101
That's correct. The update part of upsert mutations have the same capabilities as normal update mutations, so when this feature lands it will also work for upserts.

[2018-03-17 19:19] #2101 closed

[2018-03-17 19:26] mfts commented on #1349
I look forward to using this as it reduces a lot of complexity when working with `upsert` functions where I need to add/subtract time balances to an item in the update part.

[2018-03-17 19:44] FredyC commented on #1536
@gihrig It's not about hard, but about some sort of comfort and I bet it's even faster to just reset data then destroy and recreate the whole service. For automated tests having extra seconds does matter, especially if you need to reset several times to ensure a clean slate.

[2018-03-17 22:05] marktani commented on #2103
That's a known limitation, which is documented here: #1936. Therefore im closing this issue.

Please leave an upvote and subscribe for the mentioned feature request :raised_hands:

[2018-03-17 22:05] #2103 closed

[2018-03-17 22:18] FredyC commented on #1800
I've noticed this warning popping. I don't have cluster security setup enabled or I do know that I would enable it. However, after adding `clusterSecret` and then running `prisma deploy`, I am getting error.

This is my `config.yml`

[code]

After running `prisma local start` the `clusterSecret` is gone again and warning is back :)

[2018-03-18 08:19] nadilas commented on #1642
+1

[2018-03-18 12:03] divyenduz commented on #1896
Update + questions!

1. `defaultMergeResolver` is not exposed by `graphql-tools`, we might have to write our own resolver function that is [alias aware](https://gist.github.com/divyenduz/39b2e4288eff1f3cb0abf7adb3b6345d).

2. There are two ways we can go about this (IMO)

    1. Either override the default resolver in `graphql-js` with an alias aware resolver - better, can support multiple aliases

[2018-03-18 12:09] oguzgelal commented on #2060
I've been reproducing this issue with update / create mutations, but not with `upsert`. Any updates ?

[2018-03-18 16:33] marktani opened #2107 "Explain stable and unstable release channels in docs"
Prisma releases are separated into two channels - the stable and unstable channel.

The unstable channel is released with every commit to master and therefore gives access to features and bug fixes before the stable release.

We close issues when the fix or feature is available on the unstable channel.

The release channels and related dynamics should be explained in the Prisma documentation.

Exi

[2018-03-18 19:47] oliverjam commented on #1894
I'm getting the same thing trying to make a minor change to my schema. I went from

[code]
to
[code]

`prisma deploy` output is:

[code]

It hangs there indefinitely until I cancel the process.

[2018-03-18 23:25] jurby commented on #1642
+1

[2018-03-18 23:59] mwonng opened #2108 "Error on creating a node with nested connect"
Hi there,

Does anyone meet this problem or am i make a wrong usage for mutation?

I was trying to **create** some orderItem and **connect** orderItem to a product **in creating** a order.

Here is my mutation:

[code]

without 45 lines below commet, it works well. but if i want to add connection to a product, it shows error.

error on terminal:

[code]

and logs on Local docker:

[code]

[2018-03-19 04:22] artemzakharov opened #2109 "Server Side Subscription Not Working"
# Bug Report

**Current behavior**
A server side subscription never hits my webhook. I don't know if the subscription isn't working or if it doesn't like something about the URL, but I can tell it doesn't call the endpoint by the cloud function logs.

**Reproduction**
1. Create a project using the 'node-advanced' template
2. Add the subscription example given in the docs to `prisma.yml`, with your

[2018-03-19 07:48] raeesaa commented on #2060
@marktani Any updates on this?

[2018-03-19 08:28] boverdrive commented on #1642
I waiting for this

[2018-03-19 09:38] timsuchanek opened #2110 "12 - [Frontend]"

[2018-03-19 09:48] marktani commented on #2109
Hey @artemzakharov, thanks a lot for this detailed bug report. I suspect the behaviour you're observing is related to #1734, can you try if this subscription query works as expected:

[code]

You can then filter the subscription logic based on the information in `mutation`.

[2018-03-19 09:50] timsuchanek opened #2111 "13 - Incoming"
**Please post usage questions or broader discussions in the [Forum](https://www.graph.cool/forum/)**.

---

For **feature requests**, please fill out the [feature request template](https://github.com/graphcool/prisma/issues/new?template=feature_request.md)

---

For **bug reports**, please fill out the [bug report issue template](https://github.com/graphcool/prisma/issues/new?template=bug.md)

[2018-03-19 09:52] marktani commented on #2108
Hey @mwonng, it seems that your datamodel is not consistent with your database schema.

From the error message, creating a new `_ProductOnItem` table should already do the trick.

Note that you can also run `prisma local nuke` to wipe your internal database and all local data.
This provides a quick way of getting back in a consistent state when in development. We will add better tools to handle su

[2018-03-19 09:54] FredyC opened #2112 "Deployment to AWS (possible guide)"
So I went on this journey mainly to minimize costs as AWS is free for 1 year. I have mostly succeeded and I want to share what I did.

---

The absolutely best place to start is this article: https://www.prismagraphql.com/docs/tutorials/cluster-deployment/digital-ocean-(docker-machine)-texoo9aemu. It pretty much works for AWS too. Installing Docker and creating AWS account is probably not worth me

[2018-03-19 11:55] OniVe opened #2113 "Prisma Console shows an error notification"
# Bug Report

**Current behavior**

The site [prisma.sh](https://app.prisma.sh) shows the notification: `GraphQL error: __typename did not match an object type: UpdateSecrets`

**Reproduction**

- Change the value of `PRISMA_SECRET` in the file "`.env`"
- Go to `https://app.prisma.sh/<slug>/services`
- Select a service from the list in which there were changes (or go to `https://app.prisma.sh/<slu

[2018-03-19 12:27] marktani commented on #2113
Issue moved to [graphcool/prisma-cloud-feedback #107](https://github.com/graphcool/prisma-cloud-feedback/issues/107) via [**ZenHub**](https://www.zenhub.com/)

[2018-03-19 12:27] #2113 closed

[2018-03-19 13:14] #2111 closed

[2018-03-19 13:19] #2110 closed

[2018-03-19 13:19] #2070 closed

[2018-03-19 13:29] oguzgelal opened #2114 "Inheritance in Schema definitions"
Hello. I was wondering if there's a way to implement inheritance with schema definitions.

So for example:

[code]

When I create an Employee with `createEmployee` the `id`, `name` etc. fields should be available, along with `department` and `role`. Also, for example in the following case:

[code]

`people` field of SomeType should be able to connect with both `Customer` and `Employee` instances a

[2018-03-19 14:35] johhansantana commented on #2024
I think what @giapnhtadi meant is that the issue is not really fixed because you can't import a backup yet successfully, even in the unstable channel.

[2018-03-19 15:01] marktani commented on #2112
Thanks a lot for sharing your insights, @FredyC!
Would you mind moving this discussion to the **Show & Tell** section [in the Forum](https://www.graph.cool/forum/c/show-tell)? 🙂I'd love to mention it in the **Awesome Prisma** [list](https://www.graph.cool/forum/t/sparkles-awesome-prisma/2878?u=nilan).

[2018-03-19 15:01] #2112 closed

[2018-03-19 15:40] ForsakenHarmony commented on #171
This would be very nice to have in prisma, are there any plans?

[2018-03-19 16:15] marktani commented on #171
Yes, a possible specification is being considered + discussed in detail here: https://github.com/graphcool/prisma/issues/1300

[2018-03-19 16:54] danielrasmuson commented on #1312
Is this proposal on the roadmap?

[2018-03-19 17:37] darkenedsoul2k1 opened #2116 "Use SSL variables feature"
# Feature Request

**What feature are you missing?**
"Use SSL" environment variables for both Client/Internal MySQL connections instead of hard coding useSSL=false in the program's JDBC connection strings.

**How could this feature look like in detail? Tradeoffs?**
In affected application.conf's in the source code it could look like this:
`url = "jdbc:mysql://"${SQL_CLIENT_HOST}":"${SQL_CLIENT_POR

[2018-03-19 18:57] divyenduz commented on #1896
I (now) think that bindings are working as expected.. the error arises when `execute` is called after resolution of data from `binding`. Because that result has aliases and [default resolver](https://github.com/graphql/graphql-js/blob/fb27b92a5f66466fd8143efc41e1d6b9da97b1f4/src/execution/execute.js#L1308) of `graphql-js` does not support aliases!

The result of the `binding` has aliases mentioned

[2018-03-19 22:22] FredyC commented on #1943
@timsuchanek Just ran into this and it's especially painful with Typescript generated bindings. If you can direct me where this is generated, I can give a stab at fixing it.

[2018-03-19 23:19] artemzakharov commented on #2109
@marktani It works! I was actually aware of that issue beforehand, and under the impression that I had already attempted that solution, but I guess something was off in my attempt - it works now. Thank you!

[2018-03-19 23:19] #2109 closed

[2018-03-19 23:24] marktani commented on #1734
This has been confirmed to also affect server-side subscriptions: https://github.com/graphcool/prisma/issues/2109.

[2018-03-19 23:24] marktani commented on #1734
@tfiwm, we are still working on a fix for this 🙂

[2018-03-19 23:35] marktani commented on #2109
Thanks a lot for confirming! I added a note to #1734 that also server-side subscriptions are affected by this current limitation.

[2018-03-20 06:34] Fonz001 opened #2117 "Prisma crashes on some services when using default seed.graphql"
I have two services (`staging2`, `staging`) on the same cluster, when I run `prisma delete && prisma deploy` on the newer `staging2`, everything runs fine. When I do the same on the older `staging`, the services crashes and is completely unreachable.

However, disabling the `seed.graphql` (which was default from the boilerplate, only different schema) results in a working service.

I can't really

[2018-03-20 06:36] Fonz001 commented on #2117
Oh @patrick_madx is my Slack name.

[2018-03-20 06:38] Fonz001 opened #2118 "Migration hangs after updating the datamodel"
Hi!

My migration hangs after updating the datamodel:

[code]

I can share the datamodel via Slack PM (@patrick_madx)

[2018-03-20 07:54] DakshMiglani commented on #1643
any updates on this?

[2018-03-20 09:16] mfts commented on #1349
Just an example of how much complexity these atomic operations would reduce in my case. Compare the two implementations

**Model**
[code]

**Resolver**
[code]

### Resolver Implementation
**Create or Update + Increment**
[code]

**VS**

**Upsert with atomic operations**
[code]

[2018-03-20 09:48] sorenbs commented on #1349
Thanks Marc!

This is exactly the kind of motivating use case that help us prioritise feature requests.

[2018-03-20 10:05] sorenbs commented on #1312
@danielrasmuson we are currently putting together a public roadmap for the next 6-12 months. It is safe to say that this feature will be on the roadmap as it is very highly requested :-)

[2018-03-20 10:25] lrholmes opened #2119 "Cannot create non-relational types anymore"
Since upgrading to 1.4.1 (though I haven't tried in a few versions) I am not able to create a new type in my datamodel, and refer to it without the `@relation` directive.

[code]
Using `prisma deploy` outputs the following error:
[code]
Please let me know any way that I can help to solve this issue as it's currently blocking progress for us.

[2018-03-20 10:33] marktani commented on #2119
I was able to deploy the datamodel you shared, without any problems.
Do you have a "before" and "after" schema, where you receive this error? I deployed the schema as is, in one go.

[2018-03-20 10:39] lrholmes commented on #2119
@marktani I just updated the example by adding another reference to `Country` - after another look at my own schema I believe this to be the cause of the issue. Can you try it?

[2018-03-20 10:44] marktani commented on #2119
Hey @lrholmes, this is expected behaviour. As soon as you have least two relation fields to the same type, you need to distinguish them using a relation name, as mentioned [in the docs](https://www.prismagraphql.com/docs/reference/service-configuration/data-modelling-(sdl)-eiroozae8u#relations).

[2018-03-20 10:44] #2119 closed

[2018-03-20 10:53] lrholmes commented on #2119
Ah okay, I was trying to avoid defining the other end of the relation as it's not logical for our application. Perhaps I'll use a Json type or something instead. Thanks for the information!

[2018-03-20 11:31] mwonng commented on #2108
thanks @marktani . It seems that's the problem and i reset local docker and deploy again it gonna works.

Cheers!

[2018-03-20 11:31] #2108 closed

[2018-03-20 14:29] mfts opened #2121 "Migration stuck in infinite loop when adding a second @unique variable to model"
# Bug Report

## Current behavior
On `prisma deploy` the terminal is stuck in an infinite loop.
Interestingly, the logs in terminal don't mention that the `date` field is a `unique` field.

![screen shot 2018-03-20 at 15 16 47](https://user-images.githubusercontent.com/4049052/37660357-8b81fa4e-2c52-11e8-8f34-06a4cf2e9943.png)

## Reproduction
**I changed the model from:**
[code]
**to:**
[code]

I

[2018-03-20 14:35] lionstone opened #2122 "Unable to deploy graphql server with private prisma cluster using now"
# Bug Report

**Current behavior**

When I try to a deploy my prisma-based graphql server to now.sh using [this official tutorial](https://www.prismagraphql.com/docs/tutorials/graphql-server-development/deployment-with-now-ahs1jahkee), npm run build fails with the following:

[code]

**Reproduction**

- Create a private prisma cluster
- Create graphql server locally in docker that connects to pris

[2018-03-20 15:07] davidsyoung opened #2123 ""Syntax Error: Expected Name, found }" when deploying a type without scalar fields"
# Bug Report

**Current behavior**

When including a type (as a to-one relation) that only has an id field (or an id field and a relation), I get an error on `prisma deploy`:

[code]

**Reproduction**

Types:

[code]

If I add `a: Int` to the `NutritionDays` type, it deploys without an issue.

**Expected behavior?**

Not needing to add a Scalar type to deploy without an error.

[2018-03-20 15:45] marktani commented on #2122
With help of @lionstone we confirmed that this addition resolves the problem:

---

In your `now` build script, add

[code]
You can find a valid cloud session key in your ~/.prisma/config.yml file on the machine you are logged in.

---

This note should be added to the tutorial.

[2018-03-20 15:47] rohitghatol commented on #2114
See if this project helps you -

https://github.com/nicolasdao/graphql-s2s

[2018-03-20 16:33] marktani opened #2124 "Can't have more than 2 relations between two types"
# Bug Report

**Current behavior**

When you are trying to deploy three or more relations between the same two types, you receive an internal server error:

[code]

**Reproduction**

Deploy a new service using this data model:

[code]

Uncomment `a1` and `b1` and deploy. It works!
Uncomment `a2` and `b2` and deploy. It works!
Uncomment `a3` and `b3` and deploy. It doesn't work!

This is on version

[2018-03-20 16:35] harrysolovay opened #2125 "Prisma Deploy – generated prisma.graphql file is commented out halfway through"
# Bug Report

**Current behavior**

The generated prism.graphql file gets commented out halfway through:

<img width="628" alt="screen shot 2018-03-20 at 12 26 36 pm" src="https://user-images.githubusercontent.com/4893548/37668313-8ede41a6-2c3a-11e8-8dd5-0b6db7db55a9.png">

**Reproduction**

<img width="533" alt="screen shot 2018-03-20 at 12 27 16 pm" src="https://user-images.githubusercontent.com

[2018-03-20 16:44] harrysolovay commented on #2125
Just noticed that I wasn't using UserWhereInput and not UserWhereUniqueInput, which I then changed. I also adjusted my query to the following:

`
  user(parent, args, ctx, info) {
    return ctx.db.query.user({
      where : {
        facebookId
      }
    }, info)
  }

`

I'm still getting an error: "Variable \"$_where\" got invalid value {\"facebookId\":\"1066677483399188\"}; Field \"facebookId

[2018-03-20 16:47] marktani commented on #2125
Hey @harrysolovay, you are encountering two separate problems.

You receive this error message because your `User` type does not specify the `facebookId` to be `@unique`. Please change line 8 in`datamodel.graphql` to

`facebookId!: String @unique`

then `prisma deploy` and let it regenerate the `prisma.ts` file. Your original code should then work as expected.

The cosmetic problem has been brough

[2018-03-20 17:29] harrysolovay commented on #2125
Worked like a charm! Thank you!!!

[2018-03-20 17:30] #2125 closed

[2018-03-20 22:46] steve-a-jones commented on #1824
This has been a pain point for me as well -- it is fairly difficult to _reason about_ how .graphqlconfig is being used.

For instance.. the name of the keys under `project` can be arbitrary as this logic https://github.com/graphcool/prisma/blob/670f490fa25cecc7c4b279c2ace945a232492ea4/cli/packages/prisma-cli-core/src/commands/deploy/getSchemaPathFromConfig.ts#L13 just finds a "prisma"ish configura

[2018-03-20 22:59] steve-a-jones opened #2126 "Prisma CLI breaks when NODE_ENV=test"
I discovered this while running `prisma reset` inside a child process where `NODE_ENV=true`

The following code:

https://github.com/graphcool/prisma/blob/2f2a943cd2eba668af97f9472490d65f9f33ceec/cli/packages/prisma-cli-engine/src/Config.ts#L202

will result in the follow error from the child process...

[code]

Because it alters `cwd`.

Is this intentional? @marktani

[2018-03-21 02:35] fcosrno commented on #2060
Seeing this too. I got around the issue by delaying the requests using the rxjs `concat` operator in my front end (Angular).
[code]

[2018-03-21 02:53] roycclu commented on #2123
I can confirm this issue.

We had to give a String field to a type with just a relation to make it deploy.

[2018-03-21 03:01] roycclu opened #2127 "prisma cli hangs"
starting this morning, prisma cli just hangs.
I set $export DEBUG="*"
And all commands including prisma login , prisma help just hang on the last line `plugin required command`

Here's full output:
[code]
Tried reinstalling prisma using npm remove -g prisma and npm install -g prisma.
Tried clearing the cache in /Users/roycclu/Library/Caches
Any ideas?

[2018-03-21 03:33] jtmthf commented on #2123
Same issue, but I found that adding `id` to `TweetPath` was enough to remove the error.

[code]

[2018-03-21 05:14] helpse opened #2128 "graphcool requiring ~/.graphcool file"
# Bug Report

**Current behavior**
When running `graphcool playground` I'm getting

[code]
Also here:

[code]

**Reproduction**
run graphcool playground

**Expected behavior?**
Playground shows up

[2018-03-21 06:46] akoenig opened #2129 "use `on-failure` restart policy in local deployment scenario"
# Feature Request

**What feature are you missing?**

The `restart: always` policy in the `docker-compose.yml` for deploying Prisma to a local cluster leads to a scenario in which the Prisma server and the MySQL will be started after the machine has been booted. I like to suggest to change the policy to `on-failure` to ensure that the containers will be started only in an error case.

**How could

[2018-03-21 09:14] #2128 closed

[2018-03-21 09:14] marktani commented on #2128
Issue moved to [graphcool/graphcool-framework #497](https://github.com/graphcool/graphcool-framework/issues/497) via [**ZenHub**](https://www.zenhub.com/)

[2018-03-21 13:29] roycclu commented on #2124
Thanks. This indeed is a huge problem for us right now. Hoping it'll get fixed soon.

[2018-03-21 14:02] mzygmunt opened #2131 "Passing cluster address and secret by cli argument or env var"
It would be nice if we could pass cluster address and secret by the cli argument or env var. To run the "prisma deploy" command by CI/CD. Then, it would not be necessary to create the file "~/.prisma/ config.yml" in the docker's image. Or by the file "database/prisma.yml".

[2018-03-21 14:23] marktani commented on #2131
Thanks a lot for your feature request!

This could be done using this command:

[code]

[2018-03-21 15:08] sergio91pt commented on #1981
I'm still having this issue on newly created projects, with prisma 1.4.1.

To replicate I created a new node-basic project with graphql-cli.
Adding this to `database/datamodel.graphql` and running `yarn prisma deploy` triggers the error:
[code]

[2018-03-21 16:22] lionstone commented on #2060
Having the same issue

`prisma-database_1  | Caused by: java.sql.SQLException: Deadlock found when trying to get lock; try restarting transaction
prisma-database_1  | Query is: insert into `prisma-airbnb-example@dev`.`_UserInvitationSent` (`id`, `A`, `B`) Select 'cjf1al37j02050797etcqygyu', (SELECT `id` FROM (SELECT * FROM `prisma-airbnb-example@dev`.`Invitation`) IDFROMWHERE WHERE `id` = ?) , `id

[2018-03-21 16:23] marktani opened #2132 "prisma playground opens wrong endpoint"
# Bug Report

**Current behavior**

Running `prisma playground` opens wrong endpoint.

**Reproduction**

[code]

This opens `http://localhost:3000/playground` in the browser.

`prisma version`: `prisma/1.4.1 (linux-x64) node-v7.2.0`
`graphql version`: `zsh: command not found: graphql`

`.graphqlconfig.yml`

[code]

`prisma.yml`

[code]

I don't have the Electron App installed.

**Expected behavior

[2018-03-21 16:49] marktani opened #2133 ""Not authorized. Please provide a proper 'Authorization' header", when deleting public service"
# Bug Report

**Current behavior**

Deleting a service from the development cluster is not possible:

[code]

**Reproduction**

[code]

**Note:** `prisma reset` works as expected.

**Expected behavior?**

The service should be deleted without a problem

[2018-03-21 16:57] marktani opened #2134 "Automatically generate missing ids when importing data"
# Feature Request

**What feature are you missing?**

When importing data using `prisma import`, you receive this error message for nodes missing an `id`:

It would be great if the id would be automatically generated in such a case.

**How could this feature look like in detail? Tradeoffs?**

This could either be implemented in the CLI import logic, or in the raw import endpoint.

I suggest to do

[2018-03-21 20:19] JazzJupiter commented on #1780
Is there an ETA on when this will be implemented? This seems like a rather large missing feature.

[2018-03-21 21:26] harrysolovay opened #2135 "Unable to connect Post to User"
# Bug Report

Upon calling the createPost mutation (which tries to connect the post to the author), I get the following error:

`
Error: Cannot return null for non-nullable field Post.author.
    at completeValue (/Users/harrysolovay/DEV/Minno/2/server/node_modules/graphql/execution/execute.js:638:13)
    at completeValueWithLocatedError (/Users/harrysolovay/DEV/Minno/2/server/node_modules/graphql

[2018-03-21 22:27] FredyC commented on #146
Little bump here? I was kinda hoping that with Prisma there could be a solution to this. I think that @Jannis described the issue well in https://github.com/graphcool/prisma/issues/146#issuecomment-347549500.

@marktani @schickling Do you have at least some timeline now?

[2018-03-22 00:58] maarteNNNN commented on #2135
[code]

Try it like this

[2018-03-22 01:19] rush-levint commented on #2023
I'm looking for this option too.

[2018-03-22 03:20] yoorw commented on #2124
@marktani .....Thanks for reporting this bug.
However in my case I am not able to deploy using 2 relations on 2 same types.
In your example above, deploy fails at

You don't have that problem?

[2018-03-22 04:49] harrysolovay commented on #2135
My computer crashed :(

fortunately I have everything backed up. As soon as I get my computer fixed, I'll try it that way & get back to you about whether or not it worked. Thank you!

[2018-03-22 09:37] marktani commented on #1769
I'm reopening this. An example for relay connections would be super useful!

[2018-03-22 10:30] marktani opened #2137 "Anonymous session is timing out"
# Bug Report

**Current behavior**

It appears to be the case that "anonymous" sessions in the CLI are expiring after some while (30 days?).

This leads to the following scenario (all while not being logged in in the CLI):

* deploy a project to the development cluster
* time goes by and the session expires
* try to deploy again => you'll receive this error:

**Reproduction**

See above.

**Expect

[2018-03-22 13:45] marktani commented on #1780
Thanks for your feedback, @vanimschootrein! I agree, this is a great feature to add. It's on our roadmap and we'll tackle it soon :slightly_smiling_face:

[2018-03-22 15:40] rccclr opened #2138 "Prisma CLI installation with errors not available"
**Please post usage questions or broader discussions in the [Forum](https://www.graph.cool/forum/)**.

---
$ sudo npm install -g prisma
/home/osboxes/.npm-global/bin/prisma -> /home/osboxes/.npm-global/lib/node_modules/prisma/dist/index.js

**sh: 1: prisma: not found**

npm WARN ajv-keywords@3.1.0 requires a peer of ajv@^6.0.0 but none is installed. You must install peer dependencies yourself.
npm

[2018-03-22 15:44] davidsyoung commented on #2124
I was the one that reported this to @marktani, but just want to echo the above - huge problem here too.

[2018-03-22 16:33] maarteNNNN commented on #1350
I think GCP Kubernetes can be checked [link here](https://www.prismagraphql.com/docs/tutorials/cluster-deployment/kubernetes-aiqu8ahgha)

[2018-03-22 16:54] inxeptionjake opened #2139 "Graphcool project is unresponsive about half of the time"
# Bug Report
On of my Graphcool projects (cje7kwnrz1bar0136nvbt0240) is unresponsive about half of the time.

I get the following errors from the browser when making GraphQL calls:
- Failed to load https://api.graph.cool/simple/v1/cje7kwnrz1bar0136nvbt0240: No 'Access-Control-Allow-Origin' header is present on the requested resource. Origin 'https://tubthings-crate.inxeption.io' is therefore not a

[2018-03-22 17:40] marktani opened #2140 "Internal server error for specific deleteMany mutation with deep filter"
# Bug Report

**Current behavior**

Running a specific `deleteManyXs` mutation with deep filters results in an internal server error.

**Reproduction**

[code]

Adjust `datamodel.graphql` to

[code]

[code]

Add some data:

[code]

Try to run the following `deleteManyAs` mutation:

[code]

You'll receive an internal server error, with logs similar to this:

[code]

Running the same mutation withou

[2018-03-22 18:35] netspencer commented on #2122
This is what I'm doing:

`now secret set prisma-token $(prisma token)`'

and then setting the env variable to the value of the secret

[code]

[2018-03-22 18:43] marktani commented on #2139
Issue moved to [graphcool/graphcool-framework #500](https://github.com/graphcool/graphcool-framework/issues/500) via [**ZenHub**](https://www.zenhub.com/)

[2018-03-22 18:43] #2139 closed

[2018-03-22 19:10] marktani commented on #2024
Hey @donedgardo @johhansantana @giapnhtadi, [this PR](https://github.com/graphcool/prisma/pull/2120) includes a fix for the problems you observes, as well as performance improvements. It is available on the latest beta. I would love to hear your feedback about it :slightly_smiling_face:

[2018-03-22 21:12] marktani commented on #2024
I'm so sorry, I mixed it up :see_no_evil: https://github.com/graphcool/prisma/pull/2115 is the PR in question, and it's still open. We'll merge it soon, and I will notify you then.

[2018-03-22 21:30] FredyC commented on #1943
Ok, I think I've tracked the whole thing down to this point.

https://github.com/graphcool/prisma/blob/3fe3c11073f38bc23f631fd1438760db1a8c4b5b/server/servers/api/src/main/scala/com/prisma/api/schema/ObjectTypeBuilder.scala#L136

I don't know Scala, but this part seems to be ok. That would mean that `isRequired` on `models.Field` is somehow messed up, but I cannot that class. I assume that whole `

[2018-03-22 21:38] johhansantana commented on #2024
@marktani Weird thing is that I tried today again to do the import locally and it worked this time. I took a few minutes to complete but the manual import worked.

Not sure if there's anything that has been changed since my last attempt though. Can anyone else confirm?

[2018-03-22 23:27] FredyC commented on #1734
So does this mean that subscriptions are pretty much unusable? Or to be more precise all filtering has to be done in the application code. In that case, can someone point me in a direction how to chew on that AsyncIterator thing?

[code]

[2018-03-23 02:08] rush-levint commented on #1350
My attempts to use [Digital Ocean (Docker Machine)](https://www.prismagraphql.com/docs/tutorials/cluster-deployment/digital-ocean-(docker-machine)-texoo9aemu) for AWS EC2 all failed. Hoping that there is an official guide on this sooner.

[2018-03-23 05:42] maticzav commented on #1350
@rush-levint try deploying with manual guide. Docker machine is known to fail and we are looking into it.

[2018-03-23 07:00] FredyC commented on #1350
@rush-levint Check [out my "guide" for EC2](https://www.graph.cool/forum/t/deployment-of-prisma-to-aws-ec2/2880), it's also based on Docker Machine guide and it worked out for me just fine.

[2018-03-23 08:45] do4gr commented on #2024
@johhansantana The import was sometimes failing due to using too much of the JVM's memory. So it was not entirely predictable when or if it would fail. If you had enough free memory before and were not doing anything else with your server it might have gone through even before the changes. The last PR includes an almost complete rework of import to use less memory. It also should speed up the impo

[2018-03-23 09:31] Huvik opened #2141 "Enum migration guide"
# Enum migration guide

**What feature are you missing?**
Enum migration guide, because when you have some enum in Prisma and rename it. Prisma get stuck on this record, you can't read or update the only possibility is to delete this record.

**How could this feature look like in detail? Tradeoffs?**
Provide some information in docs. For example first you add new enum -> deploy -> update -> remove

[2018-03-23 10:38] marktani commented on #1943
Thanks a lot for your feedback, @FredyC. I think a great first step is to start out with a test case that fails. Then you can dive into the solution :slightly_smiling_face:

From what I can tell, because of this inconsistent schema generation, your generated bindings accepts `null` for some fields but it shouldn't.Can you help me understand the exact troubles you are experiencing as a consequence?

[2018-03-23 11:56] FredyC commented on #1943
@marktani  Thank you for your response

I would love to provide a test case, but since this is Scala issue, I am not sure how that's done in there. I've been looking into some present tests, but it's so far from Jest and my head exploded :)

Ultimately the issue bubbles up to this in resolvers. You can spot that I have to force type return value because of inconsistent typings. It doesn't feel lik

[2018-03-23 12:35] marktani opened #2142 "Public Roadmap"

[2018-03-23 12:49] vanimschootrein commented on #2142
For transparency and clarity's sake, I think this is a good idea.

[2018-03-23 16:06] marktani commented on #2138
Hey @rccclr this looks like your local npm installation is not setup correctly :slightly_smiling_face:

[2018-03-23 16:08] marktani opened #2144 "Provide cluster parameter for cluster logs command"
# Feature Request

**What feature are you missing?**

A `--cluster` and `-c` flag for `prisma cluster logs` would be very useful:

`prisma cluster logs -c local`

This could help with issues like #2086.

[2018-03-23 16:56] marktani commented on #1946
It seems all problems were resolved :slightly_smiling_face:

For anyone still running into this problem, you might need to also upgrade your `docker-compose` version.

[2018-03-23 16:56] #1946 closed

[2018-03-23 17:09] marktani commented on #1588
This was fixed a while ago.

[2018-03-23 17:09] #1588 closed

[2018-03-23 17:09] marktani commented on #1603
This was fixed a while ago.

[2018-03-23 17:09] #1603 closed

[2018-03-23 17:15] jferrettiboke opened #2146 ""Couldn’t find `prisma.yml` file. Are you in the right directory?""
Hello!

I am experiencing an error when I run my tests with Jest, `yarn test`. The error is "Couldn’t find `prisma.yml` file. Are you in the right directory?".

[code]

Basically, `resetDatabaseData()` executes this command: `prisma reset --env-file .env --force`.

[code]

The `resetDatabaseData()` function is working because I tested it creating a `script.js` file and executing `node tests/script

[2018-03-23 17:16] marktani commented on #1963
This seems resolved :slightly_smiling_face: I'll close this due to inactivity. Please create a new issue if you are experiencing a similar problem.

[2018-03-23 17:18] marktani commented on #1973
I'll close this as it was resolved in `graphql-cli@2.15.6`. Please let me know if you are still encountering this issue.

[2018-03-23 17:18] #1973 closed

[2018-03-23 17:33] RoryKelly opened #2147 "updatedAt is not updated when relations are changed"
# Bug Report

**Current behavior**

[code]
if I connect a review to a content the updatedAt time of the content does not change

**Reproduction**

**Expected behavior?**
when I connect a review to a Content updatedAt should change to the current time.

[2018-03-23 17:37] marktani commented on #2147
This is expected behaviour. You can ensure the `updatedAt` field is updated by also updating a dummy field on the for example.

Feel free to turn this into a feature request :slightly_smiling_face:

[2018-03-23 18:46] terion-name opened #2148 "Broken schema"
Fighting with programmatic control (#1948) I've already handled to bring it all up, but suddenly I've began to face a strange issue on server's schema introspection:

[code]

As it can be seen from db, project was succesfully deployed and migrated (with db schemas provided by `graphql-server-example`):

<img width="1792" alt="2018-03-23 20 24 26" src="https://user-images.githubusercontent.com/1060

[2018-03-24 04:53] robbyemmert commented on #700
Can you mention the issue this is being tracked on? I need to be able to rename relations without resetting my production database.

Thanks!

[2018-03-24 08:04] mzygmunt commented on #2131
@marktani When I try to execute this command, than I get error "Unknown flag --endpoint". Are these parameters in version 1.4.1?

[2018-03-24 08:15] marktani commented on #2131
My message was a suggestion for introducing these flags. They are not present yet.

[2018-03-24 11:19] tomsdev commented on #1382
I'd also like to know what is the plan here. I think non-null is a feature that developers should be able to chose to use if they understand the tradeoffs however Prisma could make improvements on the null values handling in non-null fields, for example:

Returning null for an entire array when just one item has an unexpected null value is not what I'd expect as a developer, instead I'd expect the

[2018-03-24 13:00] mzygmunt commented on #2131
@marktani I added this functionality as you suggested #2149

[2018-03-24 14:01] MarcCoet commented on #1275
@marktani I see plenty of use cases for an ordered list of relations. Any time a list of entities can be sorted by the user we would need to filter and mutate the positions in the list.
Hence I am glad to read @sorenbs 's comment:

Can you tell us your current position on this?

I would also really appreciate some guidance. I have been reading a lot about the subject these past couple of days but

[2018-03-24 16:26] jferrettiboke opened #2150 "Self-relationship to many without being required"
# Bug Report

**Current behavior**

[code]

[code]

`[Event!]!` is not good for me since one event might or might not have sub-events.

**Expected behavior?**

- One event might have many sub-events or it might not have any.
- One event might belong to another event or it might not.

I know how to solve this on the app GraghQL API layer, but I would like to do it on the database layer setting up a

[2018-03-24 16:50] harrysolovay commented on #2135
It worked!!! Closing the issue :)

[2018-03-24 16:50] #2135 closed

[2018-03-24 17:48] jferrettiboke commented on #2150
Oops! Sorry, guys. I misunderstood this. I thought that having `[Event!]!` requires to obligatory specify a sub-event. I got it!

[2018-03-24 17:48] #2150 closed

[2018-03-24 18:36] Jscott388 commented on #83
Where does this stand? I'm designing a real estate project. So I could use something like this. I have different property types. I have residential and commercial for example. They have different fields requirements.

[2018-03-25 15:57] skovhus commented on #2060
Seems like a rather critical bug... @marktani @nikolasburk any idea what is causing this? Or suggested workarounds?

[2018-03-25 16:01] skovhus commented on #2060
Note: I could not reproduce this issue in my codebase using `prisma@1.3.2`, but `1.4.1` fails.

[2018-03-25 20:53] juicycleff commented on #2133
Also noticed this issue today. Usually fixed this by generating a new token, but after prisma update, new token doesn't fix it

[2018-03-26 00:30] sorenbs opened #2151 "Adaptive request limit"
GraphQL requests can vary wildly in complexity. As such it is not possible to determine a static upper limit for max requests per second a server can handle. Instead, Prisma should apply adaptive techniques described the following articles:

https://medium.com/@NetflixTechBlog/performance-under-load-3e6fa9a60581
http://www.evanjones.ca/prevent-server-overload.html

[2018-03-26 09:27] marktani opened #2152 "Make custom additions to the SDL part of the generated schema"
# Feature Request

This feature requests acts as a central place to discuss making custom additions to the SDL part of the generated schema. There have been various discussions about this before.

Please add your use cases in a new comment below, so I can add them to this list.

## What feature are you missing?

When working with Prisma, it's desired or beneficial In several situations to be able

[2018-03-26 11:02] Huvik commented on #114
Any news on it? :)

[2018-03-26 11:16] marktani opened #2153 "Internal server error when setting list of Json"
# Bug Report

**Current behavior**

Setting a field of type `[Json!]!` results in an internal server error.

**Reproduction**

[code]

[code]

This results in following error:

[code]

**Note:** I currently don't have access to a local cluster to reproduce logs. If you have the cluster logs for this error, please share them in a comment.

**Expected behavior?**

The mutation works as expected, set

[2018-03-26 13:19] marktani opened #2154 "Explain why required to-many relation is not required in input"
More context here: https://github.com/graphcool/prisma/issues/2150

[2018-03-26 13:19] marktani commented on #2150
Thanks a lot for bringing this up, @jferrettiboke. We should improve the documentation to clear things up around this topic. I created this issue to start a discussion about this: https://github.com/graphcool/prisma/issues/2154

[2018-03-26 13:21] marktani commented on #83
Thanks a lot for your feedback everyone!

@adamjking3, a similar discussion has started here: https://www.graph.cool/forum/t/feed-with-multiple-types-interfaces-unions-workaround/2450?u=nilan. I think your input there would be very valuable.

@couturecraigj @Jscott388, we are currently working on a public roadmap that gives you an insight into what we're currently working at. You can follow our pr

[2018-03-26 14:31] marktani commented on #1382
You can use the `xsConnection` queries, that expose an required `edges` array of optional `node`s. If one `node` is `null`, that doesn't "propograte" to the entire list in this case.

Does that resolve your problem, @tomsdev?

[2018-03-26 14:35] terion-name commented on #2148
This is insane. Keeping EVERYTHING the same, except application name:

test-dosvit-app-prisma-mysql — not working
test-dosvit-app-mysql-prisma — not working
test-dosvit-appmysql-prisma — WORKING
test-dosvit-app_mysql_prisma — working

How this could even be?

[2018-03-26 14:42] marktani commented on #2148
Do you notice problems for the following two?

* `abc-abc-abc-abc-abc`
* `abc-abc-abc_abc_abc`

[2018-03-26 15:19] terion-name commented on #2148
@marktani  I'm digging this all and as for now it seems to be not naming, but a very strange networking (?) problem. I noticed that everything breaks when I am connecting to the docker network another container with graphql-express, that consumes (proxying) prisma via internal network and binds/exposes port 3000. Will update when dig out more details

[2018-03-26 15:46] terion-name commented on #2148
@marktani I've finally got it. The situation is like this:

I bring up a mysql container, a prisma container and a separate application container.

The process:

1. Start mysql and wait it to be ready
2. Start Prisma and wait it to be ready
3. Read the configs and db-graphql-shemas
4. Create the project in Prisma and migrate it
5. Start application container

The application container contains an

[2018-03-26 15:57] abelovic commented on #1973
I am getting this error (although not when doing prisma deploy). I have tried all the suggestions above and here is my versions:

prisma-binding: 1.5.16
graphql-cli: 2.15.8
prisma: 1.4.2

I'm trying to generate the typeDefs (using graphql-import-loader) so that I can use with webpack/serverless. See this for more info:

https://www.graph.cool/forum/t/how-to-import-prisma-typedefs-with-webpack/2761

[2018-03-26 16:05] abhiindia opened #2156 "Need MySQL connector for wordpress database"
**Please post usage questions or broader discussions in the [Forum](https://www.graph.cool/forum/)**.

I want to use Prisma for React application which interact with MySQL database. Do anyone have working example of MySQL connector with reactjs??

For **feature requests**, please fill out the [feature request template](https://github.com/graphcool/prisma/issues/new?template=feature_request.md)

--

[2018-03-26 16:09] ipodishima commented on #1569
I also get the same error. I imagine that for now you need to explicitely name the references on both side?

[2018-03-26 21:54] steve-a-jones commented on #2146
See my related issue here: https://github.com/graphcool/prisma/issues/2126. I'm doing the exact same thing as you.

There is low level prisma code that conditionally generates random directories when `NODE_ENV=test` (which is the case for testing). My hack for now is to overwrite the `NODE_ENV` environment var for the child process to anything but `test` so that I can perform a reset.

[2018-03-26 21:58] steve-a-jones commented on #1536
Really looking forward to this feature - destroying services each time for the sake of resetting seeds is overkill.

[2018-03-26 23:07] schickling commented on #114
Not yet but seems like a very useful feature that shouldn't take too much time to implement. For the next few weeks the focus of our core development team is mostly on implementing the Postgres + MongoDB connectors but this should also be a great feature for someone to contribute!

[2018-03-27 00:04] merges opened #2157 "Docs should not assume user has yarn installed, or note npm as alternative"
All of the Prisma docs and boilerplate setups assume the user has `yarn` installed. Docs should mention that `npm` can be used in place of `yarn`.

[2018-03-27 00:37] merges opened #2158 "Fullstack React boilerplate docs refer to database/seed.graphql which does not exist"
Docs: https://www.prismagraphql.com/docs/quickstart/fullstack/react/apollo-tijghei9go
Contains broken link to: https://github.com/graphql-boilerplates/react-fullstack-graphql/tree/master/basic/server/database/seed.graphql

`seed.graphql` is also not created when running `prisma init`.

[2018-03-27 02:22] maarteNNNN opened #2159 "Cascading Deletes (NO_ACTION)"
# Bug Report
#1262 This is where I found the information.
When using NO_ACTION and deploying with `prisma deploy` I get an error:
[code]
**Current behavior**
[code]
produces an error
however using:
[code]
Works fine.

**Expected behavior?**
NO_ACTION should be working.

[2018-03-27 08:56] marktani opened #2160 "add createMany mutation"
# Feature Request

A `createManyXs` mutation to create many nodes in a batched fashion.

Suggested API:

[code]

[2018-03-27 18:42] sorenbs opened #2162 "Ability to configure the max node limit"
By default Prisma limits queries to return 1000 nodes. Developers are required to use pagination techniques to retrieve more data.

When setting up a Prisma cluster it should be possible to override this limit to either disable it or set a different limit.

Introduce an environment variable called `MAX_NODE_LIMIT`.

- if it is not set, default to 1000
- if set too 0, disable the limit
- if set to

[2018-03-27 19:22] timBrockman commented on #74
Not sure if this is useful as I'm pretty new to this project, but the type of story problem I usually look to solve with transactions are something like this: Player1 purchases a unique item from Player2 for 2 coins without spending coins that don't exist or destroying/duplicating anything.

[code]

I can almost make this happen with nested mutations by adding another type (Exchange) to provide ed

[2018-03-28 08:14] do4gr commented on #2159
Hey, if you follow the comment thread in that issue you will see that we decided to not implement NO_ACTION in the first draft. We want to make sure that there is a real need for it before implementing it. I will update the top comment to reflect this decision.

[2018-03-28 08:41] #2024 closed

[2018-03-28 08:43] do4gr commented on #2024
The fix is now rolled out.

[2018-03-28 08:50] marktani commented on #2159
In this case, the `NO_ACTION` option should be removed from the docs [here](https://www.prisma.io/docs/reference/service-configuration/data-modelling-(sdl)-eiroozae8u#graphql-directives) @nikolasburk.

[2018-03-28 09:03] marktani commented on #2126
Thanks for the report, @steve-a-jones. That's a known limitation for now, but we could certainly improve this behaviour!

[2018-03-28 09:04] marktani commented on #2146
Thanks for chiming in @steve-a-jones, that does seem related. Can you confirm, @jferrettiboke?

[2018-03-28 12:04] wuzhuzhu commented on #1946
I stuck in this problem as well. And my docker osx software is fresh installed.
docker-compose version 1.20.1, build 5d8c71b

[2018-03-28 13:03] marktani commented on #1905
Hey @idkjs I'm afraid I'm not quite following your problem. Can you elaborate what specific problem you're facing?

@ammichael, you can check out https://blog.graph.cool/deploying-graphql-servers-with-zeit-now-85f4757b79a7 as a start :slightly_smiling_face:

[2018-03-28 14:10] jferrettiboke commented on #2146
Hi @steve-a-jones!

Thanks for your answer but it doesn't work for me. Here what I did. Let me know what's wrong.

[code]

I run my tests but I am getting the same error. Any idea?

[2018-03-28 14:58] DanielDanielDanielDanielDaniel opened #2164 "bitte"
tim komm mal mit bouldern

[2018-03-28 15:02] timsuchanek commented on #2164
Haha Daniel will do! Let's discuss in telegram 🐵

[2018-03-28 15:02] #2164 closed

[2018-03-28 15:05] idkjs commented on #1905
Just an FYI. Will re-issue if comes up again.

[2018-03-28 15:05] #1905 closed

[2018-03-28 15:10] Huvik commented on #2164
LOL :D

[2018-03-28 15:45] roycclu commented on #2124
@marktani Hi Nilan,
Has this issue been solved in the latest release??

[2018-03-28 15:58] steve-a-jones commented on #2146
Hey @jferrettiboke!

You're close, but the hack involves updating `process.env.NODE_ENV` on the child process itself (updating on the parent process itself had adverse affects for me)

Here's what works for me:

[code]

[2018-03-28 17:06] jferrettiboke commented on #2146
@steve-a-jones Thanks! Everything is fine now.

[2018-03-28 17:09] marktani commented on #2146
Thanks a lot you two. I'll close this as it's resolved, please see #2126 for more background information.

[2018-03-28 17:09] #2146 closed

[2018-03-28 17:28] marktani commented on #2132
still happens with `prisma/1.5.1 (linux-x64) node-v7.2.0`.

[2018-03-28 17:51] printedheart opened #2165 "Old .import folder is not cleaned up correctly"
# Bug Report

**Current behavior**
Old DataSetAExport
New DataSetBExport

`.import` folder can be left behind when importing different exports

**Reproduction**

After importing DataSetAExport and failing or timing out or repeating on `prisma import -d DataSetAExport.zip` a folder named `.import` can be left in the directory.

The data is reset with `prisma reset`

When then attempting to import D

[2018-03-28 18:09] marktani commented on #2074
Thanks for bringing this up @souleman13, great that you found a workaround :slightly_smiling_face:

The general issue is being tracked here: https://github.com/graphcool/prisma/issues/1579.

[2018-03-28 18:09] #2074 closed

[2018-03-28 18:13] delta98 commented on #1579
I'm still able to replicate this issue.

[code]

`prisma/1.5.1 (darwin-x64) node-v9.8.0`

Successfully creates the parent node, but nested mutations aren't applied. Really appreciate it if this issue could be resolved.

[2018-03-28 18:14] Huvik commented on #1579
You can't connect nodes inside upsert yet, you can see it few messages up

[2018-03-28 19:14] Nedomas commented on #1312
Looking forward to this as we're currently in need of this and have run into this limitation with both graphcool and prisma. Let me know if there's anything I can help with this @sorenbs

[2018-03-28 20:12] Nedomas commented on #1228
@kbrandwijk did you guys have some progress on @cacheControl? I know a lot of time has passed, just wondering if there's any easy way to implement it at the moment.

[2018-03-28 20:43] c316 commented on #2133
Anyone getting here from googling the issue title might also be getting the message from using `prisma deploy`

I had to `prisma login` then it got hung up, I refreshed the browser and canceled the login from the console. Then I did the `prisma login` again and I was able to get the console to authenticate and `prisma deploy` without a problem.

[2018-03-29 03:07] cameronk commented on #2023
@marktani Bumping this b/c it's a blocker for deploying Prisma to Fargate, which is a pretty solid solution for hosting containers, especially for those of us who are new to container orchestration and don't want to deal with hosting servers ourselves or running Kubernetes.

[2018-03-29 08:51] divyenduz commented on #2132
Does not happen with `prisma/1.3.3 (darwin-x64) node-v8.4.0` or `prisma/1.5.1 (darwin-x64) node-v8.4.0`

Playground electron app opens the correct URL for me.

[2018-03-29 08:56] divyenduz commented on #2132
Able to replicate after removing electron app.

[2018-03-29 08:57] marktani opened #2167 "--web flag is ignored for prisma playground command"
# Bug Report

**Current behavior**

`prisma playground --web` opens electron app.

**Reproduction**

[code]

**Expected behavior?**

`prisma playground --web` opens PG in browser

[2018-03-29 10:03] #1327 closed

[2018-03-29 10:06] marktani commented on #1608
I close this due as I believe it's fixed now. Please create a new issue if you're still encountering this.

[2018-03-29 10:06] #1608 closed

[2018-03-29 10:07] marktani commented on #1684
The quickstart has since been improved a lot, so I'm closing this. Please create a new issue if you're still encountering problems.

[2018-03-29 10:07] #1684 closed

[2018-03-29 10:08] marktani commented on #1659
I'll close this issue, please refer to the mentioned one above.

[2018-03-29 10:09] marktani commented on #1719
Where do you want to add this?

[2018-03-29 10:11] marktani commented on #1758
I'm closing this due to inactivity. Please open a new issue if you still encounter any problems :slightly_smiling_face:

[2018-03-29 10:11] #1758 closed

[2018-03-29 10:14] marktani commented on #1790
I'm closing this due to inactivity. Please create a new issue if you encounter this error message again!

[2018-03-29 10:14] #1790 closed

[2018-03-29 10:15] marktani commented on #1802
Thanks for bringing this up, I added it to #2018.

[2018-03-29 10:17] marktani commented on #1823
That's intended behaviour at the moment. I created a detailed feature request to support SDL features like comments/descriptions in the datamodel here: #2152.

[2018-03-29 10:17] #1823 closed

[2018-03-29 10:19] marktani commented on #1835
I can't reproduce this anymore.

[2018-03-29 10:19] #1835 closed

[2018-03-29 10:20] marktani commented on #1827
I'm closing this due to inactivity, and I believe it is fixed by now.
Please create a new issue if you still encounter any problem :slightly_smiling_face:

[2018-03-29 10:20] #1827 closed

[2018-03-29 10:21] marktani commented on #1836
Added to this list: https://github.com/graphcool/prisma/issues/2018.

[2018-03-29 10:26] marktani commented on #1907
Thanks for bringing this up, @adamjking3.

This behaviour stems from the fact that the two pairs of two fields for two relations between the same types cannot be associated to each other unambiguously.

Consider this:

* You _cannot_ define two relations between the same types _without_ specifying `@relation`.
* You _can_ define two relations between the same types by specifying `@relation` on _bo

[2018-03-29 10:27] marktani commented on #2041
I'm closing this, as it seems to be a problem with an outdated schema file. Regenerating it should resolve this issue.

Please let me know if you have any questions :slightly_smiling_face:

[2018-03-29 10:27] #2041 closed

[2018-03-29 10:29] marktani commented on #2047
Please track https://github.com/graphql/graphql-js/issues/1285 for further discussion.

[2018-03-29 10:29] #2047 closed

[2018-03-29 10:32] marktani commented on #2076
Thanks to @johannpinson for fixing this in #2078. :raised_hands:

[2018-03-29 10:32] #2076 closed

[2018-03-29 10:32] marktani commented on #2083
I see no reason why this wouldn't work. Have you tried it?

[2018-03-29 10:36] marktani commented on #2118
Thanks, added to https://github.com/graphcool/prisma/issues/2018! :slightly_smiling_face:

[2018-03-29 10:37] marktani commented on #2141
This also sounds like an underlying problem that is either a bug or a feature. How could we make enum migration better?

[2018-03-29 10:38] #2147 closed

[2018-03-29 10:39] marktani commented on #2156
There is already a MySQL connector. Have you tried out the quickstart? That works against a local MySQL DB, but you can change the `docker-compose.yml` to connect to a remote one as well.

https://www.prismagraphql.com/docs/quickstart/

[2018-03-29 10:39] #2156 closed

[2018-03-29 10:48] divyenduz commented on #2026
I am also able to replicate this issue.

[2018-03-29 12:00] marktani opened #2169 "Server side subscriptions are not triggered"
# Bug Report

**Current behavior**

Server side subscriptions are not triggered.

**Reproduction**

[code]

Add `subscriptions` to `prisma.yml` file:

[code]

[code]

[code]

Refresh browser at webhook URL. No event is triggered.

**Expected behavior?**

Event is triggered.

[2018-03-29 12:56] coniel commented on #1682
I am getting a similar error with my own queries/mutations (queries/mutations which came with the boilerplate work fine). I created a forum post with the details: https://www.graph.cool/forum/t/prisma-boilerplate-existing-queries-mutations-work-but-my-own-do-not-error-variable-data-cannot-be-non-input-type-subjectcreateinput/2998

[2018-03-29 14:08] steida commented on #1719
@marktani Everywhere where JavaScript is. Examples for example. Prettier is defacto standard.

[2018-03-29 14:26] #2038 closed

[2018-03-29 15:07] KingIdee commented on #1963
Hi! I'm still experiencing the same issue
prisma/1.5.1 (linux-x64) node-v7.10.1

[2018-03-30 00:02] sorenbs commented on #2122
Thanks for finding this out!

@nikolasburk - we should make sure this is properly reflected in the docs at https://www.prisma.io/docs/tutorials/graphql-server-development/deployment-with-now-ahs1jahkee

[2018-03-30 01:25] sorenbs commented on #54
Duplicate of https://github.com/graphcool/prisma/issues/83

[2018-03-30 01:25] #54 closed

[2018-03-30 01:26] sorenbs commented on #2114
See https://github.com/graphcool/prisma/issues/83

This is something we will implement :-)

[2018-03-30 01:26] #2114 closed

[2018-03-30 01:26] Fi1osof commented on #2083
Yes, i tried and it does not work. No errors, just no extends.

[2018-03-30 05:27] marktani commented on #1963
@KingIdee, please upgrade your node version to a more recent one.

[2018-03-30 07:07] Epotignano opened #2170 "Deployment is stuck on 'Applying changes' when making a unique optional field required"
Before:

[code]

After:
[code]

Only changing auth0UserId to required is causing that my deploy is never completed.
My package.json looks like:
[code]

[2018-03-30 11:55] marktani commented on #2170
Thanks @Epotignano, I can reproduce this error on `1.5.1`. I added it to this list: #2018.

Note: you don't need to use the `@model` directive anymore. It is being ignored and has no effect.

[2018-03-30 14:18] marktani commented on #2169
This was fixed in #2171, it is available in `1.5.2`.

[2018-03-30 14:18] #2169 closed

[2018-03-30 15:17] marktani opened #2172 "Minor issues with duplicate enums in datamodel"
# Bug Report

**Initial Deploy**

You can define the same enum multiple times.

[code]

[code]

[code]

**Further Deploy**

Now, deploy again without any changes. You'll get this:

[code]

[code]

So, only the first one is picked up.

You can repeat this deploy again and again, with the same result.

**Expected behavior?**

In initial or further deploys, enum definitions must use unique names. If

[2018-03-30 15:17] marktani commented on #2172
Added to https://github.com/graphcool/prisma/issues/2018.

[2018-03-31 02:34] steve-a-jones commented on #2036
Looking forward to this as well -- this convenient feature was previously available in Graphcool Framework.. one could easily replace all connected nodes by supplying a new list of node `ids`.

See: https://www.graph.cool/docs/reference/graphql-api/mutation-api-ol0yuoz6go#modifying-edges-for-one-to-one-relations ... "

@marktani  - I think suggestion `A` is good first step forward, `B` will defini

[2018-03-31 05:06] horsejockey commented on #2060
It seems like I am seeing this more in 1.5.1.  @marktani is there an active branch in the repo working on this bug we could follow along with?  I wish I could contribute more to this fixing this issue but I am clueless. It is killing us in production right now.

[2018-03-31 08:14] mzygmunt commented on #1686
Some time has passed. Has anyone found a solution to the issue without hardcoding secret in docker-compose? Only this problem stopping my production deployment.

[2018-03-31 17:15] raeesaa commented on #2075
@sorenbs Any updates on this?

[2018-03-31 23:07] Fi1osof commented on #1989
I have same problem, 2 variants:
1. On http://..:4466 is OK, but http://..:4000 Opcode -1
2. On https:// website subscriptions via apollo-client OK, but when open many tabs will receive opcode -1 too (not right away). When i close other tab and reload tab with opcode, OK again.

[2018-04-01 07:39] marktani commented on #1989
Please open a new issue and provide a reproduction :slightly_smiling_face:

[2018-04-01 23:15] delta98 commented on #1686
I'm also seeing this issue when deploying to Digital Ocean.

[2018-04-02 01:15] tibotiber commented on #165
Suggesting a workaround for this at https://medium.com/@tibotiber/graphql-interfaces-and-union-types-with-prisma-and-yoga-7224f9e1d9ad. Happy to get any feedback.

[2018-04-02 01:15] tibotiber commented on #83
Suggesting a workaround for this at https://medium.com/@tibotiber/graphql-interfaces-and-union-types-with-prisma-and-yoga-7224f9e1d9ad. Happy to get any feedback.

[2018-04-02 01:46] joelseq commented on #1686
I followed the @raeesaa 's advice and hardcoded the `CLUSTER_PUBLIC_KEY` into my docker-compose.yml file with `"` instead of `'`. I also replaced all instances of `${PORT}` with the actual port number in my `.env` file since my `docker-compose config` was giving me bad output like `SCHEMA_MANAGER_ENDPOINT: http://prisma-database:$$PORT/cluster/schema`. This seemed to do the trick for me :)

[2018-04-02 02:46] gentle-noah commented on #2105
@marktani - we are starting this process this week. I will update this ticket as we discover things and any issues we run into. Hopefully that can be extracted out into a good set of examples and gotchas.

[2018-04-02 09:50] marktani commented on #1961
Hey @medelman17, thanks a lot for your report.

Something seems to have gone wrong to the `userType` field with your first migration.

*Note:* This issue is unrelated to your Kubernetes deployment setup. I changed the title accordingly.

## Resolving the issue

Connect to your database host either using the `mysql` command line, or a graphical tool like Sequel Pro or MySQL Workbench. I will use Se